.magazine-longrid {

  & > .branding {
    display: none;
  }

  &__block {
    height: auto;
  }

  &__banner {
    height: 550px;
    position: relative;

    @include respond-to('large-desktop') {
      height: 740px;
    }

    a {
      cursor: default;

      &:hover {
        opacity: 1;
      }
    }

    &_quote {
      height: 660px;

      @include respond-to('large-desktop') {
        height: 885px;
      }
    }

    &_box-shadow {

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(45deg, rgba(22, 18, 58, .8) 0%, rgba(229, 229, 229, 0) 100%);
        pointer-events: none;
        z-index: 2;
      }
    }
  }

  &__wrap {
    background: $color-dark-blue;
    display: flex;
    flex-direction: column;
    height: 100%;

    .container {
      padding: 35px 190px;

      @include respond-to('laptop') {
        padding: 35px 100px;
      }

      @include respond-to('tablet') {
        padding: 35px 15px;
      }

      @include respond-to('mobile') {
        padding: 10px 15px;
      }
    }
  }

  &__row {
    display: flex;
    flex-direction: row;

    @include respond-to('mobile') {
      flex-direction: column;
    }
  }

  &__text {
    font-family: $NerisLight;
    color: $color-white;
    font-size: 16px;
    position: relative;

    &_content-text {
      width: 50%;
      padding-right: 15px;
      margin: 0 auto;

      @include respond-to('mobile') {
        padding: 0;
        width: 100%;
      }
    }

    p {
      line-height: 22px;
      margin: 10px 0;
    }

    .big-letter {
      padding-left: 100px;
      min-height: 90px;
    }

    span {
      position: absolute;
      font-size: 115px;
      line-height: 1;
      font-family: $RobotoSlab;
    }

    &_slide-text {
      margin-left: 100px;

      @include respond-to('mobile') {
        margin-left: 0;
      }

      span {
        top: -10px;
        left: 0;
      }
    }
  }

  &__text-banner {
    padding-left: 15px;
    height: 415px;
    width: 50%;

    @include respond-to('mobile') {
      padding: 0;
      width: 100%;
    }
  }

  &__description {
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 45px;
    padding-top: 30px;
    font-size: 24px;
    font-family: $NerisLight;
    border-top: 1px solid #393557;
    color: $color-white;
  }

  &__quote {
    top: auto;
    bottom: 0;
  }

  &__content {
    background: $color-white;
    padding: 30px;
    position: relative;

    @include respond-to('mobile') {
      padding: 0;
      padding-right: 0;
    }
  }

  &__inner-content {
    box-shadow: 0 0 7px 0 rgba(19, 11, 89, .14);
    padding: 20px 25px;
    width: 100%;
    margin: 0 auto;
    max-width: 750px;
    margin-bottom: 30px;
    background: $color-white;
    overflow: hidden;

    &_comments {
      height: 100%;
    }

    @include respond-to('mobile') {
      padding: 10px;
      padding-right: 0;
    }
  }

  &__share {
    padding-top: 20px;
    border-top: 1px solid $color-light-gray;

    @include respond-to('tablet') {
      padding-right: 10px;
    }
  }

  &__tags {
    margin-bottom: 20px;
    overflow: hidden;

    @include respond-to('tablet') {
      padding-right: 10px;
    }
  }

  &__banner-bottom {
    display: block;
    margin: 9px 0;
    width: 100%;
    height: 90px;
    margin-top: 30px;

    @include respond-to('laptop') {
      display: none;
    }
  }

  & .extra-articles__button {
    display: none;
  }

  &__slider {
    padding: 115px 0 120px;
    background: $color-dark-blue;
    height: 100%;

    @include respond-to('mobile') {
      padding: 15px 0;
    }

    &_white {
      background: $color-white;
    }
  }

  &__slide {
    width: 457px;
    height: 420px;
    padding: 0 15px;
  }

  &__slide-text {
    color: $color-white;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  &__text-container {
    padding: 45px 210px 20px;
    background: $color-white;
    height: 100%;

    @include respond-to('tablet') {
      padding: 15px 100px;
    }

    @include respond-to('mobile') {
      padding: 15px;
    }

    .heading {
      font-family: $NerisLight;
      text-align: center;
      font-size: 24px;
      padding: 30px 0;
      font-weight: 300;
      border-top: 1px solid $color-light-gray;
      border-bottom: 1px solid $color-light-gray;
      margin-bottom: 40px;
      line-height: 30px;
      margin-top: 0;
    }

    p {
      line-height: 22px;
    }
  }
}
