include ../list/list
include ../button/button

mixin sale-help()
  +b.sale-help
    +list()
      +list-item()
        +b('h3').sale-help__title Продаете яхты или катера?
      +list-item()
        +b('p').sale-help__text
          | Для быстрой продажи, воспользуйтесь возможностями нашего ресурса:
        +b('ul').sale-help__list
          +b('li').sale-help__item
            a(href='#').sale-help__link Бесплатная публикация&nbsp;
            | одного объявления
          +b('li').sale-help__item
            a(href='#').sale-help__link VIP объявление&nbsp;
            | для привлечения внимания к вашему объявлению

    +e('div').button
      +button(true)._kind_red._rounded._shadow Создать предложение

