mixin copyright()
  +b.copyright&attributes(attributes)
   +e.SPAN.name &copy 1963 - 2016 журнал Катера и Яхты
   +e.P.text Использование материалов с сайта только с согласия редакции и при указании прямой гипертекстовой ссылки на 
      +e.A(href="http://katera.ru").link http://katera.ru