.copyright {
  color: #555;
  font-family: $GothamProLight;
  font-weight: 300;

  &__name {
    font-size: 12px;
    line-height: 16px;

    @include respond-to('tablet') {
      font-size: 11px;
      line-height: 14px;
    }

    @include respond-to('mobile') {
      font-size: 11px;
      line-height: 14px;
    }
  }

  &__text {
    font-size: 11px;
    margin: 0;
    line-height: 14px;

    @include respond-to('tablet') {
      display: none;
    }

    @include respond-to('mobile') {
      display: none;
    }
  }

  &__link {
    color: #555;
    text-decoration: underline;
    opacity: 1;
    will-change: opacity;
    transition: opacity .25s ease-in-out;

    &:hover {
      opacity: .75;
    }
  }
}
