.catalog-yacht {

  &__header {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;

    @include respond-to('mobile') {
      width: 600px;
    }
  }

  &__tabs {
    @include respond-to('mobile') {
      overflow: hidden;
    }
  }

  &__scroll-header {
    @include respond-to('mobile') {
      max-width: 100%;
      overflow-x: auto;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;

    // @include respond-to('mobile') {
    //   padding-top: 240px;
    // }
  }

  &__element-wrap {
    max-width: 31.5%;
    width: auto;
    text-align: center;
    text-decoration: none;
    margin-bottom: 25px;

    @include respond-to('mobile') {
      width: 100%;
      max-width: 100%;
    }
  }

  &__img {
    height: 213px;
    overflow: hidden;
    width: auto;
    display: block;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__description {
    color: $color-black;
    font-size: 18px;
    line-height: 22px;
    font-family: $NerisBlack;
    margin-top: 8px;
  }

  &__subdesc {
    font-family: $NerisLight;
    color: $color-gray;
    font-size: 13px;
    margin-top: 4px;
  }

  &__li {
    flex-grow: 1;
    text-align: center;
    position: relative;

    @include respond-to('mobile') {
      width: 180px;
    }

    &:focus {
      outline: 0;
      box-shadow: none;
    }
  }

  &__count {
    font-size: 80px;
    color: $color-white;
    text-shadow: 0 10px 20px rgba(153, 153, 153, .3);
    font-family: $NerisBlack;
    position: absolute;
    left: 30px;
    line-height: .7;
    top: 0;
  }

  &__link {
    font-size: 24px;
    display: inline-flex;
    text-decoration: none;
    color: $color-black;
    align-items: center;
    flex-direction: column;

    &:focus {
      outline: 0;
      box-shadow: none;
    }

    &:hover .catalog-yacht__icon, &:hover .catalog-yacht__icon * {
      stroke: $color-red;
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include respond-to('mobile') {
      flex-direction: column;
      padding: 0 15px;
    }
  }

  .ui-state-active {

    .catalog-yacht__count {
      text-shadow: 0 10px 20px rgba(181, 53, 31, .3);
    }

    .catalog-yacht__link {

      .catalog-yacht__icon, .catalog-yacht__icon * {
        stroke: $color-red;
      }
    }
  }

  &__link-desc {
    display: block;
  }

  &__icon, &__icon * {
    stroke: $color-black;
    fill: transparent;
    transition: all .25s ease-in-out;
  }

  &__icon {

    &_motor {
      max-width: 159px;
    }

    &_sailing {
      max-width: 134px;
    }

    &_rowing {
      max-width: 160px;
    }
  }

  &__show-more {
    //margin: 10px auto 0;
    width: auto;
    min-width: 165px;
    height: 40px;
    margin: 19px auto 50px;
    display: block;
  }
}
