mixin scrollable()
  .scrollable
    .scrollable__wrapper
      .scrollable__content
        block

mixin scrollable-h()
  .scrollable__slide.scrollable__slide_horizontal&attributes(attributes)
    block

mixin scrollable-v()
  .scrollable__slide.scrollable__slide_vertical&attributes(attributes)
    block
