mixin scrollable()
  .scrollable-prewrapper&attributes(attributes)
    .scrollable-wrapper
      .scrollable
        block

mixin scrollable-h()
  .scrollable__horiz&attributes(attributes)
    block

mixin scrollable-v()
  .scrollable__vert&attributes(attributes)
    block
