.modal {
  position: fixed;
  transform: translate3d(0, 0, 0);
  top: 0;
  left: 0;
  display: none;
  padding: 185px 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background-color: rgba($color-dark-blue, .9);
  z-index: 9999;

  @include respond-to('tablet') {
    padding: 75px 15px;
  }

  @include respond-to('mobile') {
    padding: 25px 0;
  }

  &_darken {
    background-color: rgba(6, 3, 37, .9);
  }

  &_active {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    pointer-events: none;
  }

  &_empty {

    .modal {

      &__content {
        background-color: transparent;
      }

      &__header {
        padding: 0;
      }
    }
  }

  &__content {
    width: 945px;
    max-height: 100%;
    background-color: $color-white;
    pointer-events: all;

    @include respond-to('tablet') {
      width: 100%;
    }

    @include respond-to('mobile') {
      width: 100%;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    padding: 22px 18px 50px;
    width: 100%;
  }

  &__close {
    margin-left: auto;
    width: 18px;
    height: 18px;
    fill: $color-red;
    will-change: fill;
    transition: fill .25s ease-in-out;
    cursor: pointer;

    &:hover {
      fill: darken($color-red, 10%);
    }
  }

  &__heading {
    display: block;
    padding: 0;
    margin: 0;
    font-family: $NerisSemiBold;
    font-size: rem(38px);
    text-align: center;
    color: $color-dark-blue;
  }

  &__body {
    display: block;
  }
}
