@import 'helpers/variables';
@import 'helpers/mixins';
@import 'helpers/fonts';
@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/swiper/dist/css/swiper.css';
@import '../blocks/**/*';

html {
  box-sizing: border-box;
}

html, body {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: $base-font;
  font-size: $base-font-size;
  line-height: $bsae-line-height;
  color: $base-color;
}

*, *::before, *::after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

* {
  outline: none;
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
  overflow-x: hidden;

  &.overflow-hidden {
    overflow: hidden;
  }
}

img {
  box-sizing: content-box;
}
