.account-shop-2-page {
  display: block;
  padding-bottom: 50px;
  background-color: $color-white;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: 991px) {
      flex-direction: column;
      padding: 0 15px;
    }
  }

  .account-navigation {
    flex: none;
    width: 31.5%;

    @media (max-width: 991px) {
      width: 100%;
    }
  }

  &__form {
    flex: none;
    width: 65.8%;

    @media (max-width: 991px) {
      width: 100%;
    }

    .list_form {
      background-color: $color-white;
      box-shadow: none;

      & > .list__item {
        width: 100%;
        margin: 0;
        padding-bottom: 28px;
        padding-top: 44px;

        &:not(:last-child) {
          border-bottom: 1px solid rgba($color-gray, .15);
        }

        &:first-child {
          padding-top: 0;
        }

        .item-wrapper {
          width: 555px;
          font-size: 16px;
          margin: 0;
          color: $color-black;
          background-color: $color-white;

          &:first-child {
            padding-top: 0;
          }

          @media (max-width: 991px) {
            margin: 0 auto;
          }

          @include respond-to('mobile') {
            width: 100%;
          }

          &_full {
            width: 100%;

            @include respond-to('tablet') {
              width: 555px;
            }

            @include respond-to('mobile') {
              width: 100%;
            }
          }

          .button {
            width: 360px;
            padding-top: 5px;
            padding-bottom: 5px;
            font-size: 20px;
            text-align: center;
            margin-bottom: 6px;

            @include respond-to('tablet') {
              width: 100%;
            }

            @include respond-to('mobile') {
              width: 100%;
            }
          }
        }

        &_create, &_contacts {

          .field {
            margin-bottom: 22px;
          }
        }

        &_about {

          .field {
            margin-bottom: 15px;
          }
        }

        &_design {
          padding-bottom: 37px;

          .field {
            margin-bottom: 0;
          }
        }

        &_submit {
          padding-top: 49px;
        }
      }
    }

    .title {
      font-size: 24px;
      line-height: .5em;
      margin: 0;
      margin-bottom: 36px;
    }

    .field {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include respond-to('mobile') {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    .caption {
      max-width: 165px;
      font-size: 16px;
      line-height: 1em;

      @include respond-to('mobile') {
        margin-bottom: 5px;
      }
    }

    .input {
      width: 360px;
      height: 38px;

      @include respond-to('mobile') {
        width: 100%;
      }
    }

    .textarea {
      margin-bottom: 11px;

      textarea {
        width: 100%;
        height: 184px;
      }
    }

    .upload-form {

      &__label {
        font-size: 16px;
      }
    }

    .types {
      display: flex;
      justify-content: space-between;
      margin-bottom: 9px;

      @include respond-to('tablet') {
        padding: 0;
        justify-content: space-around;
      }

      @include respond-to('mobile') {
        flex-direction: column;
      }
    }

    .type {
      display: block;
      cursor: pointer;
      width: 31.7%;

      @include respond-to('mobile') {
        width: 100%;

        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }

    .control {
      display: none;

      &:checked {

        & + .box {
          box-shadow: 0 10px 20px 0 rgba(181, 53, 31, .3);

          .icon {
            fill: $color-red;
          }

          .text_period {
            color: $color-black;
          }

          .text_price {
            color: $color-red;
          }
        }
      }
    }

    .box {
      width: 100%;
      padding: 27px;
      box-shadow: 0 0 7px 0 rgba(19, 11, 89, .14);
      will-change: box-shadow;
      transition: box-shadow .25s ease-in-out;

      &:hover {
        box-shadow: 0 0 20px 0 rgba(19, 11, 89, .14);
      }
    }

    .box-title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 125px;
      padding-bottom: 16px;
      border-bottom: 1px solid rgba($color-gray, .15);

      @include respond-to('tablet') {
        min-height: 145px;
      }

      @include respond-to('mobile') {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-height: 0;
        padding: 15px;
      }
    }

    .info {
      display: block;
      margin-top: auto;
    }

    .text {
      display: block;
      font-size: rem(18px);
      color: $color-dark-blue;
      text-align: center;
      line-height: (28 / 18) * 1;
      will-change: color;
      transition: color .25s ease-in-out;

      &_period {
        font-family: $NerisSemiBold;
      }

      &_price {
        font-family: $NerisBlack;
      }
    }

    .icon {
      min-height: 75px;
      margin: auto;
      fill: $color-dark-blue;
      will-change: fill;
      transition: fill .25s ease-in-out;

      @include respond-to('mobile') {
        margin: 0;
      }

      &_default {
        width: 72px;
        height: 34px;
      }

      &_express {
        width: 60px;
        height: 60px;
      }

      &_turbo {
        width: 93px;
        height: 34px;
      }
    }

    .options {
      margin: 0;
      padding: 0;
      padding-top: 20px;
      list-style: none;
      font-size: 14px;
      line-height: em(22px);
    }

    .option {
      display: block;
      position: relative;
      padding: 0;
      padding-left: 23px;
      line-height: 1.5em;
      color: $color-gray;
      margin-bottom: 23px;

      &_active {
        position: relative;
        color: $color-black;

        .mark {
          display: block;
        }
      }
    }

    .mark {
      display: none;
      position: absolute;
      top: 3px;
      left: 0;
      width: 1em;
      height: 1em;
      stroke: $color-red;
    }

    .download {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-content: flex-start;
      height: 50px;
      margin-bottom: 30px;

      @include respond-to('mobile') {
        flex-wrap: nowrap;
        height: auto;
        align-items: center;
        text-align: center;
      }
    }

    .zip {
      width: 30px;
      height: 100%;
      margin-right: 13px;

      @include respond-to('mobile') {
        height: 50px;
      }

      & svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: $color-red;

        & > * {
          display: block;
          fill: $color-red;
        }
      }
    }

    .ex {
      color: $color-red;
      font-size: 14px;
    }

    .note {
      width: 360px;
      display: block;
      color: #999;
      font-size: 14px;
      text-align: center;

      @include respond-to('tablet') {
        width: 100%;
      }

      @include respond-to('mobile') {
        width: 100%;
      }
    }
  }
}
