.account-magazine {

  .page-header {
    border-top: 1px solid $color-light-gray;
  }

  &__grid-container {
    color: $color-black;
    display: flex;

    @include respond-to('tablet') {
      flex-direction: column;
    }

    @include respond-to('mobile') {
      flex-direction: column;
    }
  }

  &__col-nav {
    padding-right: 15px;
    flex: 0 0 375px;

    @include respond-to('tablet') {
      flex: none;
      padding: 0;
    }

    @include respond-to('mobile') {
      flex: none;
      padding: 0;
    }
  }

  &__col-page {
    padding-left: 15px;
    flex-grow: 1;
    margin-top: -11px;

    @include respond-to('tablet') {
      padding-right: 15px;
    }

    @include respond-to('mobile') {
      padding-right: 15px;
      margin-top: 20px;
    }
  }

  &__element {
    padding-bottom: 50px;
    margin-bottom: 45px;
    border-bottom: 1px solid $color-light-gray;
  }

  &__element-box {
    display: flex;

    @include respond-to('mobile') {
      flex-direction: column;
    }
  }

  &__box-img, &__desc-box {
    flex-grow: 1;
  }

  &__box-img {
    margin-right: 30px;
    margin-top: 11px;

    @include respond-to('mobile') {
      margin: 0 auto;
      width: 50%;
    }
  }

  &__box-name {
    line-height: 38px;
    color: $color-black;
    font-size: 24px;
  }

  &__box-date {
    font-size: 14px;
    line-height: 24px;
    color: $color-gray;
  }

  &__desc-box {

    h4 {
      line-height: 50px;
      color: $color-black;
      font-size: 24px;
      font-weight: 300;
      margin: 0;
    }

    p {
      margin: 0;
      line-height: 20px;
      color: $color-black;
      font-size: 14px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;

    @include respond-to('mobile') {
      display: block;
      flex-direction: column;
    }

    .button {
      width: 260px;
      height: 40px;
      display: flex;
      justify-content: space-around;

      @include respond-to('mobile') {
        display: block;
        margin: 15px auto;
      }

      &_kind_red-border {
        justify-content: center;

        span {
          display: inline-flex;
          margin-right: 4px;
        }
      }
    }
  }

  &__archive-heading {
    line-height: 38px;
    font-size: 24px;
    color: $color-black;
    margin: 0 0 15px;
  }

  &__journal-wrap {
    display: flex;
    justify-content: space-between;

    @include respond-to('mobile') {
      flex-direction: column;
    }
  }

  &__journal-box {
    width: 195px;
    padding-left: 30px;
    margin-top: 25px;
    margin-bottom: 20px;
    position: relative;

    @include respond-to('mobile') {
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
    }

    .button {
      width: 165px;
      height: 40px;
      margin: 15px 0;
      display: flex;
      justify-content: space-around;

      @include respond-to('mobile') {
        display: block;
        margin: 20px auto;
      }
    }
  }

  &__journal-img {
    max-width: 100%;
    height: auto;
    display: block;

    @include respond-to('mobile') {
      width: 50%;
      display: block;
      margin: 0 auto;
    }
  }

  &__journal-number {
    position: absolute;
    left: -35px;
    top: 25px;
    transform: rotate(-90deg);
    font-size: 20px;
    font-family: $NerisSemiBold;
  }
}
