include ../button/button
include ../page-header/page-header
include ../account-navigation/account-navigation
include ../image-bg/image-bg
include ../icon/icon
include ../magazine-popup/magazine-popup
include ../magazine-subscribe-popup/magazine-subscribe-popup


mixin account-subscription()
  +b.account-subscription&attributes(attributes)
    +container()
      +page-header('Личный кабинет', ['Главная', 'Личный кабинет'])
      +e.grid-container
        +e.col-nav
          -
            var nav = getData('account-navigation')
            nav.default[3].active = false
            nav.default[2].active = true
          +account-navigation(nav)
        +e.col-page
          +e.link-box
            +e('a href="#"').link Назад
              +icon('arrow-prev').icon
          +e.journal
            +e.img
              +image-bg()(src="assets/images/account/journal.jpg" alt='')
            +e.description
              +e('h3').description-title Журнал “Катера и яхты”
              +e('p').description-number 263 номер, сентябрь - октябрь 2016
              +button()(data-target-modal='#magazine-popup')._kind_red._rounded._shadow.js-open-modal Купить номер 525р
              +button()(data-target-modal='#magazine-subscribe-popup')._kind_red._right._rounded._shadow.js-open-modal Оформить подписку
          +text()
            +e.text-box
              +e('a') От редакции
              +e('a') Сообщения

            +e.text-box
              +e('h3') Тема номера
              +e('a') Arctic Commuter 25: тестовое путешествие с отступлениями • Алексей Даняев
              +e('a') Mercury 115 Pro XS FourStroke CT: характер не скроешь! • Владислав Подолинский

            +e.text-box
              +e('h3') Техника
              +e('a') Выставки: Все флаги едут в гости к нам! Бот-шоу в Генуе • Андрей Великанов
              +e('a') Yamaha ищет резервы • А. ДВыставки: В гостях у корабелов Голландии • Андрей Великанов
              +e('a') Рыболовный трезубец • Фарит Валиуллов, Winboat – необщий путь к успеху

            +e.text-box
              +e('h3') Практика
              +e('a') 1000 верст и двое суток хода. От Сургута до Урала и обратно, или Проект №920 • Андрей Великанов
              +e('a') Арктика-2016 • Андрей Текуцкий. «Заруба» в Костроме • Николай Поликарпов, Приказотворчество ГИМС • Николай Поликарпов. Наше интервью с Сергеем Алексеевым

            +e.text-box
              +e('h3') Спорт
              +e('a') Бронза с отличием • Анна Героева
              +e('a') Наше интервью с Алисой Кирилюк
              +e('a') Extreme Sailing Series 2016: Санкт-Петербург, дубль третий • Юлия Соборницкая
              +e('a') «Дракон» – фигура шахматная • Алена Левина
              +e('a') Регата-фестиваль «Кубок пяти портов»
              +e('a') Мнение эксперта: В какой порт нам идти? • Вадим Волостных
              +e('a') Озеро Тиса – новая трасса • Андрей Геращенко «Пневматики» и их судьба – жар-птица • Петр Пылаев Все на старт • Анна Героева Все на старт. Анна Героева Наконец напутственная речь закончена, дети бросаются к воде, помогают друг другу спускать лодки, полным курсом идут к старту. «Они, конечно, хорошие яхтсмены, – кивает тренер Валерий Гореликов в сторону ребят из Конаково, – но и мои не хуже»

            +e.text-box
              +e('h3') Мастерская
              +e('a') Построено любителями: Мотолодка-тримаран «Гриф» • Евгений Грибов
              +e('a') Идея! Плыть и петь • Александр Леонов КРУГОЗОР Кижский крафт • Ольга Теслова Баржа принца Фредерика • Владимир Чепелев У моря нет плохой погоды • Ольга Теслова
              +e('a') Тематический указатель основных материалов, опубликованных в «КиЯ» №253–263 (2015–2016 гг.)

    //- popups
    +magazine-popup()
    +magazine-subscribe-popup()
