//- Таб "О компании" для shop-page
include ../text/text
include ../models/models

mixin shop2-page()
  +b.shop-tab2&attributes(attributes)
    +e.text-container
      +text()
        h4 Магазин оригинальных кузовных б/у запчастей для иномарок с доставкой по России
        p Мы все их видели. Они украшают руки, ноги, грудь как моряков, так и людей, ни разу не выходивших в море.
          | Если вы знаете больше двух человек с татуировками, скорее всего, хотя бы у одного из них есть наколка на
          | морскую тематику. Благотворительная организация Sail Training International составила список своих любимых
          | морских татуировок и их значений. Список разбит на четыре блока.
        p Мы все их видели. Они украшают руки, ноги, грудь как моряков, так и людей, ни разу не выходивших в море.
          | Если вы знаете больше двух человек с татуировками, скорее всего, хотя бы у одного из них есть наколка на
          | морскую тематику. Благотворительная организация Sail Training International составила список своих любимых
          | морских татуировок и их значений. Список разбит на четыре блока.
        p Мы все их видели. Они украшают руки, ноги, грудь как моряков, так и людей, ни разу не выходивших в море.
          | Если вы знаете больше двух человек с татуировками, скорее всего, хотя бы у одного из них есть наколка на
          | морскую тематику. Благотворительная организация Sail Training International составила список своих любимых
          | морских татуировок и их значений. Список разбит на четыре блока.
    .models.models_sport
      +b.swiper-container
        +e.swiper-pagination
        +e.wrapper.swiper-wrapper
          - for (var i=0; i<8; i++)
            a(href='#').swiper-slide
              img(src='assets/images/yacht.jpg')
