.topic-preview {
  // display: flex;
  // flex-direction: column;

  &__time {
    color: #666;
    font-size: rem(12px);
    font-style: italic;
    display: block;
  }

  &__link {
    text-decoration: inherit;
    color: inherit;
    font-family: $NerisSemiBold;
    display: inline-block;
    opacity: 1;
    will-change: opacity;
    transition: opacity .25s ease-in-out;

    &:hover {
      opacity: .75;
    }
  }
}
