.burger-dropdown {
  position: absolute;
  display: none;
  width: 100%;

  &_active {
    display: block;
  }

  &__content {
    display: flex !important;
    justify-content: space-between;
  }

  &__navigation {
    display: block;
    margin-right: 30px;
    width: 100%;
  }

  &__banners {
    display: inline-flex;
    justify-content: space-between;
    margin-top: 33px;
  }

  &__banner {
    background-color: #fff;
    height: 419px;

    &_type_1 {
      width: 292px;
    }

    &_type_2 {
      margin-left: 30px;
      width: 428px;
    }
  }
}
