include ../dropdown/dropdown
include ../container/container
include ../vertical-menu/vertical-menu
include ../banner/banner
include ../login-btn/login-btn
include ../search-bar/search-bar
include ../icon/icon

mixin burger-dropdown()
  +b.burger-dropdown.js-burger-dropdown&attributes(attributes)
    +dropdown()
      +container().burger-dropdown__content
        +e.top
          +login-btn().__login-btn
          +search-bar()._color_blue.__search-bar
        +e.navigveration._show_mobile
          +vertical-menu(getData('vertical-menu-mobile'))._font_bold
        +e.navigation._default_mobile
          +vertical-menu(getData('vertical-menu-full'))._font_bold
        +e('a')(href='#').question
          +e('div').question-wrapper
            +e('span').label Задать вопрос
            +icon('questions-circular').icon

        +e.form
          +icon('close').form-close
          +e.form-bg(src="assets/images/form-bg.jpg")
            img(src="assets/images/form-bg.jpg")
          +e.P.form-heading Задать вопрос
          +e.INPUT.form-input(type="text", name="name", placeholder="Имя")
          +e.INPUT.form-input(type="text", name="phone", placeholder="Телефон")
          +e.INPUT.form-input(type="text", name="email", placeholder="Email")
          +e.TEXTAREA.form-textarea(name="question", placeholder="Вопрос")
          +button()._rounded._kind_red._shadow.burger-dropdown__form-button Отправить

        +e.banners
          +e.banner._type_1
            +banner('', 'assets/images/banner-jack.jpg')
          +e.banner._type_2
            +banner('', 'assets/images/banner-bmw.jpg')
