include ../dropdown/dropdown
include ../container/container
include ../vertical-menu/vertical-menu
include ../banner/banner

mixin burger-dropdown()
  +b.burger-dropdown.js-burger-dropdown&attributes(attributes)
    +dropdown()
      +container().burger-dropdown__content
        +e.top
        +e.navigation
          +vertical-menu(getData('vertical-menu-mobile'))._font_bold
        +e.navigation._default_mobile
          +vertical-menu(getData('vertical-menu-full'))._font_bold
        +e.banners
          +e.banner._type_1
            +banner('', 'assets/images/banner-jack.jpg')
          +e.banner._type_2
            +banner('', 'assets/images/banner-bmw.jpg')
