include ../dropdown/dropdown
include ../container/container
include ../vertical-menu/vertical-menu

mixin burger-dropdown()
  +b.burger-dropdown.js-burger-dropdown&attributes(attributes)
    +dropdown()
      +container().burger-dropdown__content
        +e.navigation
          //- navigation - мой бургер-меню
          +vertical-menu(getData('vertical-menu-full'))
        +e.banners
          +e.banner._type_1
          +e.banner._type_2

