include ../dropdown/dropdown
include ../container/container
include ../banner/banner

mixin burger-dropdown()
  +b.burger-dropdown.js-burger-dropdown&attributes(attributes)
    +dropdown()
      +container().burger-dropdown__content
        +e.navigation
          //- navigation
        +e.banners
          +e.banner._type_1
            +banner('', 'assets/images/banner-jack.jpg')
          +e.banner._type_2
            +banner('', 'assets/images/banner-bmw.jpg')

