.burger-dropdown {
  position: absolute;
  display: none;
  width: 100%;
  background-color: rgba($color-dark-blue, .95);
  z-index: 999;

  &_active {
    display: block;
  }

  &__content {
    display: flex !important;
    justify-content: space-between;
  }

  &__navigation {
    display: block;
    margin-right: 30px;
    width: 100%;
  }

  &__banners {
    display: inline-flex;
    justify-content: space-between;
    margin-top: 33px;

    @include respond-to('mobile');
    @include respond-to('tablet');

    @include respond-to('laptop') {
      display: none;
    }
  }

  &__banner {
    //background-color: #fff;
    height: 419px;

    &_type_1 {
      width: 292px;
    }

    &_type_2 {
      margin-left: 30px;
      width: 428px;
    }
  }
}
