include ../dropdown/dropdown
include ../container/container

mixin burger-dropdown()
  +b.burger-dropdown.js-burger-dropdown&attributes(attributes)
    +dropdown()
      +container().burger-dropdown__content
        +e.navigation
          //- navigation
        +e.banners
          +e.banner._type_1
          +e.banner._type_2

