.branding {
  position: relative;
  display: block;
  width: 100%;
  background-image: linear-gradient(to bottom, #3f4e5b, #537787);

  &__scroll-btn {
    display: none;
  }

  &__top {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100vh;

    @include respond-to('mobile') {
      position: relative;
    }

    @include respond-to('tablet') {
      position: relative;
    }

    .container {
      display: flex;
      position: relative;
      height: 100%;
      z-index: 50;
    }

    &_page {
      position: absolute;
      height: 0;

      @include respond-to('tablet') {
        display: none;
      }

      .container {
        z-index: 20;
      }

      .branding {

        &__image {
          z-index: 15;
          height: 100%;
        }

        &__text {
          display: none;
        }
      }
    }

    &_index {

      .branding__scroll-btn {
        position: absolute;
        bottom: 30px;
        left: center;
        display: block;
        width: 22px;
        height: 22px;

        .branding__caret {
          width: 22px;
          height: 12px;

          * {
            stroke: $color-white;
          }

          &:last-child {
            transform: translateY(-100%);
          }
        }
      }

      .branding__image {
        z-index: 15;
        height: 100vh;

        @include respond-to('tablet') {

          &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: center;
            display: block;
            width: 100%;
            height: 427px;
            background-image: url('../images/branding/main-top-shadow.png');
          }
        }

        @include respond-to('mobile') {

          &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: center;
            display: block;
            width: 100%;
            height: 427px;
            background-image: url('../images/branding/main-top-shadow.png');
          }
        }
      }
    }
  }

  &__text {
    display: block;
    margin-top: auto;
    margin-bottom: 50px;
    width: 518px;
    padding-bottom: 18px;
    font-family: $NerisSemiBold;
    font-size: rem(40px);
    line-height: 1.1;
    color: $color-white;
    text-transform: uppercase;

    @include respond-to('mobile') {
      margin: auto 6px 94px auto;
      font-size: rem(22px);
      font-weight: 700;
      line-height: 1.5;
      width: 170px;
      padding-bottom: 0;
    }

    @include respond-to('tablet') {
      margin: auto 6px 94px auto;
      font-size: rem(22px);
      font-weight: 700;
      line-height: 1.5;
      width: 170px;
      padding-bottom: 0;
    }
  }

  &__logo {
    position: absolute;
    top: 27px;
    right: 15px;
    width: 103px;
    height: 115px;
    pointer-events: none;

    @include respond-to('mobile') {
      top: initial;
      right: initial;
      left: 0;
      bottom: 73px;
      box-sizing: content-box;
      border-left: 13px solid $color-white;
      border-right: 13px solid $color-white;
      border-top: 12px solid $color-white;
      border-bottom: 12px solid $color-white;
    }

    @include respond-to('tablet') {
      top: initial;
      right: initial;
      left: 0;
      bottom: 73px;
      box-sizing: content-box;
      border-left: 13px solid $color-white;
      border-right: 13px solid $color-white;
      border-top: 12px solid $color-white;
      border-bottom: 12px solid $color-white;
    }
  }

  &__bottom {
    position: relative;
    display: block;
    width: 100%;
    z-index: 15;

    @include respond-to('mobile') {
      display: none;
    }

    @include respond-to('tablet') {
      display: none;
    }

    &_index, &_page {
      height: 150px;

      .branding__image {
        top: 100%;
        transform: translateY(-100%);
        height: 388px;
      }
    }
  }

  &__content {
    position: relative;
    display: block;
    z-index: 100;
  }

  &__image {
    position: absolute;
    display: block;
    width: 100%;
    pointer-events: none;

    &_left {
      left: 0;
    }

    &_right {
      right: 0;
    }

    &_left, &_right {
      width: 100%;
      height: 100%;
      z-index: 100;

      @include respond-to('large-desktop') {
        width: calc(50vw - 780px);
      }

      @include respond-to('desktop') {
        width: calc(50vw - 578px);
      }
    }
  }
}
