include ../select/select
include ../radio/radio
include ../text-field/text-field
include ../select-currency/select-currency
include ../slider-range/slider-range
include ../reset-filter/reset-filter
include ../button/button

mixin filter-engines()
  +b('form').filter-engines&attributes(attributes)
    +e.header
      +e('span').heading Поиск сопутствующих товаров
      +e.city
        +e.city-label Город:
        +e.city-select
          +select('item111', [{value: '1', title: 'Москва'}, {value: '2', title: 'Санкт-Петербург'}])._text-like
    +e.content
      +e.col
        +e.item
          +e.field._type_select
            +select('item1', [{value: '1', title: 'item #1'}, {value: '2', title: 'item #2'}], false, 'Категория')
        +e.item
          +e.field._type_select
            +select('item2', [{value: '1', title: 'item #1'}, {value: '2', title: 'item #2'}], false, 'Марка')
        +e.item
          +e.field._type_select
            +select('item3', [{value: '1', title: 'item #1'}, {value: '2', title: 'item #2'}], false, 'Тип мотора')
        +e.item
          +e.field._type_select
            +select('item4', [{value: '1', title: 'item #1'}, {value: '2', title: 'item #2'}], false, 'Тип мотора с ДВС')
        +e.item
          +e.field._type_select
            +select('item5', [{value: '1', title: 'item #1'}, {value: '2', title: 'item #2'}], false, 'Длина дейдвуда')

      +e.col
        +e.item
          +e('label').field._type_radio
            +radio({name: 'item5', value: '1', checked: true})
            +e('span').label Все
          +e('label').field._type_radio
            +radio({name: 'item5', value: '2'})
            +e('span').label Новые
          +e('label').field._type_radio
            +radio({name: 'item5', value: '3'})
            +e('span').label Б/у
        +e.item
          +e('span').label Мотор не старше
          +e.field._type_text-field
            +text-field({name: 'item6', placeholder: 'года'})._placeholder_right
        +e.item
          +e.field._type_switcher
            +checkbox({name: 'item12', value: '1'})._switcher
          +e('span').label._right Наличие электрозапуска
        +e.item
          +e.field._type_switcher
            +checkbox({name: 'item12', value: '1'})._switcher
          +e('span').label._right
            | Наличие электрооткидки <br/>
            | и трима

      +e.col
        +e.item._col
          +e.row
            +e.label Можность
            +e.range-info
              +e('span').range-info-text.js-filter-engines-power-min
              +e('span').range-info-text.js-filter-engines-power-max
              input(type='hidden' name='filter-min').js-filter-engines-power-min-val
              input(type='hidden' name='filter-max').js-filter-engines-power-max-val
          +e.field._type_range
            +slider-range().js-filter-engines-power-slider
        +e.item._col
          +e.row
            +e.label Вес
            +e.range-info
              +e('span').range-info-text.js-filter-engines-weight-min
              +e('span').range-info-text.js-filter-engines-weight-max
              input(type='hidden' name='filter-min').js-filter-model-weight-min-val
              input(type='hidden' name='filter-max').js-filter-model-weight-max-val
          +e.field._type_range
            +slider-range().js-filter-engines-weight-slider

        +e.item._col._reset_margin
          +e('span').label._margin_bottom Цена
          +e.field._type_text-field-group._full_width
            +e.field._type_text-field-small
              +text-field({name: 'item10', placeholder: 'от'})
            +e.separator
            +e.field._type_text-field-small
              +text-field({name: 'item11', placeholder: 'до'})
            +e.field._type_select-currency
              +select-currency()
          +e.field._type_reset-filter
            +reset-filter()

        +e.item
          +e.field._type_search-btn
            +button()(type='submit')._kind_red Найти
