.login-btn {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;

  &:hover {

    @media (min-width: 1025px) {
      .login-btn {

        &__icon {
          stroke: #e02303;
        }

        &__text {
          color: #e02303;
        }
      }
    }
  }

  &__icon {
    width: 20px;
    height: 17px;
    pointer-events: none;
    stroke: $color-red;
    will-change: stroke;
    transition: stroke .25s ease-in-out;
  }

  &__text {
    line-height: 1;
    padding-left: 8px;
    color: $color-red;
    pointer-events: none;
    will-change: color;
    transition: color .25s ease-in-out;
    font-family: $NerisLight;
    font-weight: 300;
    font-size: 13px;
  }
}
