.account-navigation {
  padding-bottom: 20px;
  flex-grow: 1;

  @include respond-to('mobile') {
    width: 100%;
  }

  @include respond-to('tablet') {
    width: 100%;
  }

  .list {
    box-sizing: border-box;
    padding-bottom: 6px;

    @include respond-to('mobile') {
      padding-bottom: 0;
    }

    &__item {
      padding: 18px 0 22px;
      margin: 0;
      position: relative;

      @include respond-to('mobile') {
        padding: 5px 0 2px;
      }

      &_show-pc {
        @include respond-to('tablet') {
          display: none;
        }

        @include respond-to('mobile') {
          display: none;
        }
      }

      &_hide-pc {
        @include respond-to('laptop') {
          display: none;
        }

        @include respond-to('desktop') {
          display: none;
        }

        @include respond-to('large-desktop') {
          display: none;
        }
      }

      .button {
        height: 40px;
        width: 195px;
        position: absolute;
        transform: translateX(-50%);
        bottom: -26px;
        left: 50%;
      }
    }

    &__icon-wrap {
      display: flex;
      justify-content: space-around;
      padding: 7px 0;
    }

    &__nav-text {
      display: none;
      margin-top: 5px;
    }

    &__icon-nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-decoration: inherit;
      color: $color-white;
      font-size: rem(13px);

      svg {
        fill: $color-white;
        width: 45px;
        height: 30px;
        display: block;

        @include respond-to('tablet') {
          width: 60px;
          height: 45px;
        }
      }

      &_active {

        svg {
          fill: $color-red;
        }

        .list__nav-text {
          display: block;
        }
      }
    }

    &__link {
      display: inline-block;
      text-decoration: inherit;

      .division {
        padding: 0 7px 0 26px;
        color: $color-white;
        font-size: rem(18px);
        transition: color .25s ease-in-out;

        &_active {
          font-family: $NerisLight;
          color: $color-red;
        }

        &:hover {
          color: $color-red;
          opacity: 1;
        }
      }

      .count {
        font-family: $NerisBlack;
        font-size: rem(18px);
        color: $color-red;
        margin-left: 2px;
      }
    }
  }

  .text {
    padding: 0 25px;

    @include respond-to('mobile') {
      text-align: center;
    }

    @include respond-to('tablet') {
      text-align: center;
    }

    &__name {
      font-size: rem(26px);
      color: $color-white;
      line-height: 1.4;

      @include respond-to('mobile') {
        font-size: rem(17px);
      }
    }

    &__offers {
      @include respond-to('mobile') {
        display: none;
      }
    }

    &__time, &__tariff {
      @include respond-to('mobile') {
        display: inline-block;
        font-size: rem(12px);
        margin-top: 0;
      }
    }

    p {
      margin: 0;
      font-family: $NerisLight;
      color: $color-light-gray;

      @include respond-to('mobile') {
        font-size: rem(12px);
      }
    }

    &__tariff {
      margin-top: 12px;
      font-family: $NerisSemiBold;
      color: $color-red;
    }
  }
}
