//- Сайдбар с навигацией для страниц account
//- nav - json с навигацией для laptop и выше
//- mobNav - json с навигацией для планшетов и мобильных

include ../list/list
include ../button/button
include ../division/division
include ../text/text

mixin account-navigation(nav, mobNav)
  .account-navigation&attributes(attributes)
    +list()
      +list-item()
        +text()
          +e.H2.name Alex-kapitan_179
          +e.P.offers 28 предложений
          +e.H5.tariff Тариф “Старшина”
          +e.P.time действует до 30.08.2017
      +list-item()._hide-pc
        +e.icon-wrap
          each obj in mobNav
            if obj.active
              +e.A(href="#").icon-nav._active
                +icon(obj.icon)
                +e.nav-text= obj.title
            else
              +e.A(href="#").icon-nav
                +icon(obj.icon)
                +e.nav-text= obj.title
      each obj in nav
        +list-item()._show-pc
          +e.A(href=obj.path).link
            if (obj.active)
              +division(obj.name)._active._arrow-left
            else
              +division(obj.name)
            if (obj.count)
              span.count= obj.count
      +list-item()._show-pc
        +button(true)(href='#')._rounded._kind_red._shadow Создать предложение
