.create-password {

  .page-header {
    @include respond-to('tablet') {
      background: $color-white;
    }

    @include respond-to('mobile') {
      background: $color-white;
      border-bottom: 1px solid #e5e5e5;
    }

    &__title {
      @include respond-to('mobile') {
        margin-bottom: 0;
      }
    }
  }

  .main-container {
    padding-bottom: 60px;
    margin-bottom: 140px;

    &_shadow {
      @include respond-to('tablet') {
        box-shadow: none;
      }

      @include respond-to('mobile') {
        box-shadow: none;
        margin-bottom: 0;
      }
    }
  }

  .forms {
    max-width: 360px;
    margin: 0 auto;

    @include respond-to('mobile') {
      max-width: 100%;
      padding: 0 15px;
    }

    .form {

      .create-password {

        &__fieldset {
          padding: 0;
          margin: 0;
          border: none;
        }
        //fieldset
      }

      &__row {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        .create-password__label {
          font-size: 16px;
          font-family: $NerisLight;
          font-weight: 300;
          color: $color-black;
        }

        .text-field {
          height: 40px;
          width: 262px;
          border: 1px solid #ccc;
        }
      }
      //row

      .create-password__text {
        width: 262px;
        margin: 0;
        line-height: 1.1;
        color: $color-black;

        &_color-red {
          color: $color-red;
        }
      }
      //join__text

      .button {
        width: 165px;
        height: 40px;
        margin: 45px auto 0;

        @media (max-width: 320px) {
          width: 100%;
        }
      }
    }
    //form

    .form-one {

      .fieldset-two {
        border: none;
        padding: 45px 0 0;
        margin: 0;

        .form__row {
          @include respond-to('mobile') {
            flex-direction: column;
            align-items: flex-start;

            .create-password__label {
              width: 100%;
              text-align: left;
              margin-bottom: 3px;
            }

            .text-field {
              width: 100%;
            }
          }
        }

        .create-password__label {
          width: 98px;
        }
      }
    }
    //form-one
  }
  //forms
}

//join
