.article-preview {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  min-height: 290px;

  &__wrapper {
    position: relative;
    width: 100%;
    height: 100%;

    @include respond-to('mobile') {
      padding: 0;
    }
  }

  &__link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
  }

  @include respond-to('mobile') {
    border-bottom: 1px solid $color-gray;
  }

  @include respond-to('tablet') {

    &_color_dark-blue:hover {

      .article-preview__picture {
        box-shadow: none;
      }
    }
  }

  &__picture {
    transition: box-shadow .25s ease-in-out;

    .image-bg {
      z-index: 1;

      &__img {
        @include respond-to('mobile') {
          top: 60%;
          transform: scale(1.6);
        }
      }
    }
  }

  &__tags {
    z-index: 4 !important;
  }

  &__text * {
    display: block;
    margin: 0;
    padding: 0;
  }

  &__text {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    z-index: 2;
  }

  &__title {
    font-family: $NerisBlack;
  }

  &_tall {
    min-height: 500px;

    @include respond-to('mobile') {
      min-height: 290px;
    }
  }

  &_title-under-img {
    @include respond-to('mobile') {
      padding-left: 15px;
      padding-right: 15px;
      min-height: 0;
    }

    .article-preview {

      &__picture {
        position: relative;
        height: 213px;
        overflow: hidden;

        @include respond-to('mobile') {
          height: 154px;

          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(45deg, rgba(0, 0, 0, .84) 0%, rgba(0, 0, 0, .66) 27%, rgba(0, 0, 0, 0) 100%);
            z-index: 2;
          }
        }
      }

      &__text {
        padding: 6px 19px 22px;
        align-items: center;

        @include respond-to('mobile') {
          padding-bottom: 6px;
          padding-left: 0;
        }
      }

      &__category {
        display: none;
      }

      &__title {
        font-size: 18px;
        line-height: (22/18)*1em;
        text-align: center;
        color: $color-black;

        @include respond-to('mobile') {
          text-align: left;
          font-size: 16px;
        }
      }
    }
  }

  &_title-inside-img {
    @include respond-to('mobile') {
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 10px;
    }

    .article-preview {
      min-height: 290px;

      &__wrapper {
        padding: 19px;

        @include respond-to('mobile') {
          padding: 0;
        }
      }

      &__picture {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }

      &__text {
        align-items: flex-start;
        justify-content: flex-end;
        height: 100%;
        padding: 19px 15px;
        text-align: left;
        box-sizing: border-box;
        background: linear-gradient(45deg, rgba(0, 0, 0, .84) 0%, rgba(0, 0, 0, .66) 27%, rgba(0, 0, 0, 0) 100%);

        @include respond-to('mobile') {
          padding-bottom: 30px;
        }
      }

      &__category {
        display: block;
        font-size: 13px;
        line-height: (24/13)*1em;
        color: $color-white;

        @include respond-to('mobile') {
          display: none;
        }
      }

      &__title {
        font-size: 18px;
        line-height: (22/18)*1em;
        text-align: left;
        color: $color-white;

        @include respond-to('mobile') {
          text-align: left;
          font-size: 16px;
        }
      }
    }
  }

  &_color_red:hover {

    .article-preview__picture {
      box-shadow:
        0 2px 2px 0 rgba(215, 64, 64, .2),
        0 4px 4px 0 rgba(215, 64, 64, .2),
        0 8px 8px 0 rgba(215, 64, 64, .2),
        0 16px 16px 0 rgba(215, 64, 64, .2),
        0 32px 32px 0 rgba(215, 64, 64, .2),
        0 64px 64px 0 rgba(215, 64, 64, .2);
    }
  }

  &_color_dark-blue:hover {

    .article-preview__picture {
      box-shadow:
        0 2px 2px 0 rgba(19, 11, 89, .2),
        0 4px 4px 0 rgba(19, 11, 89, .2),
        0 8px 8px 0 rgba(19, 11, 89, .2),
        0 16px 16px 0 rgba(19, 11, 89, .2),
        0 32px 32px 0 rgba(19, 11, 89, .2),
        0 64px 64px 0 rgba(19, 11, 89, .2);
    }
  }

  &_color_light-blue:hover {

    .article-preview__picture {
      box-shadow:
        0 2px 2px 0 rgba(23, 194, 192, .2),
        0 4px 4px 0 rgba(23, 194, 192, .2),
        0 8px 8px 0 rgba(23, 194, 192, .2),
        0 16px 16px 0 rgba(23, 194, 192, .2),
        0 32px 32px 0 rgba(23, 194, 192, .2),
        0 64px 64px 0 rgba(23, 194, 192, .2);
    }
  }

  &_color_light-amber:hover {

    .article-preview__picture {
      box-shadow:
        0 2px 2px 0 rgba(216, 209, 28, .2),
        0 4px 4px 0 rgba(216, 209, 28, .2),
        0 8px 8px 0 rgba(216, 209, 28, .2),
        0 16px 16px 0 rgba(216, 209, 28, .2),
        0 32px 32px 0 rgba(216, 209, 28, .2),
        0 64px 64px 0 rgba(216, 209, 28, .2);
    }
  }

  &_color_blue:hover {

    .article-preview__picture {
      box-shadow:
        0 2px 2px 0 rgba(0, 0, 255, .2),
        0 4px 4px 0 rgba(0, 0, 255, .2),
        0 8px 8px 0 rgba(0, 0, 255, .2),
        0 16px 16px 0 rgba(0, 0, 255, .2),
        0 32px 32px 0 rgba(0, 0, 255, .2),
        0 64px 64px 0 rgba(0, 0, 255, .2);
    }
  }
}
