.article-preview {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;

  &__link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &__picture {
    transition: box-shadow 0.25s ease-in-out;
  }

  &__text * {
    display: block;
    margin: 0;
    padding: 0;
  }

  &__text {
    display: flex;
    flex-flow: column nowrap;
  }

  &__title {
    font-weight: 900;
  }

  &_title-under-img {

    .article-preview {

      &__picture {
        position: relative;
        height: 213px;
        overflow: hidden;
      }

      &__text {
        padding: 14px 19px;
        align-items: center;
      }

      &__category {
        display: none;
      }

      &__title {
        font-size: 18px;
        line-height: (22/18)*1em;
        text-align: center;
        color: $color-black;
      }
    }
  }

  &_title-inside-img {
    padding: 19px;

    .article-preview {

      &__picture {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }

      &__text {
        align-items: flex-start;
        justify-content: flex-end;
        height: 100%;
        padding: 19px 15px;
        text-align: left;
        box-sizing: border-box;
        background: -moz-linear-gradient(45deg, rgba(0,0,0,0.84) 0%, rgba(0,0,0,0.66) 27%, rgba(0,0,0,0) 100%);
        background: -webkit-linear-gradient(45deg, rgba(0,0,0,0.84) 0%,rgba(0,0,0,0.66) 27%,rgba(0,0,0,0) 100%);
        background: linear-gradient(45deg, rgba(0,0,0,0.84) 0%,rgba(0,0,0,0.66) 27%,rgba(0,0,0,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6000000', endColorstr='#00000000',GradientType=1 );
      }

      &__category {
        display: block;
        font-size: 13px;
        line-height: (24/13)*1em;
        color: $color-white;
      }

      &__title {
        font-size: 18px;
        line-height: (22/18)*1em;
        text-align: left;
        color: $color-white;
      }
    }
  }

  &_color_blue:hover {
    .article-preview__picture {
      box-shadow:
        0px 2px 2px 0px rgba(215, 64, 64, 0.2),
        0px 4px 4px 0px rgba(215, 64, 64, 0.2),
        0px 8px 8px 0px rgba(215, 64, 64, 0.2),
        0px 16px 16px 0px rgba(215, 64, 64, 0.2),
        0px 32px 32px 0px rgba(215, 64, 64, 0.2),
        0px 64px 64px 0px rgba(215, 64, 64, 0.2);
    }
  }

  &_color_dark-blue:hover {
    .article-preview__picture {
      box-shadow:
        0px 2px 2px 0px rgba(12, 0, 255, 0.2),
        0px 4px 4px 0px rgba(12, 0, 255, 0.2),
        0px 8px 8px 0px rgba(12, 0, 255, 0.2),
        0px 16px 16px 0px rgba(12, 0, 255, 0.2),
        0px 32px 32px 0px rgba(12, 0, 255, 0.2),
        0px 64px 64px 0px rgba(12, 0, 255, 0.2);
    }
  }

  &_color_light-blue:hover {
    .article-preview__picture {
      box-shadow:
        0px 2px 2px 0px rgba(44, 36, 209, 0.2),
        0px 4px 4px 0px rgba(44, 36, 209, 0.2),
        0px 8px 8px 0px rgba(44, 36, 209, 0.2),
        0px 16px 16px 0px rgba(44, 36, 209, 0.2),
        0px 32px 32px 0px rgba(44, 36, 209, 0.2),
        0px 64px 64px 0px rgba(44, 36, 209, 0.2);
    }
  }

  &_color_light-amber:hover {
    .article-preview__picture {
      box-shadow:
        0px 2px 2px 0px rgba(216, 209, 28, 0.2),
        0px 4px 4px 0px rgba(216, 209, 28, 0.2),
        0px 8px 8px 0px rgba(216, 209, 28, 0.2),
        0px 16px 16px 0px rgba(216, 209, 28, 0.2),
        0px 32px 32px 0px rgba(216, 209, 28, 0.2),
        0px 64px 64px 0px rgba(216, 209, 28, 0.2);
    }
  }
}
