.articles-grid:not(:first-of-type) { margin-top: 30px; }

.articles__tablet-hide {
  @include respond-to(tablet) {
    display: none;
  }

  @include respond-to(mobile) {
    display: none;
  }
}

.articles-grid {

  .col_three {
    @include respond-to(mobile) {
      width: 100%;
    }
  }
}

.grid {
  padding: 0;
  margin: 0;
  float: left;

  &:not(:first-of-type) {
    padding-top: 30px;
  }
}

.stroke {
  display: flex;
  margin: -30px -15px 0;
  min-width: 100%;
  flex-grow: 1;
  flex-wrap: wrap;

  &:not(:first-of-type) {
    padding-top: 30px;
  }
}

.col {
  padding: 30px 15px 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  &_three {
    width: (3/12)*100%;
  }

  &_six {
    width: (6/12)*100%;

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  &_nine {
    width: (9/12)*100%;
  }

  &_two-three {
    width: (2/3)*100%;

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  &_one-three {
    width: (1/3)*100%;

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  &_twelve {
    width: 100%;
  }

  &_tablet {
    @media (max-width: 1169px) {
      width: 100%;
    }
  }

  &_mobile {
    @media (max-width: 767px) {
      width: 100%;
    }
  }
}
