include ../header/header
include ../social/social

mixin index()
  +b.index&attributes(attributes)
    +header()
    +social('vk', 'fb', 'yt', 'insta', 'odnokl')(class='_join')
    //- +social('vk', 'yt')
