include ../header/header
include ../footer/footer
include ../main-container/main-container
include ../container/container
include ../banner-big/banner-big

mixin index()
  +b.index&attributes(attributes)
    +header()
    +container()
      +main-container().main-container_shadow
        +banner-big()
  +footer()
