include ../header/header
include ../yacht-preview-widget/yacht-preview-widget

mixin index()
  +b.index&attributes(attributes)
    +header()
    +yacht-preview-widget('Яхты в продаже', getData('yacht-preview'))
