include ../main-container/main-container
include ../container/container
include ../main-slider/main-slider
include ../banner-big/banner-big

mixin index()
  +b.index&attributes(attributes)
    +container()
      +main-container().main-container_shadow.index__main-container
        +main-slider()
        +banner-big()
