include ../header/header
include ../footer/footer
include ../container/container
include ../banner-big/banner-big

mixin index()
  +b.index&attributes(attributes)
    +header()
    +container()
      +banner-big()
  +footer()
