include ../main-container/main-container
include ../container/container
include ../main-slider/main-slider
include ../banner-big/banner-big
include ../filter/filter
include ../quote/quote
include ../topic-preview-widget/topic-preview-widget
include ../yacht-preview-widget/yacht-preview-widget

mixin index()
  +b.index&attributes(attributes)
    +quote('Выжать из яхты максимум — это не просто добавить палубного пространства.')
    +container()
      +main-container().main-container_shadow.index__main-container
        +main-slider()
        +filter()
        +e.sidebar
          +yacht-preview-widget("Яхты в продаже", getData('yacht-preview'))
        +e.content
          //- index content
        +banner-big().__big-banner
        +e.content
          //- index content
        +e.sidebar._right
          +topic-preview-widget("Обсуждения в форуме", getData('topic-preview'))

