include ../header/header
include ../topic-preview-widget/topic-preview-widget
include ../yacht-preview-widget/yacht-preview-widget


mixin index()
  +b.index&attributes(attributes)
    +header()
    +topic-preview-widget("Обсуждения в форуме", getData('topic-preview'))
    +yacht-preview-widget("Яхты в продаже", getData('yacht-preview'))
