.index {
  position: relative;
  display: block;
  flex: 1 0 auto;

  &__main-container {
    display: flex !important; // temp
    flex-flow: row wrap;
  }

  &__mobile-slider-slot {
    margin-top: 35px;
    width: 100%;

    @media (min-width: 991px) {
      display: none;
    }
  }

  &__main-slider {
    padding-top: 30px;
    width: 100%;
    height: 100vh;

    @media (max-width: 991px) {
      display: none;
    }

    @media (min-width: 992px) {
      .main-slider {
        will-change: transform;
        transform: scale(0);
        height: 100%;
        transform-origin: bottom;
        animation: indexMainSlider 1s linear 2s forwards;
      }
    }
  }

  &__sidebar {
    margin-top: 30px;
    margin-right: 30px;
    display: block;
    width: 263px;

    @include respond-to('tablet') {
      display: none;
    }

    @include respond-to('mobile') {
      display: none;
    }

    &_right {
      margin-right: 0;
      margin-left: 30px;

      @include respond-to('tablet') {
        display: none;
      }

      @include respond-to('mobile') {
        display: none;
      }
    }
  }

  &__content {
    margin-top: 30px;
    display: block;
    flex: 1;

    @include respond-to('tablet') {
      flex-basis: 100%;
    }

    @include respond-to('mobile') {
      display: none;
    }
  }

  &__big-banner {
    margin-top: 30px;

    @include respond-to('tablet') {
      display: none;
    }

    @include respond-to('mobile') {
      display: none;
    }
  }

  &__filter {
    margin-top: 35px;
    width: 100%;

    @include respond-to('tablet') {
      margin-top: 0;
    }

    @include respond-to('mobile') {
      margin-top: 0;
    }
  }

  .small-article-preview {
    @include respond-to('tablet') {
      display: none;
    }

    @include respond-to('mobile') {
      display: none;
    }
  }

  .swiper-pagination-bullet-active {
    background: #7f7f7e;

    @include respond-to('tablet') {
      border-width: 3px !important;
    }

    @include respond-to('mobile') {
      border-width: 3px !important;
    }
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: inherit;
    opacity: 1;
  }

  .swiper-wrapper {
    @include respond-to('tablet') {
      margin-bottom: 52px;
    }

    @include respond-to('mobile') {
      margin-bottom: 52px;
    }
  }

  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 30px;

    @include respond-to('tablet') {
      bottom: 15px;
    }

    @include respond-to('mobile') {
      bottom: 15px;
    }
  }

  .main-slider__swiper-pagination .swiper-pagination-bullet {
    @include respond-to('tablet') {
      border: 1px solid #272067;
    }

    @include respond-to('mobile') {
      border: 1px solid #272067;
    }
  }

  .articles-grid {
    @include respond-to('tablet') {
      display: none;
    }

    @include respond-to('mobile') {
      display: none;
    }
  }

  .main-container {
    padding-bottom: 30px;

    @include respond-to('mobile') {
      padding-bottom: 0;
    }

    .navbar {
      padding: 0 15px;
      display: none;

      @include respond-to('tablet') {
        display: block;
      }

      @include respond-to('mobile') {
        display: block;
      }

      &__item:not(:last-child) {
        border-bottom: 1px solid $color-light-gray;
      }

      &__item:not(:last-child) {
        border-right: none;
      }
    }//navbar
  }//main-container
}

@keyframes indexMainSlider {

  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
