include ../header/header
include ../container/container
include ../text-field/text-field
include ../division/division

mixin index()
  +b.index&attributes(attributes)
    +header()
    +container()
      +division("Неактивен")
      +division("Форум")._active._arrow
      +division("Купить")._active._arrow-left
      +division("Яхтинг в России")._active._arrow-right
