include ../page-header/page-header
include ../article-preview/articles-grid
include ../article-preview/article-preview
include ../main-container/main-container
include ../container/container
include ../main-slider/main-slider
include ../banner-big/banner-big
include ../filter/filter
include ../timeline/timeline
include ../topic-preview-widget/topic-preview-widget
include ../yacht-preview-widget/yacht-preview-widget
include ../submenu/submenu
include ../page-header/page-header
include ../sale-preview-item/sale-preview-item
include ../text/text
include ../subscribe/subscribe
include ../article-preview/articles-grid
include ../article-preview/article-preview
include ../navbar/navbar
include ../yacht-slider/yacht-slider
include ../sale-preview-item/sale-preview-item

mixin index()
  +b.index&attributes(attributes)
    +container()
      +e.main-slider()
        +main-slider()
      +main-container().main-container_shadow.index__main-container
        +filter().__filter
        +navbar(getData('navbar'))
        +e.sidebar
          +yacht-preview-widget("Яхты в продаже", getData('yacht-preview'))
        +e.content
          .grid
            .stroke
              .col.col_twelve.col_tablet
                .stroke
                  .col.col_two-three
                    +article-preview(getData('article-preview_title-inside-img_color_light-blue'))._title-inside-img
                  .col.col_one-three
                    +article-preview(getData('article-preview_title-inside-img_color_light-amber'))._title-inside-img

                .stroke
                  .col.col_two-three
                    +article-preview(getData('article-preview_title-inside-img_color_blue'))._title-inside-img
                  .col.col_one-three
                    .stroke
                      .col.col_twelve
                        +article-preview(getData('article-preview_title-under-img_color_dark-blue'))._title-under-img
                    .stroke
                      .col.col_twelve
                        +article-preview(getData('article-preview_title-under-img_color_light-amber'))._title-under-img

                .stroke
                  .col.col_one-three
                    +article-preview(getData('article-preview_title-under-img_color_red'))._title-under-img
                  .col.col_two-three
                    +article-preview(getData('article-preview_title-inside-img_color_light-blue'))._title-inside-img

        +banner-big().__big-banner
          +e('img')(src='assets/images/banner-img.png').little

        +e.content
          .grid
            .stroke
              .col.col_twelve.col_tablet
                .stroke
                  .col.col_two-three
                    .stroke
                      .col.col_twelve
                        +article-preview(getData('article-preview_title-inside-img_color_blue'))._title-inside-img._tall
                    .stroke
                      .col.col_six
                        +article-preview(getData('article-preview_title-under-img_color_light-amber'))._title-under-img
                      .col.col_six
                        +article-preview(getData('article-preview_title-under-img_color_dark-blue'))._title-under-img

                  .col.col_one-three
                    .stroke
                      .col.col_twelve
                        +article-preview(getData('article-preview_title-inside-img_color_light-amber'))._title-inside-img
                    .stroke
                      .col.col_twelve
                        +article-preview(getData('article-preview_title-inside-img_color_light-blue'))._title-inside-img._tall

                .stroke
                  .col.col_two-three
                    +article-preview(getData('article-preview_title-inside-img_color_light-blue'))._title-inside-img
                  .col.col_one-three
                    +article-preview(getData('article-preview_title-under-img_color_red'))._title-under-img

        +e.sidebar._right
          +topic-preview-widget("Обсуждения в форуме", getData('topic-preview'))

