include ../header/header
include ../banner-big/banner-big

mixin index()
  +b.index&attributes(attributes)
    +header()
    +container()
      +banner-big('', 'assets/images/banner-big.jpg')._overlay
        +e('img')(src='assets/images/banner-img.png').content_img
