include ../header/header
include ../footer-menu/footer-menu
include ../developed-by/developed-by

mixin index()
  +b.index&attributes(attributes)
    +header()
    +footer-menu(getData('footer-menu'))
    +developed-by()
