include ../main-container/main-container
include ../container/container
include ../page-header/page-header
include ../text-field/text-field
include ../share/share

mixin forgot-password()
  +b.forgot-password&attributes(attributes)
    +container()
      +page-header('Забыли пароль?', ['Главная', 'Вход'])
      +main-container().main-container_shadow.magazine__main-container
        .forms
          .form.form-one#join-1
            +e('fieldset').fieldset.fieldset-two
              +e('img')(src='assets/images/password/password.jpg').img
              .form__row
                +e('span').label Введите символы с картинки
                +text-field({name: 'text', type: 'text'})
              .form__row
                +e('span').label Телефон
                +text-field({name: 'tel', type: 'tel'})
              .form__row
                +e('p').text.text_margin Укажите номер и мы пришлем СМС с кодом подтверждения. Без тире, пробелов и скобок, например +71234567890

              +button()(type='submit')._kind_red._rounded._shadow.__button Выслать код

          .form.form-one#join-2
            +e('fieldset').fieldset.fieldset-two
              .form__row
                +e('span').label Введите код
                +text-field({name: 'text', type: 'text'})
              .form__row
                +e('a href="#"').link.link_margin Выслать повторно

              +button()(type='submit')._kind_red._rounded._shadow.__button Далее


          .form.form-one#join-3
            +e('fieldset').fieldset.fieldset-two
              .form__row
                +e('span').label Пароль
                +text-field({name: 'password', type: 'password'})
              .form__row
                +e('span').label Повторите
                +text-field({name: 'password', type: 'password'})

              +button()(type='submit')._kind_red._rounded._shadow.__button Сохранить

