mixin yacht-slider()
  +b.yacht-slider.swiper-container
    +e.wrapper.swiper-wrapper
      +e.slide.swiper-slide
        +e('a')(href="#").slide-wrap
          +e('img').img(src='assets/images/yacht.jpg')
          +e('div').description Крейсерские яхты со средиземным кокпитом
          +e('div').subdesc Самый популярный и массовый класс для любителей путешествовать на парусных яхтах
          +e('div').subdesc 129 моделей
      +e.slide.swiper-slide
        +e('a')(href="#").slide-wrap
          +e('img').img(src='assets/images/yacht.jpg')
          +e('div').description Крейсерские яхты со средиземным кокпитом
          +e('div').subdesc Самый популярный и массовый класс для любителей путешествовать на парусных яхтах
          +e('div').subdesc 129 моделей
      +e.slide.swiper-slide
        +e('a')(href="#").slide-wrap
          +e('img').img(src='assets/images/yacht.jpg')
          +e('div').description Крейсерские яхты со средиземным кокпитом
          +e('div').subdesc Самый популярный и массовый класс для любителей путешествовать на парусных яхтах
          +e('div').subdesc 129 моделей
      +e.slide.swiper-slide
        +e('a')(href="#").slide-wrap
          +e('img').img(src='assets/images/yacht.jpg')
          +e('div').description Крейсерские яхты со средиземным кокпитом
          +e('div').subdesc Самый популярный и массовый класс для любителей путешествовать на парусных яхтах
          +e('div').subdesc 129 моделей
      +e.slide.swiper-slide
        +e('a')(href="#").slide-wrap
          +e('img').img(src='assets/images/yacht.jpg')
          +e('div').description Крейсерские яхты со средиземным кокпитом
          +e('div').subdesc Самый популярный и массовый класс для любителей путешествовать на парусных яхтах
          +e('div').subdesc 129 моделей
      +e.slide.swiper-slide
        +e('a')(href="#").slide-wrap
          +e('img').img(src='assets/images/yacht.jpg')
          +e('div').description Крейсерские яхты со средиземным кокпитом
          +e('div').subdesc Самый популярный и массовый класс для любителей путешествовать на парусных яхтах
          +e('div').subdesc 129 моделей
    +e.swiper-pagination
