include ../main-container/main-container
include ../container/container
include ../page-header/page-header
include ../button/button
include ../banner/banner
include ../text/text
include ../sale-preview-item/sale-preview-item
include ../extra-articles/extra-articles
include ../image-bg/image-bg
include ../share/share
include ../comments/comments
include ../comments-mark/comments-mark
include ../tag-list/tag-list

mixin magazine2()
  +b.magazine2&attributes(attributes)
    +container()
      +page-header('PROyachting проведет третий этап Sochi Winter Cup на новогодних праздниках', ['Главная', 'Журнад', 'Путешествия', 'PROyachting проведет третий этап Sochi Winter Cup на новогодних праздниках'])
      +main-container().main-container_shadow.magazine-razdel__main-container
        +e.box-bg
          +image-bg()(src='assets/images/magazine/magazine2.jpg')

        +e.content.magazine2__content-one
          +text().__text
            +e.block
              +e('span;').size._big Т
              p
                | ретий этап серии регат Sochi Winter Cup 2016–2017 состоится с 6 по 8 января.
                | По результатам двух этапов лидирует команда «Правый галс» во главе со шкипером
                | Сергеем Авдониным. Принимет регату Имеретинский яхтенный порт с современной
                | олимпийской инфраструктурой, новыми отелями и спортивными комплексами.
                | Гонки будут проходить на монотипах GP 26.

            p
              | Всего организаторами запланировано проведение шести этапов. Концепция регаты — доступные по ценам
              | гонки и профессиональная организация. Регата рассчитана как на опытных яхтсменов, которым важно
              | поддерживать спортивную форму круглый год, так и на новичков, которые только знакомятся с парусом.
              | Вступить в борьбу участники могут на любом из этапов серии.


            +e.banner
              +banner('#', 'assets/images/banner2.jpg')

            p.margin-one
              | В пакет участника регаты Sochi Winter Cup входят три дня гонок на морской акватории,
              | семинары и мастер-классы по парусному спорту, ежедневные совместные ужины, а также проживание в
              | комфортабельном отеле «Имеретинский», который располагается в непосредственной близости от порта.
              | При бронировании яхты командой в 4 человека стоимость участия на каждого составит 30 000 рублей.
              | Подробнее с программой и ценами на участие в регате можно ознакомиться на сайте PROyachting.

            div.block
              +e('span').size._medium.text_margin Выжать из яхты максимум — это не просто добавить палубного пространства.
              p.block-text
                | Мы все их видели. Они украшают руки, ноги, грудь как моряков, так и людей, ни разу не выходивших
                | в море. Если вы знаете больше двух человек с татуировками, скорее всего, хотя бы у одного из них
                | есть наколка на морскую тематику. Благотворительная организация Sail Training International
                | составила список своих любимых морских татуировок и их значений. Список разбит на четыре блока.
                | В первом блоке перечислены татуировки, служащие для обозначения морских достижений.

            p
              | Мы все их видели. Они украшают руки, ноги, грудь как моряков, так и людей, ни разу не выходивших в
              | море. Если вы знаете больше двух человек с татуировками, скорее всего, хотя бы у одного из них есть
              | наколка на морскую тематику. Благотворительная организация Sail Training International составила список
              | своих любимых морских татуировок и их значений. Список разбит на четыре блока.морских татуировок и их значений. Список разбит на четыре блока.
              | В первом блоке перечислены татуировки, служащие для обозначения морских достижений.
              | Экстравагантные игрушки — другой очевидный индикатор статуса в море. Теперь, когда вертолеты и
              | бассейны на борту принимаются как нечто само собой разумеющееся, бой перешел на новые территории.
              | Последний писк моды — судна поддержки. Зачем загружать свою 150-метровую яхту игрушками, когда
              | можно сложить их на судно поддержки размером поменьше и получать их в свое распоряжение по
              | первому требованию?

            p
              | Одно такое вспомогательное судно, выставленное в Монако, демонстрировало весь джентльменский
              | набор игрушек: скутер Vespa, спидбот, снаряжение для дайвинга, пара гидроциклов, и — в качестве
              | вишенки на торте — личную субмарину. Оказывается, ничто так не разделяет мир сверхбогатых, как
              | извечный спор на тему формы подлодки: один лагерь ратует за круглые подводные аппараты, в то время
              | как другой с пеной у рта отстаивает форму сигары.

            p
              | Выжать из яхты максимум — это не просто добавить палубного пространства. Владельцы судов учатся
              | тому, как выжать больше из имеющихся ресурсов. Они превращают свои вертолетные площадки в поля
              | для игры в сквош днем и кинотеатры под открытым небом ночью.
              | Мы все их видели. Они украшают руки, ноги, грудь как моряков, так и людей, ни разу не выходивших в
              | море. Если вы знаете больше двух человек с татуировками, скорее всего, хотя бы у одного из них есть
              | наколка на морскую тематику. Благотворительная организация Sail Training International составила список
              | своих любимых морских татуировок и их значений. Список разбит на четыре блока.

            +e.medium-bg
              +image-bg()(src='assets/images/magazine/medium-bg.jpg')

            +e.block
              +e('span;').size._big В
              p
                | сего организаторами запланировано проведение шести этапов. Концепция регаты — доступные по ценам
                | гонки и профессиональная организация. Регата рассчитана как на опытных яхтсменов, которым важно
                | поддерживать спортивную форму круглый год, так и на новичков, которые только знакомятся с парусом.
                | Вступить в борьбу участники могут на любом из этапов серии.

            p
              | В пакет участника регаты Sochi Winter Cup входят три дня гонок на морской акватории, семинары и
              | мастер-классы по парусному спорту, ежедневные совместные ужины, а также проживание в комфортабельном
              | отеле «Имеретинский», который располагается в непосредственной близости от порта. При бронировании
              | яхты командой в 4 человека стоимость участия на каждого составит 30 000 рублей. Подробнее с
              | программой и ценами на участие в регате можно ознакомиться на сайте PROyachting.

            div.block
              p.block-text
                | Мы все их видели. Они украшают руки, ноги, грудь как
                | моряков, так и людей, ни разу не выходивших в море. Если
                | вы знаете больше двух человек с татуировками, скорее
                | всего, хотя бы у одного из них есть наколка на морскую
                | тематику. Благотворительная организация Sail Training
                | International составила список своих любимых морских
                | татуировок и их значений. Список разбит на четыре блока.
                | В первом блоке перечислены татуировки, служащие для
                | обозначения морских достижений. Экстравагантные
                | игрушки — другой очевидный индикатор статуса в море.
                | Теперь, когда вертолеты и бассейны на борту
                | принимаются как нечто само собой разумеющееся, бой
                | перешел на новые территории. Последний писк моды —
                | судна поддержки. Зачем загружать свою 150-метровую
                | яхту игрушками, когда можно сложить их на судно
                | поддержки размером поменьше и получать их в свое
                | распоряжение по первому требованию?

              +e.medium-bg1
                +image-bg()(src='assets/images/magazine/magazine2-2.jpg')

            p
              | Одно такое вспомогательное судно, выставленное в Монако, демонстрировало весь джентльменский
              | набор игрушек: скутер Vespa, спидбот, снаряжение для дайвинга, пара гидроциклов, и — в качестве
              | вишенки на торте — личную субмарину. Оказывается, ничто так не разделяет мир сверхбогатых, как
              | извечный спор на тему формы подлодки: один лагерь ратует за круглые подводные аппараты, в то время
              | как другой с пеной у рта отстаивает форму сигары. Выжать из яхты максимум — это не просто добавить
              | палубного пространства. Владельцы судов учатся тому, как выжать больше из имеющихся ресурсов. Они
              | превращают свои вертолетные площадки в поля для игры в сквош днем и кинотеатры под открытым
              | небом ночью. Мы все их видели. Они украшают руки, ноги, грудь как моряков, так и людей, ни разу не
              | выходивших в море.
              | Если вы знаете больше двух человек с татуировками, скорее всего, хотя бы у одного из них есть наколка

        +e.sidebar
          +e.list
            - for (var i = 0; i < 2; i++)
            +e.item
              +e.banner
                +banner('#', 'assets/images/banner2.jpg')
            +e.item
              +sale-preview-item(getData('sale-preview-item'))
            +e.item
              +sale-preview-item(getData('sale-preview-item'))
            +e.item
              +e.banner
                +banner('#', 'assets/images/banner2.jpg')
            +e.item
              +sale-preview-item(getData('sale-preview-item'))
            +e.item
              +sale-preview-item(getData('sale-preview-item'))
            +e.item
              +sale-preview-item(getData('sale-preview-item'))

        +e.box-bg.magazine2__box-bg1
          +image-bg()(src='assets/images/magazine/magazine2-1.jpg')

        +e.content-two
          +text()
            +e.block
            p
              | Одно такое вспомогательное судно, выставленное в Монако, демонстрировало весь джентльменский
              | набор игрушек: скутер Vespa, спидбот, снаряжение для дайвинга, пара гидроциклов, и — в качестве
              | вишенки на торте — личную субмарину. Оказывается, ничто так не разделяет мир сверхбогатых, как
              | извечный спор на тему формы подлодки: один лагерь ратует за круглые подводные аппараты, в то время
              | как другой с пеной у рта отстаивает форму сигары.

          +e.inner-content
            +tag-list( 'video1', getData('tag-list')).__tags
            +share('vk', 'go', 'fb', 'odnokl', 'tw', small).__share
          +e.inner-content
            +comments(getData('comments'))


        +e.extra-articles
          +extra-articles('Другие статьи')
