include ../division/division

mixin submenu(data)
  +b.submenu#mainTab
    +e('ul').control
      each item in data
        +e('li').item
          +e('a')(href=item.path).link
            if item.active
              +division(item.title)._active.__title
              +icon('chevron').icon_type_chevron
            else
              +division(item.title).__title
