include ../division/division

mixin submenu(data, isVertical)
  - var verticalBlockModifier = isVertical ? 'submenu_vertical' : '';
  - var verticalDivisionModifier = isVertical ? 'division_arrow-left' : '';

  +b('ul')(class=verticalBlockModifier).submenu
    each item in data
      +e('li').item
        +e('a')(href=item.path).link
          if item.active
            +division(item.title)(class=verticalDivisionModifier)._active.__title
          else
            +division(item.title)(class=verticalDivisionModifier).__title
