include ../select/select

+b.sort
  +e.found 
    +e('span').filter__label Найдено 
    +e('span').sort__output 125
    +e('span') моделей
  +e.price 
    +e('span').filter__label Сортировать
    - var filterData = getData('filter')
      +select(filterData.priceSort.name, filterData.priceSort.options).