.account-sale3 {

  &__grid-container {
    display: flex;

    @include respond-to('tablet') {
      flex-direction: column;
    }

    @include respond-to('mobile') {
      flex-direction: column;
    }
  }

  &__col-nav {
    padding-right: 15px;
    flex: 0 0 375px;

    @include respond-to('tablet') {
      flex: none;
      padding: 0;
    }

    @include respond-to('mobile') {
      flex: none;
      padding: 0;
    }
  }

  &__col-page {
    padding-left: 15px;
    flex-grow: 1;
    margin-top: -11px;
    color: $color-black;
    font-size: rem(16px);

    @include respond-to('tablet') {
      padding-right: 15px;
    }

    @include respond-to('mobile') {
      padding-right: 15px;
      margin-top: 20px;
    }

    h2 {
      font-size: rem(24px);
      margin: 0;
      font-weight: 400;

      @include respond-to('tablet') {
        font-size: rem(20px);
      }

      @include respond-to('mobile') {
        font-size: rem(20px);
      }
    }

    .user-info {
      box-shadow: 0 0 7px 0 rgba(19, 11, 89, .14);
      padding: 11px 26px 19px;
      margin-top: 25px;
      margin-bottom: 55px;

      h2 {
        border-bottom: 1px solid $color-light-gray;
        padding-bottom: 22px;
      }

      &__switcher {
        width: 265px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;
        max-width: 100%;

        @include respond-to('laptop') {
          margin-left: 0;
        }

        @include respond-to('tablet') {
          margin-left: 0;
        }

        @include respond-to('mobile') {
          margin-left: 0;
        }

        .checkbox_switcher {
          display: inline-flex;
        }
      }

      &__wrap {
        font-size: rem(16px);
        font-weight: 400;
        display: flex;
        padding-top: 25px;

        @include respond-to('laptop') {
          flex-direction: column;
          //align-items: flex-start;
        }

        @include respond-to('tablet') {
          flex-direction: column;
          //align-items: flex-start;
        }

        @include respond-to('mobile') {
          flex-direction: column;
          //align-items: flex-start;
        }
      }

      &__item {
        display: flex;
        margin-top: 25px;

        @include respond-to('tablet') {
          flex-direction: column;
        }

        @include respond-to('mobile') {
          flex-direction: column;
        }

        &:first-child {
          margin-top: 0;
        }
      }

      &__text {
        width: 190px;

        @include respond-to('tablet') {
          flex-basis: auto;
        }

        @include respond-to('mobile') {
          flex-basis: auto;
        }
      }

      &__value {
        font-family: $NerisBlack;
      }

      &__col {
        //display: flex;
        //flex-direction: column;
        //flex: 0 0 50%;
        //width: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;

        @include respond-to('laptop') {
          margin-top: 25px;
          width: 100%;

          &:first-child {
            margin-top: 0;
          }
        }

        @include respond-to('tablet') {
          margin-top: 25px;
          width: 100%;

          &:first-child {
            margin-top: 0;
          }
        }

        @include respond-to('mobile') {
          margin-top: 25px;
          width: 100%;

          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }

  &__radio-wrap {
    display: flex;
    align-items: center;
    width: 366px;
    justify-content: space-between;
    margin: 26px 0;

    @include respond-to('mobile') {
      width: 100%;
    }
  }

  &__radio {
    display: inline-flex;
    align-items: center;

    .radio {
      margin-right: 8px;
    }
  }

  .input-group {
    border-bottom: 1px solid $color-light-gray;
    padding: 40px 0;

    @include respond-to('tablet') {
      padding: 25px 0;
      max-width: 400px;
    }

    @include respond-to('mobile') {
      padding: 25px 0;
      max-width: 400px;
    }

    &__subheader {
      margin-top: 22px;
      margin-bottom: 13px;
    }

    &__msg-field {
      resize: none;
      height: 100%;
      border-radius: 2px;
      border: 1px solid #ccc;
      width: 100%;
      padding: 10px;
      font-family: $NerisLight;
      font-size: 14px;
    }

    &__item {
      display: flex;
      padding: 10px 0;
      align-items: center;

      @include respond-to('tablet') {
        flex-direction: column;
        align-items: flex-start;
      }

      @include respond-to('mobile') {
        flex-direction: column;
        align-items: flex-start;
      }

      &_row {
        @include respond-to('tablet') {
          flex-direction: row;
          align-items: center;
          font-size: 1rem;
        }

        @include respond-to('mobile') {
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          font-size: 1rem;
        }

        .checkbox {
          @include respond-to('mobile') {
            margin-right: 0;
          }
        }

        span:not(.checkbox__box) {
          @include respond-to('mobile') {
            width: 70%;
          }
        }
      }

      &_start {
        align-items: flex-start;
      }

      &_disabled {
        color: $color-gray;
      }

      .checkbox {
        margin-right: 30px;
      }
    }

    &__label {
      flex: 0 0 195px;

      @include respond-to('tablet') {
        flex-basis: auto;
      }

      @include respond-to('mobile') {
        flex-basis: auto;
        font-size: 1rem;
      }

      &_big {
        flex: 0 0 360px;
      }

      &_medium {
        flex: 0 0 235px;
      }
    }

    &__input-wrap {
      flex: 0 0 360px;
      height: 40px;
      display: flex;
      align-items: center;

      @include respond-to('tablet') {
        flex-basis: auto;
        width: 100%;
      }

      @include respond-to('mobile') {
        flex-basis: auto;
        width: 100%;
      }

      &_medium {
        flex: 0 0 320px;
      }

      &_small {
        flex: 0 0 195px;
      }

      &_tall {
        height: 160px;
      }

      .select-currency {
        margin-left: 33px;
      }
    }

    .select {

      &__text {
        display: none;
      }

      &__icon {
        margin-left: auto;
      }
    }

    &__radio {
      margin-left: 70px;
      display: flex;
      align-items: center;

      &:first-child {
        margin-left: 0;
      }

      .radio {
        margin-right: 7px;
      }
    }

    &__after-text {
      padding: 0 15px;
    }

    &__upload {
      flex-basis: 555px;

      @include respond-to('tablet') {
        flex-basis: auto;
      }

      @include respond-to('mobile') {
        flex-basis: auto;
      }

      .upload-form__label {
        font-size: rem(16px);
      }
    }
  }

  .magazine-subscribe-popup {
    margin-top: 22px;
    padding: 0;

    &__types {
      padding: 0;
      margin: 0;
    }

    &__box {
      @media (max-width: 1200px) and (orientation: landscape) {
        width: 200px;
      }
    }
  }

  .speedup {
    padding-top: 47px;

    & > p {
      font-size: rem(18px);
      margin: 45px 0 0;

      @include respond-to('mobile') {
        font-size: 1rem;
      }
    }

    .hint {

      .list {
        padding: 22px 26px;
        width: 263px;

        p {
          color: $color-white !important;
        }
      }
    }

    .pricing {
      max-width: 425px;
      margin: 33px 0 48px;

      @include respond-to('tablet') {
        margin: 20px 0;
      }

      @include respond-to('mobile') {
        margin: 20px 0;
      }

      &__item-sale {
        display: flex;
        align-items: center;
        padding: 9px 0;

        @include respond-to('mobile') {
          flex-wrap: wrap;
        }

        .checkbox {
          margin-right: 30px;
        }
      }

      &__hint-text {
        font-size: rem(18px);
        font-family: $NerisSemiBold;
        margin-left: 10px;
      }

      .list__offer {
        font-family: $NerisSemiBold;
      }

      &__price {
        font-size: rem(18px);
        color: $color-gray;
        margin-left: auto;

        @include respond-to('mobile') {
          width: 100%;
          text-align: center;
        }

        &_active {
          color: $color-black;
        }
      }
    }
  }

  .btn-wrap {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 112px;

    @include respond-to('tablet') {
      margin-bottom: 17px;
    }

    @include respond-to('mobile') {
      margin-bottom: 17px;
    }

    .button {
      height: 40px;
      font-size: rem(20px);

      @include respond-to('mobile') {
        font-size: rem(16px);
      }
    }

    &__sub-btn {
      color: #666;
      font-size: 1rem;
      margin-top: 5px;
    }
  }

  &__text-center {
    @include respond-to('tablet') {
      text-align: center;
    }

    @include respond-to('mobile') {
      text-align: center;
    }
  }

  .upload-form__sup-text {
    left: 0;
  }
}
