.yacht-sale-page {

  &__intro {
    position: relative;
  }

  .sale-contacts-wrap {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -22px;
    z-index: 1;

    @media (max-width: 767px) {
      display: none;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    padding-top: 38px;
    padding-bottom: 49px;
    padding-left: 25px;
    padding-right: 25px;
    border-bottom: 1px solid $color-gray;

    @include respond-to('mobile') {
      flex-direction: column;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 0px;
      border-bottom: none;
    }
  }

  &__technical {
    width: 30.8%;

    @include respond-to('mobile') {
      width: 100%;
      border-top: 1px solid $color-gray;
    }
  }

  &

  &__description {
    width: 57.6%;

    @include respond-to('mobile') {
      width: 100%;
      border-top: 1px solid $color-gray;
      border-bottom: 1px solid $color-gray;
      padding-bottom: 19px;
    }
  }

  &__technical-title,
  &__description-title {
    font-family: "Neris Black";
    display: block;
    font-size: 20px;
    line-height: 1em;
    color: $color-black;
    margin-bottom: 24px;

    @include respond-to('mobile') {
      font-size: 16px;
      line-height: (20/16)*1em;
    }
  }

  &__technical-title {
    @include respond-to('mobile') {
      margin-bottom: 22px;
    }
  }

  &__description-title {
    margin-bottom: 18px;

    @include respond-to('mobile') {
      margin-bottom: 7px;
    }
  }

  &__description-wrapper {
    padding-left: 4px;

    @include respond-to('mobile') {
      height: 289px;
      overflow: hidden;
      padding-left: 0;
      margin-bottom: 8px;
    }
  }

  &__description-more {
    display: none;

    @include respond-to('mobile') {
      display: block;
      color: $color-red;
      text-decoration: none;
    }
  }

  &__technical-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    display: flex;
    justify-content: space-between;

    @include respond-to('mobile') {
      margin-bottom: 33px;
    }
  }

  &__item-name,
  &__item-text {
    font-size: 14px;
    line-height: (34/14)*1em;

    @include respond-to('mobile') {
      line-height: (16/14)*1em;
    }
  }

  &__item-name {
    color: $color-gray;
  }

  &__item-text {
    font-family: "Neris SemiBold";
    color: $color-black;
  }

  &__description-text {
    display: block;
    color: $color-black;
    margin-bottom: 17px;

    &:last-child {
      margin-bottom: 0;
    }

    @include respond-to('mobile') {
      margin-top: 0;
    }
  }

  &__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 25px;
    border-bottom: 1px solid $color-gray;

    @include respond-to('mobile') {
      flex-direction: column;
      border-bottom: none;
      padding: 17px 15px;
    }
  }

  &__hr {
    display: none;

    @include respond-to('mobile') {
      display: block;
      width: 100%;
      order: 4;
      border-top: 1px solid $color-gray;
    }
  }

  &__complain {
    .button {
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 37px;
      padding-right: 37px;

      @include respond-to('mobile') {
        padding-top: 8px;
        padding-bottom: 8px;
        margin-bottom: 20px;
      }
    }

    @include respond-to('mobile') {
      order: 3;
    }
  }

  &__button-wrapper {
    margin-left: 46px;

    @include respond-to('mobile') {
      display: flex;
      justify-content: center;
      order: 2;
      margin-left: 0;
      margin-bottom: 21px;
    }

    .share {
      @include respond-to('mobile') {
        flex-wrap: wrap;
        justify-content: center;
      }

      &__title {
        font-size: 20px;
        line-height: (24/20)*1em;
      }
    }
  }

  &__adds {
    @include respond-to('mobile') {
      margin-bottom: 10px;
      text-align: center;
      padding-bottom: 18px;
      order: 1;
    }
  }

  &__adds-text {
    display: block;
    color: $color-gray;
  }

  &__more {
    padding-top: 35px;
    padding-bottom: 52px;

    @include respond-to('mobile') {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &__more-title {
    font-size: 38px;
    text-align: center;
    line-height: 1em;
    color: $color-dark-blue;

    @include respond-to('mobile') {
      font-size: 22px;
      line-height: (24/22)*1em;
      margin: 0;
      margin-bottom: 17px;
    }
  }

  .models__header {
    display: none;
  }

  &__more-button,
  &__show-contacts-button {
    width: 262px;
    margin: 0 auto;

    .button {
      padding-top: 12px;
      padding-bottom: 12px;
      line-height: (24/14)*1em;
    }
  }

  &__show-contacts-button {
    .button {
      font-size: 18px;
      line-height: 1em;
      padding-top: 11px;
      padding-bottom: 11px;
    }
  }

  &__more-button {
    @include respond-to('mobile') {
      display: none;
    }
  }

  &__goto {
    display: none;

    @include respond-to('mobile') {
      display: flex;
      justify-content: space-between;
      padding-top: 6px;
      margin-bottom: 12px;
    }
  }

  &__prev-button,
  &__next-button {
    text-decoration: none;
    color: $color-red;
  }

  &__prev-button {
    margin-left: 5px;
  }

  &__next-button {
    margin-right: 5px;
  }

  &__prev {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &-icon {
      transform: rotate(180deg);
    }
  }

  &__next {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__prev-icon,
  &__next-icon {

    & > * {
      stroke: $color-red;
    }

    width: 30px;
    height: 20px;
    display: block;
    stroke: $color-white;
  }


  &__show-contacts-button {
    display: none;

    @include respond-to('mobile') {
      display: block;
      width: 100%;
    }
  }

  .models {
    padding-top: 0;
    border-top: none;

    .swiper-container {
      .swiper-slide {
        flex-direction: column;
      }

      &__swiper-pagination {
        display: block;
        position: relative;
        bottom: 0;
      }
    }

    &_yacht {

        @include respond-to('mobile') {
          border-bottom: 1px solid $color-gray;
        }

      .sale-preview-item {
        margin-top: 0 !important;

        @include respond-to('mobile') {
          margin-right: 0 !important;
        }

        &__img-wrap {
          width: 100%;
          height: 213px;

          @include respond-to('mobile') {
            margin-right: 0 !important;
            height: 236px;
          }
        }

        &__text {
          @include respond-to('mobile') {
            align-items: center;
          }
        }

        &__params {
          @include respond-to('mobile') {
            display: none;
          }
        }
      }
    }
  }
}
