include ../page-header/page-header
include ../container/container
include ../main-container/main-container
include ../banner/banner
include ../main-slider/main-slider
include ../submenu/submenu
include ../filter-shop/filter-shop
include ../button/button
include ../text/text
include ../models/models
include ../image-bg/image-bg
include ../yacht-slider/yacht-slider
include ../select/select
include ../shop-grid/shop-grid
include ../banner/banner

mixin shop1()
  +b.shop1&attributes(attributes)
    +page-header('UltraBoats', ['Главная', 'Магазины', 'UltraBoats'])
    +container()
      +main-container().main-container_shadow.magazine-razdel__main-container
        +e.link 
          +e('a')(href='#') Информация о магазине
        +main-slider(true)
        +submenu(getData('submenu-short')).shop1__submenu
        +filter-shop()
        +e.sort
          +e.found 
            +e('span').filter__label Найдено 
            +e('span').sort__output 125
            +e('span') моделей
          +e.price 
            +e('span').filter__label Сортировать
            - var filterData = getData('filter')
              +select(filterData.priceSort.name, filterData.priceSort.options).
        +shop-grid(getData('sale-preview-item-extended')).shop1__grid
        +button()._rounded._kind_red.__show-more Показать еще
