include ../page-header/page-header
include ../container/container
include ../main-container/main-container
include ../main-slider/main-slider
include ../submenu/submenu
include ../filter-shop/filter-shop
include ../button/button
include ../text/text
include ../models/models
include ../image-bg/image-bg
include ../yacht-slider/yacht-slider
include ../select/select
include ../shop-grid/shop-grid
include ../image-bg/image-bg
include ../shop2-page/shop2-page
include ../shop3/shop3-page
include ../gallery-slider-popup/gallery-slider-popup

mixin shop1()
  +b.shop1&attributes(attributes)
    +e(style='background-image: url(assets/images/branding/shop-banner.jpg)').banner
    +e(style='background-image: url(assets/images/branding/shop-main-bg.jpg)').brand-bg
      +container()
        +main-container().main-container_shadow.magazine-razdel__main-container
          +e.link
            +e('a')(href='#') Информация о магазине
          +main-slider(true)
          +e.tabs#shopTabs
            +submenu(getData('submenu-shop')).shop1__submenu
            +e#shop-1.shop-1
              +filter-shop()
              +e.sort
                +e.found
                  +e('span').sort__output 126
                  +e('span') предложений
                +e.price
                  +e('span').filter__label Сортировать
                  - var filterData = getData('filter')
                    +select(filterData.priceSort.name, filterData.priceSort.options)
              +shop-grid(getData('sale-preview-item-extended')).shop1__grid
              +button()._rounded._kind_red._shadow.__show-more Показать еще
            +shop2-page()#shop-2
            +shop3-page()#shop-3
    +e(style='background-image: url(assets/images/branding/shop-banner.jpg)').banner
    .branding //- for up-btn
    +gallery-slider-popup(['assets/images/yacht-club/gallery-1.jpg', 'assets/images/yacht-club/gallery-2.jpg', 'assets/images/yacht-club/gallery-3.jpg'])
