.yacht-clubs-item {
  width: 33.33%;
  margin-bottom: 26px;
  cursor: pointer;
  box-shadow: 0 0 -20px 0 rgba(0, 0, 0, .15);
  transition: all .25s ease-in-out;

  &:hover {
    box-shadow: 0 0 35px 0 rgba($color-dark-blue, .3);
  }

  @include respond-to('mobile') {
    width: 100%;
    margin-bottom: 20px;
  }

  &__link {
    position: relative;
    height: 213px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-black;

    @include respond-to('mobile') {
      height: 158px;
    }

    .image-bg {
      z-index: inherit;
      height: 213px;
      width: 100%;

      @include respond-to('mobile') {
        height: 158px;
      }

      .image-bg__img {
        height: 100%;
      }
    }

    .yacht-clubs-item__img {
      //flex-basis: 100%;
      max-width: 220px;
    }
  }

  &__description {
    text-align: center;
    padding: 8px 20px 0;

    @include respond-to('mobile') {
      padding: 5px 20px 0;
    }

    * {
      margin: 0;
    }
  }

  &__city {
    color: $color-gray;
    font-family: $NerisLight;
    font-weight: 300;
    font-size: 13px;
  }

  &__title {
    font-family: $NerisBlack;
    font-weight: 900;
    font-size: 18px;
    line-height: 1.2;
  }

  &__text {
    font-family: $NerisLight;
    font-weight: 300;
    color: #666;
    line-height: 1.3;
    margin-top: 8px;
    font-size: 14px;

    @include respond-to('mobile') {
      display: none;
    }
  }
}
