include ../page-header/page-header
include ../container/container
include ../main-container/main-container
include ../account-navigation/account-navigation
include ../icon/icon
include ../list/list
include ../text-field/text-field
include ../select/select
include ../submenu/submenu
include ../dotted-dropdown/dotted-dropdown
include ../mobile-slide-popup/mobile-slide-popup
include ../button/button
include ../sale-preview-item/sale-preview-item
include ../proposal-actions/proposal-actions

mixin account-shop-3-page()
  +b.account-shop-3-page
    +container()
      +page-header('Личный кабинет', ['Главная', 'Личный кабинет'])
      +main-container()

        +e('div').wrapper
          -
            var nav = getData('account-navigation')
            nav.default[0].name = 'Магазин'
            nav.default[3].active = false
            nav.default[0].active = true
          +account-navigation(nav)

          +e('div').form

            +list()._form

              +list-item()._tariffs
                h3.title Тарифы
                p.description
                  | Описание работы, приобретение и продление тарифов. Для того, чтобы на сайте было размещено более одного объявления одновременно, вы можете воспользоваться наиболее выгодным для Вас пакетом услуг.
                .types

                  a(href='#').type
                    .box
                      .box-title
                        +icon('subscribe-type-default').icon.icon_default
                        .info
                          .text.text_period Стандарт
                          .text.text_price 0 Р
                      ul.options
                        li.option.option_active Персональная страница для объявлений
                          +icon('mark', true).mark
                        li.option Мультиплатформа
                          +icon('mark', true).mark
                        li.option Создание полной информации о компании
                          +icon('mark', true).mark
                        li.option Автозагрузка объявлений
                          +icon('mark', true).mark
                        li.option Личный менеджер
                          +icon('mark', true).mark
                        li.option Оформление страницы компании и обхявлений в поиске
                          +icon('mark', true).mark
                        li.option Выделенная круглосуточная поддержка
                          +icon('mark', true).mark
                      +button()._rounded._kind_red._shadow
                        | Купить

                  a(href='#').type
                    .box
                      .box-title
                        +icon('subscribe-type-express').icon.icon_express
                        .info
                          .text.text_period Супермаркет
                          .text.text_price 1300 Р
                      ul.options
                        li.option.option_active Персональная страница для объявлений
                          +icon('mark', true).mark
                        li.option.option_active Мультиплатформа
                          +icon('mark', true).mark
                        li.option.option_active Создание полной информации о компании
                          +icon('mark', true).mark
                        li.option.option_active Автозагрузка объявлений
                          +icon('mark', true).mark
                        li.option.option_active Личный менеджер
                          +icon('mark', true).mark
                        li.option.option_active Оформление страницы компании и обхявлений в поиске
                          +icon('mark', true).mark
                        li.option Выделенная круглосуточная поддержка
                          +icon('mark', true).mark
                      +button()._rounded._kind_red._shadow
                        | Купить

                  a(href='#').type
                    .box
                      .box-title
                        +icon('subscribe-type-turbo').icon.icon_turbo
                        .info
                          .text.text_period Гипермаркет
                          .text.text_price 2550 Р
                      ul.options
                        li.option.option_active Персональная страница для объявлений
                          +icon('mark', true).mark
                        li.option.option_active Мультиплатформа
                          +icon('mark', true).mark
                        li.option.option_active Создание полной информации о компании
                          +icon('mark', true).mark
                        li.option.option_active Автозагрузка объявлений
                          +icon('mark', true).mark
                        li.option.option_active Личный менеджер
                          +icon('mark', true).mark
                        li.option.option_active Оформление страницы компании и обхявлений в поиске
                          +icon('mark', true).mark
                        li.option.option_active Выделенная круглосуточная поддержка
                          +icon('mark', true).mark
                      +button()._rounded._kind_red._shadow
                        | Купить
                +button()._rounded.button-slide
                  span Свернуть блок
                  +icon('caret').icon._kind_caret._kind_caret-up._stroke_blue


              +list-item()._offers
                h3.title Мои предложения

                .field
                  form(name='offers_filter' action='#').offers-filter
                    .input.offers-select
                      +select('category', [{ value: 1, title: 'Все категории' }, { value: 2, title: 'Категория 1' }, { value: 3, title: 'Категория 2' }])
                    .input.offers-text
                      input(type='text' placeholder='Поиск по предложениям магазина').text
                      +icon('magnifier', true).magnifier
                    .input.offers-button
                      +button(true)._kind_red
                        | Показать

                .field.sortby-status
                  .select-wrapper
                    +submenu(getData('submenu-account'))
                    +select('item10', [{value: '1', title: 'Все'}, {value: '2', title: 'Путешествия'}, {value: '3', title: 'Видео-обзоры'}], false, 'Категория')
                    +dotted-dropdown()(data-target-modal='#magazine-mobile-filter').js-mobile-slide-popup

                .field.sortby-params
                  p.count
                    span.value 126
                    | &nbsp;предложений
                  .sort
                    span.caption Сортировать
                    +select('sortby', [{ value: 1, title: 'по дате' }, { value: 2, title: 'по наименованию' }, { value: 3, title: 'по цене' }])

                .field.results

                  - var results = getData('sale-preview-item-short')
                  ul.result
                    each res in results
                      li.result-item
                        .preview
                          +sale-preview-item(res)._image_left
                        .actions
                          +proposal-actions()
    +mobile-slide-popup()#magazine-mobile-filter
      | test
