.magazine {
  display: block;
  flex: 1 0 auto;
  background-image: linear-gradient(to bottom, #3f4e5b, #537787);

  &__content {
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }

  &__big-banner {
    margin: 30px 0;
  }

  &__show-more {
    margin: 0 auto;
    width: auto;
    min-width: 165px;
    height: 40px;
  }
}
