include ../main-container/main-container
include ../container/container
include ../page-header/page-header
include ../submenu/submenu
include ../banner-big/banner-big
include ../article-preview/articles-grid
include ../article-preview/article-preview
include ../button/button
include ../banner/banner
include ../select/select
include ../dotted-dropdown/dotted-dropdown
include ../mobile-slide-popup/mobile-slide-popup

mixin magazine()
  +b.magazine&attributes(attributes)
    +container()
      +page-header('Журнал', ['Главная', 'Журнал'])
      +main-container().main-container_shadow.magazine__main-container
        +e('div').select-wrapper
          +submenu(getData('submenu'))
          +select('item10', [{value: '1', title: 'Все'}, {value: '2', title: 'Путешествия'}, {value: '3', title: 'Видео-обзоры'}], null, 'Категория')
          +dotted-dropdown()(data-target-modal='#magazine-mobile-filter').js-mobile-slide-popup
        +e.content
          +articles-grid()
            .stroke
              .col.col_six
                +article-preview(getData('article-preview_title-inside-img_color_light-blue'))._title-inside-img
              .col.col_three
                +article-preview(getData('article-preview_title-inside-img_color_light-amber'))._title-inside-img
              .col.col_three
                +article-preview(getData('article-preview_title-under-img_color_dark-blue'))._title-under-img
            .stroke
              .col.col_six
                +article-preview(getData('article-preview_title-inside-img_color_blue'))._title-inside-img._tall
              .col.col_six
                .stroke
                  .col.col_six
                    +article-preview(getData('article-preview_title-under-img_color_dark-blue'))._title-under-img
                  .col.col_six
                    +article-preview(getData('article-preview_title-under-img_color_red'))._title-under-img
                .stroke
                  .col.col_six
                    +article-preview(getData('article-preview_title-under-img_color_light-amber'))._title-under-img
                  .col.col_six
                    +article-preview(getData('article-preview_title-under-img_color_dark-blue'))._title-under-img
            .stroke
              .col.col_three
                +article-preview(getData('article-preview_title-under-img_color_dark-blue'))._title-under-img
              .col.col_six
                +article-preview(getData('article-preview_title-inside-img_color_light-blue'))._title-inside-img
              .col.col_three
                +article-preview(getData('article-preview_title-under-img_color_light-amber'))._title-under-img

          +banner-big().__big-banner
            +e('img')(src='assets/images/banner-img.png').little

          +articles-grid()
            .stroke
              .col.col_six
                +article-preview(getData('article-preview_title-inside-img_color_light-blue'))._title-inside-img
              .col.col_three
                +article-preview(getData('article-preview_title-inside-img_color_light-amber'))._title-inside-img
              .col.col_three
                +article-preview(getData('article-preview_title-under-img_color_dark-blue'))._title-under-img
            .stroke
              .col.col_six
                +article-preview(getData('article-preview_title-inside-img_color_blue'))._title-inside-img._tall
              .col.col_six
                .stroke
                  .col.col_six
                    +article-preview(getData('article-preview_title-under-img_color_dark-blue'))._title-under-img
                  .col.col_six
                    +article-preview(getData('article-preview_title-under-img_color_red'))._title-under-img
                .stroke
                  .col.col_six
                    +article-preview(getData('article-preview_title-under-img_color_light-amber'))._title-under-img
                  .col.col_six
                    +article-preview(getData('article-preview_title-under-img_color_dark-blue'))._title-under-img
            .stroke
              .col.col_three
                +article-preview(getData('article-preview_title-under-img_color_dark-blue'))._title-under-img
              .col.col_six
                +article-preview(getData('article-preview_title-inside-img_color_light-blue'))._title-inside-img
              .col.col_three
                +article-preview(getData('article-preview_title-under-img_color_light-amber'))._title-under-img

        +button()._rounded._kind_red.__show-more Показать еще
    +mobile-slide-popup()#magazine-mobile-filter
      | test
