include ../icon/icon
include ../button/button

mixin tarif()
  +b.tarif&attributes(attributes)
    +icon('ship1').__icon
    +e.descr
      +e.descr__title Тариф "Юнга"
      +e.descr__text Безлимитное размещение предложений
    +e.pros
      +e.pros__item_active
        +icon('check-mark').pros__icon 
        SPAN Выделение цветом
      +e.pros__item 
        +icon('check-mark').pros__icon 
        SPAN Поднятие в ТОП
      +e.pros__item 
        +icon('check-mark').pros__icon 
        SPAN Спецпредложения
      +e.pros__item 
        +icon('check-mark').pros__icon 
        SPAN VIP предложения
    +e.buy
      +e.buy__months 1 месяц
      +e.buy__price 1200 Р
      +button()._kind_red._rounded._shadow Купить
