.tarif {

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 7px rgba(19, 11, 89, .14);
    padding: 23px 28px 27px 40px;

    @media (max-width: 1025px) and (min-width: 991px) {
      padding-left: 15px;
    }

    @include respond-to('laptop') {
      flex-flow: column nowrap;
      padding: 21px 23px 26px;
    }

    @include respond-to('tablet') {
      flex-flow: column nowrap;
      padding: 21px 23px 26px;
    }

    @include respond-to('mobile') {
      flex-flow: column nowrap;
      padding: 21px 23px 26px;
    }
  }

  &__icon {
    width: 100px;
    height: 82px;
    fill: $color-dark-blue;
    stroke: $color-dark-blue;
    margin-right: 12px;

    @include respond-to('laptop') {
      display: none;
    }

    @include respond-to('tablet') {
      display: none;
    }

    @include respond-to('mobile') {
      display: none;
    }
  }

  &__descr {
    flex-basis: 202px;
    padding-bottom: 11px;
    transform: translate(-3px, -3px);

    &__title {
      color: $color-red;
      font-size: 22px;
      font-family: $NerisBlack;
      margin-bottom: 7px;
      transform: translateY(2px);
    }

    &__text {
      color: $color-dark-blue;
      font-size: 16px;
      line-height: 20px;
      font-family: $NerisSemiBold;
    }

    @include respond-to('laptop') {
      flex-basis: auto;
      text-align: center;
      transform: none;
      order: 1;
      padding: 0 40px 12px;
      border-bottom: 1px solid $color-light-gray;
    }

    @include respond-to('tablet') {
      flex-basis: auto;
      text-align: center;
      transform: none;
      order: 1;
      padding: 0 40px 12px;
      border-bottom: 1px solid $color-light-gray;
    }

    @include respond-to('mobile') {
      flex-basis: auto;
      text-align: center;
      transform: none;
      order: 1;
      padding: 0 20px 12px;
      border-bottom: 1px solid $color-light-gray;
    }
  }

  &__hideShow {
    display: none;
    fill: $color-black;
    stroke: $color-black;
    width: 11px;
    height: 6px;
    cursor: pointer;

    @include respond-to('tablet') {
      display: block;
      order: 4;
    }

    @include respond-to('laptop') {
      display: block;
      order: 4;
    }

    @include respond-to('mobile') {
      display: block;
      order: 4;
    }

    &_opened {
      fill: $color-red;
      stroke: $color-red;
      transform: rotate(180deg);
    }
  }

  &__pros {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    margin-right: 61px;

    &__item {
      color: $color-gray;
      margin-bottom: 19px;

      &:last-child {
        margin-bottom: 0;
      }

      span {
        padding-left: 5px;
      }

      &_active {
        color: $color-dark-blue;
        font-family: $NerisBlack;

        .tarif__pros__icon {
          fill: $color-red;
          stroke: $color-red;
        }
      }
    }

    &__icon {
      width: 13px;
      height: 9px;
    }

    @include respond-to('laptop') {
      transform: none;
      order: 3;
      margin: 0;
      padding-bottom: 79px;
      display: none;
    }

    @include respond-to('tablet') {
      transform: none;
      order: 3;
      margin: 0;
      padding-bottom: 79px;
      display: none;
    }

    @include respond-to('mobile') {
      transform: none;
      order: 3;
      margin: 0;
      padding-bottom: 79px;
      display: none;
    }
  }

  &__buy {
    color: $color-red;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: center;
    position: relative;
    margin-top: 10px;

    &__months {
      font-size: 16px;
      font-family: $NerisSemiBold;

      @include respond-to('laptop') {
        color: $color-dark-blue;
      }

      @include respond-to('tablet') {
        color: $color-dark-blue;
      }

      @include respond-to('mobile') {
        color: $color-dark-blue;
      }
    }

    &__price {
      font-size: 24px;
      font-family: $NerisBlack;
      margin-bottom: 50px;

      @include respond-to('laptop') {
        margin-bottom: 0;
      }

      @include respond-to('tablet') {
        margin-bottom: 0;
      }

      @include respond-to('mobile') {
        margin-bottom: 0;
      }
    }

    @include respond-to('laptop') {
      transform: none;
      order: 2;
      align-self: center;
      margin-bottom: 23px;
    }

    @include respond-to('tablet') {
      transform: none;
      order: 2;
      align-self: center;
      margin-bottom: 23px;
    }

    @include respond-to('mobile') {
      transform: none;
      order: 2;
      align-self: center;
      margin-bottom: 23px;
    }
  }

  .tarif__button {
    position: absolute;
    bottom: 0;
    right: -44px;
    width: 165px;
    height: 40px;

    @include respond-to('laptop') {
      bottom: -223px;
      display: none;
    }

    @include respond-to('tablet') {
      bottom: -223px;
      display: none;
    }

    @include respond-to('mobile') {
      bottom: -223px;
      display: none;
    }
  }
}
