//- Аргумент isLink - если true, то ссылка, иначе - кнопка

//- Модификаторы
//- ._shadow - Добавляет тень
//- ._rounded - Добавляет кнопке border-radius
//- ._circle - Добавляет border-radius: 50%
//- ._kind_blue - Снияя кнопка
//- ._kind_red - Красная кнопка
//- ._kind_red-border - Прозрачная кнопка с красной обводкой
//- ._kind_blue-border - Прозрачная кнопка с синей обводкой

//- Элементы
//- icon - можно подключить иконку внутрь кнопки

//- Использование иконки
//- +button()
//-   | Текст кнопки
//-   +icon('caret').icon

//- Модификаторы иконки
//- ._kind_caret - размеры, цвет - для иконки ">"
//- ._right - иконка справа
//- ._left - иконка слева
//- ._disabled - отключает кнопку

mixin button(isLink)
  if isLink
    +b('a').button&attributes(attributes)
      block
  else
    +b('button').button&attributes(attributes)
      //- fix flexbox iOS
      +e.container
        block
