include ../button/button
include ../division/division
include ../select/select
include ../slider-range/slider-range
include ../text-field/text-field
include ../select-currency/select-currency

mixin filter()
  +b.filter&attributes(attributes)
    +e.UL.control
      li
        +division('Купить').A(href='#filterTabs-1')._arrow-left._active.__division
      li
        +division('Арендовать').A(href='#filterTabs-2')._arrow-left.__division

    - var filterData = getData('filter')

    +e('form').content
      +e.item
        +select(filterData.yachtType.name, filterData.yachtType.options)
      +e.item
        +select(filterData.yachtModel.name, filterData.yachtModel.options)
      +e.item
        +e.price
          +e.label Цена
          +e.price-item
            +text-field(filterData.priceFrom)
          +e.price-sep
          +e.price-item
            +text-field(filterData.priceTo)
        +e.select-currency
          +select-currency()
      +e.item
        +select(filterData.shipyard.name, filterData.shipyard.options)

      +e.item
        +e.length
          +e.label Длина
          +e.length-info
            +e.length-text.js-filter-length-min
            +e.length-text.js-filter-length-max

          +e.length-slider
            +slider-range().js-filter-slider-range

      +e.item
        +button()._kind_red Найти

      //+e.extended Расширенный фильтр
