.filter {
  display: flex;
  padding: 30px 25px 0 0;
  width: 100%;
  box-shadow: 0 0 7px 0 rgba(19, 11, 89, .14);

  @include respond-to('mobile') {
    padding: 0 15px 15px;
    flex-direction: column;
  }

  @include respond-to('tablet') {
    padding: 0 15px 15px;
    flex-direction: column;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    margin: 0 10px 20px 0;
    padding: 0;

    @include respond-to('mobile') {
      flex-direction: row;
      justify-content: center;
    }

    @include respond-to('tablet') {
      flex-direction: row;
      justify-content: center;
    }
  }

  &__division {
    padding-top: 0;
    padding-bottom: 0;
    text-decoration: none;
    font-size: rem(20px);
    font-family: $NerisSemiBold;
    font-weight: 600;

    @include respond-to('mobile') {
      padding-top: 15px;
      font-size: rem(16px);

      &.division_active::before {
        content: '';
        position: absolute;
        border-left: $small-border;
        border-right: $small-border;
        border-top: $big-border;
        transform: translateX(-50%);
        top: 0;
        left: 50%;
      }
    }

    @include respond-to('tablet') {
      padding-top: 15px;
      font-size: rem(16px);

      &.division_active::before {
        content: '';
        position: absolute;
        border-left: $small-border;
        border-right: $small-border;
        border-top: $big-border;
        transform: translateX(-50%);
        top: 0;
        left: 50%;
      }
    }
  }

  &__tab {
    display: block;
    width: 100%;
  }

  &__content {
    display: flex;
    width: 100%;
    justify-content: space-between;

    @include respond-to('mobile') {
      flex-direction: column;
    }

    @include respond-to('tablet') {
      flex-direction: column;
    }
  }

  &__col {
    display: block;
    width: calc(33.33% - 30px);

    @include respond-to('laptop') {
      width: calc(33.33% - 15px);
    }

    @include respond-to('mobile') {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    @include respond-to('tablet') {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &_col {
      flex-direction: column;
      align-items: flex-start;
    }

    &_reset_margin {
      margin: 0;
    }
  }

  &__field {

    &_full_width {
      width: 100%;
    }

    &_type_select {
      width: 100%;
      height: 40px;
    }

    &_type_text-field-small {
      width: 80px;
      height: 40px;

      @include respond-to('laptop') {
        width: 70px;
      }
    }

    &_type_text-field-group {
      display: flex;
      align-items: center;
    }

    &_type_range {
      width: 100%;
      height: 5px;
    }

    &_type_select-currency {
      display: block;
      margin-left: 10px;
    }

    &_type_search-btn {
      display: block;
      width: 100%;
      height: 40px;
      opacity: 1;
      will-change: opacity;
      transition: opacity .25s ease-in-out;

      .button {
        font-size: rem(20px);
      }
    }
  }

  &__separator {
    display: block;
    margin: auto 10px;
    width: 10px;
    height: 1px;
    background-color: $color-black;
  }

  &__label {
    display: block;
    margin-right: auto;
  }

  &__range-info {
    display: flex;

    &-text {
      font-size: rem(13px);
      font-style: italic;
      color: #666;

      &:first-child::after {
        content: '—';
        padding-left: 4px;
        padding-right: 4px;
      }
    }
  }

  &__link {
    display: block;
    margin-bottom: 1px;
    width: 100%;
    font-size: rem(12px);
    color: $color-gray;
    text-decoration: underline;
    text-align: center;
    will-change: color;
    transition: color .25s ease-in-out;

    @include respond-to('mobile') {
      margin-top: 10px;
    }

    @include respond-to('tablet') {
      margin-top: 10px;
    }

    &:hover {
      color: $color-red;
    }
  }
}
