.filter {
  background-color: $color-white;
  box-shadow: 0 0 7px rgba(19, 11, 89, .14);
  margin-top: 30px;
  margin-bottom: 30px;
  @include respond-to('mobile') {
    margin-bottom: 0;
  }

  &__content {
    display: flex;
    padding: 31px 0 30px;

    @include respond-to('laptop') {
      flex-direction: column;
      padding: 15px 200px 19px;
      justify-content: space-between;
    }

    @include respond-to('mobile') {
      flex-direction: column;
      padding: 15px 15px 19px;
      justify-content: space-between;
    }
  }

  &__control, &__control li {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
  }

  &__control {
    display: block;
    min-width: 160px;

    @include respond-to('laptop') {
      display: flex;
      justify-content: center;
    }
  }

  .division_active {
    font-family: $NerisBlack;
    font-size: 20px;
    outline: none;

    @include respond-to('laptop') {
      font-family: $NerisSemiBold;
      font-size: 16px;
      padding: 0;
      padding-bottom: 14px;
      padding-right: 14px;

      &::before {
        border-left: $small-border;
        border-right: $small-border;
        border-top: $big-border;
        transform: translateX(-100%);
        top: -15px;
        left: 50%;
      }
    }
  }

  &__division {
    font-family: $NerisSemiBold;
    padding-left: 25px;
    text-decoration: none;
    outline: none;

    @include respond-to('laptop') {
      font-family: $NerisSemiBold;
      font-size: 16px;
      padding: 0;
      padding-right: 25px;
    }
  }

  &__link {
    color: $color-gray;
    font-family: $NerisLight;
    font-size: 12px;
    font-weight: 300;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    align-items: center;
    padding-top: 10px;

    @include respond-to('laptop') {
      flex-direction: column;
      padding-top: 0;
      justify-content: space-between;
      min-height: 385px;
    }
  }

  &__input {
    width: 80px;
    height: 40px;

    .text-field {
      border: 1px solid #ccc;

      &__control, &__placeholder {
        font-family: $NerisLight;
        font-size: rem(13px);
        font-style: italic;
        color: #666;
      }
    }
  }

  &__button {
    height: 40px;
    outline: none;
    font-size: 20px;
    line-height: 24px;

    @include respond-to('laptop') {
      width: 290px;
    }
  }

  &__item {
    width: 270px;
    height: 40px;

    &-info {
      display: flex;
      justify-content: space-between;
    }

    &-label {
      line-height: 1;
      color: $color-black;
    }

    &-text {
      font-size: rem(13px);
      line-height: 1;
      font-style: italic;
      color: #666;

      &:first-child::after {
        content: '—';
        margin: 0 4px;
      }

      &-block {
        display: flex;
      }
    }

    @include respond-to('laptop') {
      width: 100%;
    }

    &:nth-child(3n) {
      border: none;
    }

    &_price {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $color-black;
      font-family: $NerisSemiBold;

      @include respond-to('laptop') {
        order: 4;
      }
    }

    &_search {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 60px;
      transform: translateY(9px);

      @include respond-to('laptop') {
        order: 5;
        transform: none;
      }
    }

    &_type {
      @include respond-to('laptop') {
        order: 0;
      }
    }

    &_model {
      @include respond-to('laptop') {
        order: 2;
      }
    }

    &_vendor {
      @include respond-to('laptop') {
        order: 1;
      }
    }

    &_range {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-bottom: 3px;

      @include respond-to('laptop') {
        order: 3;
      }
    }
  }

  &__currency {
    display: block;
  }

  &__icon {

    &_type {

      &_rouble {
        width: 11px;
        height: 13px;
      }

      &_chevron {
        width: 11px;
        height: 6px;
        fill: $color-red;
        stroke: $color-red;
        margin-bottom: 4px;
      }
    }
  }
}
