$small-border: 7.5px solid transparent;
$big-border: 12px solid $color-red;

.division {
  font-family: $NerisLight;
  font-size: rem(16px);
  cursor: pointer;
  padding: 14px 26px;
  display: inline-block;
  color: $color-gray;
  position: relative;

  &_active {
    font-family: $NerisBlack;
    color: $color-black;

    &::before {
      content: '';
      position: absolute;
      border-left: $small-border;
      border-right: $small-border;
      border-top: $big-border;
      transform: translateX(-50%);
      top: 0;
      left: 50%;
    }
  }

  &_arrow-left {
    font-size: rem(20px);

    &::before {
      border-top: $small-border;
      border-left: $big-border;
      border-bottom: $small-border;
      transform: translateY(-50%);
      top: 50%;
      left: 0;
    }
  }

  &_arrow-right {
    font-size: rem(20px);

    &::before {
      border-top: $small-border;
      border-right: $big-border;
      border-bottom: $small-border;
      border-left: 0;
      transform: translateY(-50%);
      top: 50%;
      right: 0;
      left: initial;
    }
  }
}
