.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;

  &_active {

    .burger__icon_type_burger {
      display: none;
    }

    .burger__icon_type_close {
      display: block;
    }
  }

  &__icon {
    display: block;
    fill: $color-red;
    will-change: fill, stroke;
    transition: fill .25s ease-in-out, stroke .25s ease-in-out;

    &:hover {
      fill: #e02303;
    }

    &_type {

      &_burger {
        display: block;
        width: 100%;
        height: 100%;
      }

      &_close {
        display: none;
        width: 75%;
        height: 96%;
      }
    }
  }
}
