.video-preview {
  display: flex;
  width: 100%;
  text-decoration: none;
  will-change: box-shadow;
  transition: box-shadow .25s ease-in-out;

  &:hover {
    box-shadow: 0 0 35px 0 rgba(0, 0, 0, .3);
  }

  &__image {
    position: relative;
    z-index: 1;
  }

  &__text {

    & > * {
      display: block;
      margin: 0;
      padding: 0;
    }
  }

  &__duration {
    font-size: 13px;
    line-height: 18px;
    font-family: $NerisLight;
    color: $color-gray;
  }

  &__title {
    font-size: 14px;
    line-height: 18px;
    font-family: $NerisBlack;
    color: $color-black;
  }

  &_col {
    flex-flow: column nowrap;
    align-items: center;

    .video-preview {

      &__image {
        width: 100%;
        height: 148px;
      }

      &__text {
        padding: 10px 25px;
        text-align: center;
      }
    }
  }

  &_row {
    flex-flow: row nowrap;
    justify-content: space-between;

    .video-preview {

      &__image {
        width: 50%;
        max-height: 100%;
        margin-right: 4.5%;
      }

      &__text {
        width: 45.5%;
      }
    }
  }
}
