//- Модификаторы
//- _col - изображение над текстом
//- _row - изображение слева от текста
mixin video-preview(data)
  +b('a')(href='#').video-preview&attributes(attributes)
    +e('div').image
      +image-bg()(src= data.image)
    +e('div').text
      +e('span').duration= data.duration
      +e('h2').title= data.title

