include ../main-container/main-container
include ../container/container
include ../page-header/page-header
include ../submenu/submenu
include ../video-preview/video-preview
include ../button/button
include ../banner/banner
include ../small-article-preview/small-article-preview
include ../select/select

mixin magazine-videos()
  +b.magazine-videos&attributes(attributes)
    +container()
      +page-header('Журнал', ['Главная', 'Журнад', 'Видео-обзоры'])
      +main-container().main-container_shadow.magazine-videos__main-container
        +e('div').select-wrapper
          +submenu(getData('submenu'))
          +select('item10', [{value: '1', title: 'Все'}, {value: '2', title: 'Путешествия'}, {value: '3', title: 'Видео-обзоры'}], null, 'Категория')
          +e('div').select-dots
        +e.content
          +e.videos-col
            - for (i=0; i<15; i++)
              +video-preview(getData('video-preview'))._col
            +button()._rounded._kind_red.__show-more Показать еще
          +e.sidebar
            +small-article-preview
              +submenu(getData('videos-filter'), true)
            +e.banner
              +banner('#', 'assets/images/banner2.jpg')
