.magazine-videos {

  .dotted-dropdown {
    padding-left: 15px;
  }

  &__dotted {
    display: none;

    @include respond-to('mobile') {
      display: block;
    }
  }

  &__select-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @include respond-to('mobile') {
      height: 40px;
      padding: 0 15px;
    }

    @include respond-to('tablet') {
      height: 40px;
      padding: 0 15px;
    }

    .submenu {
      padding: 0 15px;

      @include respond-to('mobile') {
        display: none;
      }

      @include respond-to('tablet') {
        display: none;
      }
    }

    .select {
      display: none;

      @include respond-to('tablet') {
        display: flex;
      }

      @include respond-to('mobile') {
        display: flex;
      }
    }
  }

  &__content {
    display: flex;
    margin-top: 30px;
    padding-bottom: 50px;

    @include respond-to('mobile') {
      margin-top: 5px;
    }
  }

  &__videos-col {
    flex: 0 0 75.8%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 15px;
    position: relative;
    margin-bottom: 20px;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 258px;
      background-image: linear-gradient(rgba($color-white, 0) 0%, rgba($color-white, .95) 60%, $color-white 100%);
      z-index: 5;
    }

    @include respond-to('large-desktop') {
      justify-content: flex-start;
    }

    @include respond-to('laptop') {
      justify-content: space-around;
    }

    @include respond-to('tablet') {
      justify-content: space-around;
      flex: 0 0 100%;
      padding: 0;
    }

    @include respond-to('mobile') {
      justify-content: space-around;
      flex: 0 0 100%;
      padding-left: 15px;
      max-height: 820px;
      overflow: hidden;
    }

    .video-preview {
      max-width: 263px;
      padding: 0 5px;
      margin-bottom: 17px;

      @include respond-to('mobile') {
        max-width: 500px;
        flex-flow: row nowrap;
        margin-bottom: 0;
        align-items: flex-start;
        border-bottom: 1px solid $color-light-gray;
        padding: 15px 0;
      }

      &__image {
        @include respond-to('mobile') {
          max-width: 105px;
          max-height: 60px;
        }
      }

      &__text {
        @include respond-to('mobile') {
          display: flex;
          flex-direction: column-reverse;
          padding: 0;
          margin-left: 12px;
          margin-top: -5px;
          text-align: left;
        }
      }

      @include respond-to('desktop') {
        padding: 0;
      }

      @include respond-to('large-desktop') {
        padding: 0;
        margin-right: 20px;
      }
    }
  }

  &__sidebar {
    flex: 1 0 24.2%;
    padding-left: 15px;

    @include respond-to('tablet') {
      display: none;
    }

    @include respond-to('mobile') {
      display: none;
    }

    .submenu {

      &__item {

        &:first-child {
          margin-top: 10px;
        }
      }

      &__title {
        padding: 10px 0;
      }
    }
  }

  &__banner {
    height: 294px;
    margin-top: 25px;
    border: 1px solid $color-light-gray;
  }

  &__show-more {
    z-index: 10;
    max-width: 165px;
    height: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;

    @include respond-to('mobile') {
      max-width: 290px;
      bottom: 0;
    }
  }
}
