include ../page-header/page-header
include ../container/container
include ../main-container/main-container
include ../filter-sale/filter-sale
include ../sale-help/sale-help
include ../list/list
include ../models/models
include ../custom-slider/custom-slider
include ../mobile-slide-popup/mobile-slide-popup
include ../filter/filter

mixin sale12-page()
  +b.sale12-page
    +container()
      +page-header('Предложения', ['Главная', 'Предложения'])
      +main-container()
        +e('div').filter

          +e('div').filter-wrapper
            +filter-sale([{title: "Купить", path: "#listTab-1", active: true}, {title: "Арендовать", path: "#listTab-2"}]).js-filter-sale

          //- +filter-sale([{title: "Купить", path: "#", active: true}, {title: "Арендовать", path: "#"}])

          +mobile-slide-popup()
            +filter-sale([{title: "Купить", path: "#listTab-1", active: true}, {title: "Арендовать", path: "#listTab-2"}]).js-filter-sale
          +filter(getData('filter'))
          +button()(data-target-modal='#filter-sale-mobile').__show-filter-btn.js-mobile-slide-popup Фильтр

          +e('div').sale-wrapper
            +sale-help()

        +e('div').special
          +e('h2').title Спец. предложения
          +models('', getData('sale-preview-item-short'))._yacht
        +e('div').intake
          +e('h2').title Новые поступления
          +custom-slider(getData('custom-slider'))
