mixin event-page()
  +branding()
    +e('p')  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate labore unde, expedita deserunt? Et laborum commodi dolor, tempore possimus, explicabo officia ad in maxime voluptatibus odio distinctio nisi fugit aperiam.
