.event-page {
  display: block;

  .page-header {
    padding-bottom: 4px;
  }

  .main-container {
    padding-bottom: 5px;
  }

  .event-item {
    @include respond-to('tablet') {
      flex-direction: row;
    }

    @include respond-to('mobile') {
      flex-direction: row;
    }
  }

  &__banner {
    height: 400px;

    @include respond-to('large-desktop') {
      height: 540px;
    }

    @include respond-to('mobile') {
      height: 200px;
    }
  }

  &__content {
    background: $color-white;
    padding: 30px 30px 0;

    @include respond-to('tablet') {
      padding: 0;
    }

    @include respond-to('mobile') {
      padding: 0;
    }
  }

  &__inner-content {
    box-shadow: 0 0 7px 0 rgba(19, 11, 89, .14);
    padding: 20px 25px;
    width: 100%;
    margin-left: 100px;
    max-width: 750px;
    margin-bottom: 30px;
    background: $color-white;
    overflow: hidden;

    &_comments {
      height: 100%;
    }

    @include respond-to('large-desktop') {
      margin-left: 300px;
    }

    @include respond-to('tablet') {
      margin-left: auto;
      margin-right: auto;
    }

    @include respond-to('mobile') {
      padding: 10px;
      max-width: 100%;
      margin-left: 0;
    }
  }

  &__share {
    padding-top: 20px;
    border-top: 1px solid $color-light-gray;

    @include respond-to('mobile') {
      padding-right: 10px;
    }
  }

  &__tags {
    margin-bottom: 20px;

    @include respond-to('mobile') {
      padding-right: 10px;
    }
  }

  &__white {
    background: $color-white;

    .event-item-box__text {
      color: $color-black;
    }

    .event-item-box {
      width: 320px;
      margin: 0;
    }

    .event-item-box__date {
      top: 0;
      left: 0;
      width: auto;
    }

    .event-item-box__title {
      color: $color-gray;
    }

    .event-item-box__link {
      width: 310px;
      height: 175px;
      margin-top: 40px;
      margin-left: 20px;

      @include respond-to('large-desktop') {
        width: 450px;
        height: 246px;
      }
    }

    .event-item-box__number {
      font-size: 85px;
    }

    .event-item-box__description {
      @include respond-to('tablet') {
        margin-left: 20px;
        width: 85%;
      }

      @include respond-to('mobile') {
        margin-left: 20px;
        width: 85%;
      }
    }
  }

  &__slider-head {
    font-weight: 700;
    color: #130b59;
    font-size: 38px;
    text-align: center;
    display: block;
    margin: 92px 0 5px;

    @include respond-to('tablet') {
      font-size: 22px;
      margin: inherit;
    }

    @include respond-to('mobile') {
      font-size: 22px;
      margin: inherit;
    }
  }

  &__sidebar {
    margin: 42px 97px 26px 30px;
    display: block;
    width: 263px;
    height: 100%;

    @include respond-to('mobile') {
      width: 100%;
      margin: 0;
      padding: 10px;
    }

    .event-page__banner {
      height: 294px;
    }
  }

  .sale-preview-item {
    @include respond-to('mobile') {
      height: 306px;
    }

    &__text {
      padding: 4px;
    }
  }

  .sale-preview-item__img-wrap {
    height: 215px;
    margin-top: 30px;
  }

  &__text-content {
    position: relative;
    margin-top: 26px;
    display: flex;
    flex: 1;
    flex-flow: row wrap;

    &-block {
      display: block !important;
    }
  }

  &__text-inner {
    display: block !important;
    padding: 0 100px;

    @include respond-to('mobile') {
      padding: 0 10px;
    }

    & p {
      line-height: 21px !important;
      margin: 10px 0 !important;
    }
  }

  &__content-wrap {
    display: flex;
    flex-flow: row wrap;

    @include respond-to('mobile') {
      flex-flow: column wrap;
    }
  }

  &__props {
    margin: 28px 0 0 !important;
    display: flex;
    width: 100%;

    h3 {
      font-size: 22px;
      margin: 0;
      color: $color-black;
      font-family: $NerisBlack;
      font-weight: 900 !important;
    }

    p {
      margin: 0;
      margin-top: 20px;
      font-size: 16px;
      font-family: $NerisLight;
    }

    &:nth-of-type(2) {
      margin-top: 60px !important;
    }
  }

  .text div {
    margin: 0;
  }

  .sale-preview-item__img-wrap {
    opacity: 1;
    transition: all .25s ease-in-out;
  }

  .sale-preview-item:hover .sale-preview-item__img-wrap {
    opacity: .75;
  }

  &__slider {
    position: relative;
    padding-bottom: 34px;

    span {
      margin-left: 44px;

      @include respond-to('tablet') {
        margin-left: 0;
      }

      @include respond-to('mobile') {
        margin-left: 0;
      }
    }

    @include respond-to('tablet') {
      background-color: $color-white;
      padding: 0;
      padding-bottom: 34px;
    }

    @include respond-to('mobile') {
      background-color: $color-white;
      padding: 0;
      padding-bottom: 34px;
    }
  }

  .swiper-wrapper {
    padding-top: 30px;
  }

  &__slide-inner {
    width: 309px;
    text-align: center;

    @include respond-to('tablet') {
      width: 100%;
    }

    @include respond-to('mobile') {
      width: 100%;
    }

    .event-page__img {
      width: 100%;
      height: 100%;
    }
  }

  &__category {
    font-family: $NerisLight;
    color: $color-gray;
    font-size: 13px;
    line-height: 26px;
  }

  &__name {
    font-family: $NerisBlack;
    font-size: 18px;
    line-height: 26px;

    @include respond-to('tablet') {
      font-size: 17px;
      padding: 0 7px 17px;
    }

    @include respond-to('mobile') {
      font-size: 17px;
      padding: 0 7px 17px;
    }
  }

  &__slide {
    width: 340px;
    padding: 19px 0 0 50px;
    position: relative;

    @include respond-to('tablet') {
      padding: 0;
    }

    @include respond-to('mobile') {
      padding: 0;
    }
  }

  &__date {
    position: absolute;
    top: -26px;
    left: 11px;
    color: $color-white;
    font-size: 85px;
    font-family: $NerisBlack;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0 10px 27px rgba(0, 0, 0, .7);

    span {
      font-family: $NerisLight;
      display: block;
      font-size: 16px;
      margin-top: -10px;

      @include respond-to('tablet') {
        font-size: 18px;
        margin-top: 0;
      }

      @include respond-to('mobile') {
        font-size: 18px;
        margin-top: 0;
      }
    }

    @include respond-to('tablet') {
      text-shadow: 5px 9px 27px rgba(0, 0, 0, .7);
      font-size: 50px;
      top: 0;
      left: 9px;
    }

    @include respond-to('mobile') {
      text-shadow: 5px 9px 27px rgba(0, 0, 0, .7);
      font-size: 50px;
      top: 0;
      left: 9px;
    }
  }

  .event-page__props {
    display: flex !important;
    flex-direction: column;

    @include respond-to('mobile') {
      margin: 10px 0 0 !important;
    }

    h3 {
      margin-bottom: 4px;
    }

    .share-calendar {
      display: flex !important;
      margin-top: 5px;

      &__link {

        &:first-child {
          @include respond-to('mobile') {
            margin-left: 0;
          }
        }

        @include respond-to('mobile') {
          margin-left: 10px;
        }
      }
    }
  }

  .event-page__text-inner {
    @include respond-to('mobile') {
      display: flex !important;
      flex-direction: column;
    }
  }

  .event-page__sidebar {
    @include respond-to('tablet') {
      display: none;
    }

    @include respond-to('mobile') {
      display: none;
    }
  }

  .map {
    height: 373px;

    @include respond-to('mobile') {
      display: flex;
      height: 300px;
      overflow: hidden;
    }
  }
}
