.select {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
  height: 100%;
  background-color: $color-white;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 1px 7px 0 rgba($color-black, 0);
  will-change: box-shadow;
  transition: box-shadow .25s ease-in-out;

  &_disabled {
    pointer-events: none;
    background-color: #fbfbfb;

    * {
      pointer-events: none !important;
    }
  }

  &_text-like {
    border: 0;
    display: inline-flex;
    width: initial;
    padding: 0;

    .select {

      &__text {
        font-family: $NerisBlack;
        font-weight: 900;
        line-height: 1;
      }

      &__icon_type_caret {
        width: 11px;
        height: 6px;
        stroke: $color-red;
        margin-left: 10px;
      }

      &__list {
        left: initial;
        right: 0;
        width: initial;
      }

      &__item {
        display: block;
        white-space: nowrap;
      }

      &__text {
        white-space: nowrap;
      }
    }

    &.select_active {
      box-shadow: none;

      .select__icon_type {

        &_close {
          display: none;
        }

        &_caret {
          display: block;
          transform: rotate(180deg);
        }
      }
    }
  }

  &_active {
    box-shadow: 0 1px 7px 0 rgba($color-black, .16);

    .select__list {
      display: block !important;
    }

    .select__icon_type {

      &_caret {
        display: none;
      }

      &_close {
        display: block;
      }
    }
  }

  &__text {
    font-family: $NerisLight;
    font-weight: 300;
    color: #000;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
    pointer-events: none;
    margin-right: auto;
    padding-right: 10px;
  }

  &__label {
    display: none;
    font-family: $NerisLight;
    font-weight: 300;
    font-size: rem(14px);
    color: $color-black;
    white-space: nowrap;
    pointer-events: none;

    &::after {
      content: ':';
      margin-right: 3px;
    }
  }

  &__list-label {
    margin-left: 15px;
  }

  &__control {
    display: none;
  }

  &__icon {
    display: block;
    pointer-events: none;
    flex-shrink: 0;

    &_type_caret {
      right: 11px;
      width: 11px;
      height: 6px;
      stroke: $color-black;
    }

    &_type_close {
      right: 13px;
      display: none;
      width: 7px;
      height: 7px;
      fill: $color-red;
    }
  }

  &__list {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    margin-top: 9px;
    height: auto;
    z-index: 9999;
    width: 100%;

    .list__item {
      list-style-type: none;
    }
  }

  &__item {
    cursor: pointer;

    &:hover {
      color: $color-red;
    }

    &_multiple {
      padding: 0;
      margin: 0;

      & > label {
        display: flex;
        align-items: center;
        padding: 15px;
        cursor: pointer;
        will-change: color;
        transition: color .25s ease-in-out;
      }
    }
  }
}
