include ../icon/icon
include ../list/list
include ../checkbox/checkbox

//- Аргументы
//- name - Имя поля
//- items {array} - массив объектов [{ value: 1, title: 'text'}]
//- allSelected {string} в случае указания этого аргумента, select будет multiple (т.е вместо обычного списка)
//-                      будет выведен список с чекбоксами. В allSelected нужно передать ТЕКСТ, который будет выведен
//-                      в случае выбоера ВСЕХ чекбоксов, например - 'Все категории', и.т.д

//- Модификаторы
//- ._active - активирует элемент (добавляет тень, раскрывает список (генерируется с помощью JS), меняет иконку
//- ._text-like - убрает рамку, тень, меняет поведение селекта на (ссылку со стелочкой), как то так, я хз:D

//- Пример использования
//- +select('test', [{ value: 1, title: 'Текст 1' }, { value: 2, title: 'Текст 2' }])

//- Пример использования multiple
//- +select('test', [{ value: 1, title: 'Текст 1' }, { value: 2, title: 'Текст 2' }], 'текст')
//- 'текст' - это текст, который будет выведен в случае выбора ВСЕХ чекбоксов

//- Пример использования (плейсхолдера, т.е название селекта слева от данных)
//- +select('item1', [{value: '1', title: 'item #1'}, {value: '2', title: 'item #2'}], null, 'Категория')

mixin default-select(name, items, label)
  +b.select&attributes(attributes)

    if label
      +e.label=label

    +e.text

    +e('select').control
      each item in items
        option(value=item.value)=item.title

    +icon('caret').__icon._type_caret
    +icon('close').__icon._type_close

mixin multiple-select(name, items, allSelected)
  +b.select(data-all-selected=allSelected)&attributes(attributes)

    +e.text

    +list()._has_triangle.__list
      each item in items
        +list-item().select__item_multiple
          label
            +checkbox({ name, value: item.value })
            span.select__list-label= item.title

    +icon('caret').__icon._type_caret
    +icon('close').__icon._type_close

mixin select(name, items, allSelected, label)
  if allSelected
    +multiple-select(name, items, allSelected)&attributes(attributes)
  else
    +default-select(name, items, label)&attributes(attributes)
