include ../icon/icon
//- Аргументы
//- name - Имя поля
//- items {array} - массив объектов [{ value: 1, title: 'text'}]

//- Модификаторы
//- ._active - активирует элемент (добавляет тень, раскрывает список (генерируется с помощью JS), меняет иконку

//- Пример использования
//- +select('test', [{ value: 1, title: 'Текст 1' }, { value: 2, title: 'Текст 2' }])
mixin select(name, items)
  +b.select.js-select&attributes(attributes)
    +e('select').control.js-select__control
      each item in items
        option(value=item.value)=item.title

    +icon('caret').__icon._type_caret
    +icon('close').__icon._type_close
