include ../icon/icon
include ../text-field/text-field
include ../image-bg/image-bg

mixin subscribe()
  +b.subscribe
    +e.image
      +image-bg()(src='assets/images/subscribe.jpg').__image
    +container()
      +e('h2').heading Подпишитесь на рассылку
      +e('form')(novalidate).form
        +e.section
          +text-field({ type: 'email', name: 'email', placeholder: 'Введите email'})._error_left
        +e.section
          +e('button').btn Отправить
           +icon('subscribe').icon
