.subscribe {
  padding-top: 19px;
  height: 150px;
  position: relative;
  display: block;
  z-index: 1;

  @include respond-to('tablet') {
    padding: 20px 15px 0;
    height: 105px;
  }

  @include respond-to('mobile') {
    padding: 20px 15px 0;
    height: 105px;
  }

  &__image {
    opacity: .5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  &__heading {
    margin: 0;
    font-family: $NerisSemiBold;
    color: $color-white;
    font-size: 12px;
    flex: 1;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: .13px;
    display: inline-flex;
    margin-bottom: 14px;
  }

  &__form {
    font-family: $NerisLight;
    display: flex;
    flex-direction: row;
  }

  &__input, &__btn {
    font-family: inherit;
    background-color: transparent;
    border: 0;

    &:focus {
      outline: 0;
    }
  }

  &__section {
    display: flex;
    width: 50%;
    align-items: flex-end;

    &:last-child {
      justify-content: flex-end;
    }

    @include respond-to('tablet') {
      align-items: center;
    }
  }

  &__input {
    font-size: 50px;
    color: $color-white;
    opacity: .5;
    transition: all .25s ease-in-out;
    letter-spacing: 1.5px;
    margin-left: -5px;

    &:focus {
      opacity: 1;
    }

    &::placeholder {
      color: $color-white;
    }

    @include respond-to('tablet') {
      font-size: 20px;
    }

    @include respond-to('mobile') {
      font-size: 20px;
    }
  }

  &__btn {
    font-size: 20px;
    display: flex;
    color: $color-white;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin-bottom: 13px;
    opacity: 1;
    will-change: opacity;
    transition: opacity .25s ease-in-out;

    &:hover {
      opacity: .75;
    }

    @include respond-to('tablet') {
      font-size: 0;
      align-items: center;
      margin: 0;
    }

    @include respond-to('mobile') {
      font-size: 0;
      align-items: center;
      margin: 0;
    }
  }

  &__icon {
    width: 30px;
    height: 20px;
    display: inline-block;
    pointer-events: none;
    margin-left: 9px;
    transform: translate(7px, 3px);
    stroke: $color-white;
  }
}
