include ../container/container
include ../icon/icon

mixin subscribe()
  +b.subscribe
    +container()
      +e('h2').heading Подпишитесь на рассылку
      +e('form').form
        +e.section
          +e('input').input(type='text', placeholder='Введите email')
        +e.section
          +e('button').btn Отправить
           +icon('subscribe').icon


