.col-nav, .col-nav * {
  display: block;
  padding: 0;
  margin: 0;
}

.col-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
  width: 100%;
  max-height: 203px;
  min-width: 100%;
  font-size: 13px;
  line-height: (30/13)*1em;

  a {
    will-change: color;
    transition: color .25s ease-in-out;
  }

  a:hover {
    color: $color-red;

    &::before {
      background-color: $color-red;
    }
  }

  &__header a {
    color: $color-white;
    font-family: $NerisSemiBold;
    font-weight: 600;
    will-change: background-color;
    transition: background-color .25s ease-in-out;
  }

  &__item a {
    position: relative;
    padding-left: 9px;
    color: $color-gray;
    font-weight: 300;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto 0;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: $color-gray;
    }
  }

  & a {
    text-decoration: none;
  }
}
