//- Аргумент - items (массив объектов)
//- items.header - заголовок списка
//- items.item - элемент списка
mixin col-nav(items)
  +b('div').col-nav&attributes(attributes)
    each h in items
      +e('ul').list
        +e('li').header
          +e('a')(href='#')
            != h.header
        each item in h.item
          +e('li').item
            +e('a')(href='#')
              != item
