.filter-shop {
  background-color: $color-white;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  width: 100%;
  margin-bottom: 28px;

  @include respond-to('tablet') {
    padding: 18px 15px 16px;
    margin-bottom: 12px;
    flex-direction: column;
    justify-content: space-between;
    min-height: 94px;
    align-items: center;
    box-shadow: none;
    border-bottom: 1px solid $color-light-gray;
  }

  @include respond-to('mobile') {
    padding: 18px 15px 16px;
    margin-bottom: 12px;
    flex-direction: column;
    justify-content: space-between;
    min-height: 94px;
    align-items: center;
    box-shadow: none;
    border-bottom: 1px solid $color-light-gray;
  }

  &__input {
    width: 80px;
    height: 40px;

    .text-field {
      border: 1px solid #ccc;

      &__control, &__placeholder {
        font-family: $NerisLight;
        font-size: rem(13px);
        font-style: italic;
        color: #666;
      }
    }
  }

  &__field {
    all: initial;
    display: flex;
    align-items: center;
    margin: 0 10px;
    padding-right: 10px;
    width: 100%;
    height: 100%;
    line-height: 1;
    font-family: $NerisLight;
    font-size: rem(14px);
    color: $color-dark-gray;
  }

  &__item {
    min-width: 165px;
    height: 40px;

    @include respond-to('tablet') {
      width: 100%;
      margin-bottom: 15px;
    }

    @include respond-to('mobile') {
      width: 100%;
      margin-bottom: 15px;
    }

    @include respond-to('large-desktop') {
      width: calc(27% - 30px);
    }

    &_search-field {
      display: flex;
      align-items: center;
      flex-basis: 458px;
      border: 1px solid #ccc;
      border-radius: 3px;

      @include respond-to('tablet') {
        width: 100%;
        flex-basis: auto;
      }

      @include respond-to('mobile') {
        width: 100%;
        flex-basis: auto;
      }

      @include respond-to('large-desktop') {
        width: calc(56% - 30px);
        flex-basis: auto;
      }
    }

    &_search {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include respond-to('tablet') {
        order: 5;
        transform: none;
        margin-bottom: 0;
      }

      @include respond-to('mobile') {
        order: 5;
        transform: none;
        margin-bottom: 0;
      }
    }
  }

  &__button {
    width: 165px;
    font-size: 20px;
    height: 40px;
    padding-top: 0;

    @include respond-to('tablet') {
      width: 100%;
      margin-bottom: 7px;
    }

    @include respond-to('mobile') {
      width: 100%;
      margin-bottom: 7px;
    }

    @include respond-to('large-desktop') {
      width: calc(15% - 30px);
    }
  }

  &__magnifier {
    display: block;
    width: 18px;
    height: 18px;
    stroke: $color-gray;
    fill: transparent;
    margin-left: 12px;
  }

  &__extended-link {
    display: none;
    color: $color-gray;
    font-size: 12px;

    @include respond-to('tablet') {
      display: block;
    }

    @include respond-to('mobile') {
      display: block;
    }
  }
}
