include ../button/button
include ../division/division
include ../select/select
include ../icon/icon

mixin filter-shop()
  +b.filter-shop&attributes(attributes)
  
    - var filterData = getData('filter')
      +e.item._vendor
        +select('i', filterData.category.name, filterData.category.options, 'Все категории')
          +e.text Все категории
      +e.item._search-field
        +icon('magnifier').magnifier
        +e('input')(type='search' name='search' placeholder='Поиск по предложениям магазина').field
      +button()._kind_red.__button.filter-shop__item Найти
      +e('a')(href='#').extended-link Расширенный фильтр
