//RobotoSlab

@font-face {
  font-family: 'Harvey';
  src:
    url('../fonts/Harvey.woff') format('woff'),
    url('../fonts/Harvey.ttf') format('truetype'),
}


@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/RobotoSlab-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/RobotoSlab-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/RobotoSlab-Light.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/RobotoSlab-Thin.ttf') format('ttf');
}

// Neris
@font-face {
  font-family: 'NerisBlack';
  font-weight: 900;
  src: url('../fonts/NerisBlack.eot');
  src:
    url('../fonts/NerisBlack.eot') format('embedded-opentype'),
    url('../fonts/NerisBlack.woff2') format('woff2'),
    url('../fonts/NerisBlack.woff') format('woff'),
    url('../fonts/NerisBlack.ttf') format('truetype'),
    url('../fonts/NerisBlack.svg#NerisBlack') format('svg');
}

@font-face {
  font-family: 'NerisSemiBold';
  font-weight: 600;
  src: url('../fonts/NerisSemiBold.eot');
  src:
    url('../fonts/NerisSemiBold.eot') format('embedded-opentype'),
    url('../fonts/NerisSemiBold.woff2') format('woff2'),
    url('../fonts/NerisSemiBold.woff') format('woff'),
    url('../fonts/NerisSemiBold.ttf') format('truetype'),
    url('../fonts/NerisSemiBold.svg#NerisSemiBold') format('svg');
}

@font-face {
  font-family: 'NerisLight';
  font-weight: 300;
  src: url('../fonts/NerisLight.eot');
  src:
    url('../fonts/NerisLight.eot') format('embedded-opentype'),
    url('../fonts/NerisLight.woff2') format('woff2'),
    url('../fonts/NerisLight.woff') format('woff'),
    url('../fonts/NerisLight.ttf') format('truetype'),
    url('../fonts/NerisLight.svg#NerisLight') format('svg');
}

@font-face {
  font-family: 'NerisThin';
  font-weight: 100;
  src: url('../fonts/NerisThin.eot');
  src:
    url('../fonts/NerisThin.eot') format('embedded-opentype'),
    url('../fonts/NerisThin.woff2') format('woff2'),
    url('../fonts/NerisThin.woff') format('woff'),
    url('../fonts/NerisThin.ttf') format('truetype'),
    url('../fonts/NerisThin.svg#NerisThin') format('svg');
}

@font-face {
  font-family: 'GothamPro';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/GothamProLight.woff') format('woff');
}
