@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src:
    local('Open Sans'),
    local('OpenSans'),
    url('../fonts/open-sans-v13-cyrillic_latin-regular.woff2') format('woff2'),
    url('../fonts/open-sans-v13-cyrillic_latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src:
    local('Roboto Slab Regular'),
    local('RobotoSlab-Regular'),
    url('../fonts/roboto-slab-v6-cyrillic_latin-regular.woff2') format('woff2'),
    url('../fonts/roboto-slab-v6-cyrillic_latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Neris Black';
  font-style: normal;
  font-weight: 400;
  src:
    local('Neris Black'),
    local('Neris-Black'),
    url('../fonts/neris-black.woff') format('woff');
}

@font-face {
  font-family: 'Neris Light';
  font-style: normal;
  font-weight: 400;
  src:
    local('Neris Light'),
    local('Neris-Light'),
    url('../fonts/neris-light.woff') format('woff');
}

@font-face {
  font-family: 'Neris SemiBold';
  font-style: normal;
  font-weight: 400;
  src:
    local('Neris SemiBold'),
    local('Neris-SemiBold'),
    url('../fonts/neris-semibold.woff') format('woff');
}
