// media queries https://www.sitepoint.com/sass-mixin-media-merging/
@mixin media($queries) {
  @if length($queries) == 0 {
    @content;
  }

  @else {
    $first-key: nth(map-keys($queries), 1);

    @media ($first-key: map-get($queries, $first-key)) {
      $queries: map-remove($queries, $first-key);

      @include media($queries) {
        @content;
      }
    }
  }
}

@mixin respond-to($breakpoint) {
  $media: map-get($breakpoints, $breakpoint);

  @if not $media {
    @error "No query could be retrieved from `#{$breakpoint}`. " + "Please make sure it is defined in `$breakpoints` map.";
  }

  @media #{$media} {
    @content;
  }
}

@mixin hover-shadow($direction: 'top') {

  @media (min-width: 1025px) {
    @if $direction == 'right' {
      box-shadow:
        32px 0 32px rgba(#130b59, .2),
        16px 0 16px rgba(#130b59, .2),
        8px 0 8px rgba(#130b59, .2),
        4px 0 4px rgba(#130b59, .2),
        2px 0 2px rgba(#130b59, .2),
        1px 0 1px rgba(#130b59, .2);
    }

    @else if $direction == 'left' {
      box-shadow:
        -32px 0 32px rgba(#130b59, .2),
        -16px 0 16px rgba(#130b59, .2),
        -8px 0 8px rgba(#130b59, .2),
        -4px 0 4px rgba(#130b59, .2),
        -2px 0 2px rgba(#130b59, .2),
        -1px 0 1px rgba(#130b59, .2);
    }

    @else {
      box-shadow:
        0 64px 64px rgba(#130b59, .2),
        0 32px 32px rgba(#130b59, .2),
        0 16px 16px rgba(#130b59, .2),
        0 8px 8px rgba(#130b59, .2),
        0 4px 4px rgba(#130b59, .2),
        0 2px 2px rgba(#130b59, .2);
    }
  }
}

@mixin article-shadow($r, $g, $b, $a, $direction: 'top') {
  @if $direction == 'right' {
    box-shadow:
      32px 0 32px rgba($r, $g, $b, $a),
      16px 0 16px rgba($r, $g, $b, $a),
      8px 0 8px rgba($r, $g, $b, $a),
      4px 0 4px rgba($r, $g, $b, $a),
      2px 0 2px rgba($r, $g, $b, $a),
      1px 0 1px rgba($r, $g, $b, $a);
  }

  @else if $direction == 'left' {
    box-shadow:
      -32px 0 32px rgba($r, $g, $b, $a),
      -16px 0 16px rgba($r, $g, $b, $a),
      -8px 0 8px rgba($r, $g, $b, $a),
      -4px 0 4px rgba($r, $g, $b, $a),
      -2px 0 2px rgba($r, $g, $b, $a),
      -1px 0 1px rgba($r, $g, $b, $a);
  }

  @else {
    box-shadow:
      0 64px 64px rgba($r, $g, $b, $a),
      0 32px 32px rgba($r, $g, $b, $a),
      0 16px 16px rgba($r, $g, $b, $a),
      0 8px 8px rgba($r, $g, $b, $a),
      0 4px 4px rgba($r, $g, $b, $a),
      0 2px 2px rgba($r, $g, $b, $a);
  }
}

// rem & em to px

@function rem($size) {
  $remSize: $size / $base-font-size;

  @return #{$remSize}rem;
}

@function em($size) {
  $remSize: $size / $base-font-size;

  @return #{$remSize}em;
}
