// media queries https://www.sitepoint.com/sass-mixin-media-merging/
@mixin media($queries) {
  @if length($queries) == 0 {
    @content;
  }

  @else {
    $first-key: nth(map-keys($queries), 1);

    @media ($first-key: map-get($queries, $first-key)) {
      $queries: map-remove($queries, $first-key);

      @include media($queries) {
        @content;
      }
    }
  }
}

@mixin respond-to($breakpoint) {
  $media: map-get($breakpoints, $breakpoint);

  @if not $media {
    @error "No query could be retrieved from `#{$breakpoint}`. " + "Please make sure it is defined in `$breakpoints` map.";
  }

  @media #{$media} {
    @content;
  }
}

@mixin article-shadow($r, $g, $b, $a) {
  box-shadow:
    0 2px 2px 0 rgba($r, $g, $b, $a),
    0 4px 4px 0 rgba($r, $g, $b, $a),
    0 8px 8px 0 rgba($r, $g, $b, $a),
    0 16px 16px 0 rgba($r, $g, $b, $a),
    0 32px 32px 0 rgba($r, $g, $b, $a),
    0 64px 64px 0 rgba($r, $g, $b, $a);
}

// rem & em to px

@function rem($size) {
  $remSize: $size / $base-font-size;

  @return #{$remSize}rem;
}

@function em($size) {
  $remSize: $size / $base-font-size;

  @return #{$remSize}em;
}
