// colors
$color-black:       #000;
$color-blue:        #2638a5;
$color-red:         #fb2500;
$color-white:       #fff;
$color-purple:      #656093;
$color-gray:        #999;
$color-dark-gray:   #333;
$color-dark-blue:   #130b59;
$color-light-gray:  #e5e5e5;
$color-medium-gray: #666;

// fonts
$OpenSans:          'Open Sans', sans-serif;
$RobotoSlab:        'Roboto Slab', sans-serif;
$NerisLight:        'Neris', sans-serif;
$NerisSemiBold:     'Neris', sans-serif;
$NerisBlack:        'Neris', sans-serif;
$NerisBold:         'Neris', sans-serif;
$NerisThin:         'Neris', sans-serif;
$GothamProLight:    'GothamPro', sans-serif;

// base
$base-font:         $NerisLight;
$base-font-size:    14px;
$bsae-line-height:  1.57;
$base-color:        $color-dark-gray;

// breakpoints
$breakpoints: (
  'mobile': '(max-width: 768px)',
  'tablet': '(min-width: 769px) and (max-width: 991px)',
  'laptop': '(min-width: 992px) and (max-width: 1169px)',
  'desktop': '(min-width: 1170px) and (max-width: 1919px)',
  'large-desktop': '(min-width: 1920px)',
);
