.search {
  display: block;

  &__select-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid $color-light-gray;
    border-right: none;
    border-left: none;

    @include respond-to('mobile') {
      height: 40px;
      border: none;
    }

    .submenu {
      @include respond-to('mobile') {
        display: none;
      }
    }

    .select {
      @media (min-width: 768px) {
        display: none;
      }
    }

    .dotted-dropdown {
      display: none;

      @include respond-to('mobile') {
        display: inline-block;
        margin-left: 18px;
      }
    }
  }

  &__items {
    display: block;
    width: 100%;
    margin-top: 25px;
    padding-left: 210px;
    padding-right: 285px;

    @include respond-to('large-desktop') {
      padding-left: 320px;
      padding-right: 427.5px;
    }

    @include respond-to('laptop') {
      padding-left: 100px;
      padding-right: 100px;
    }

    @include respond-to('tablet') {
      padding-left: 50px;
      padding-right: 50px;
    }

    @include respond-to('mobile') {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__item {
    display: block;
    min-height: 134px;

    @include respond-to('mobile') {
      min-height: 93px;
    }

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__show-more {
    margin: 60px auto;
    width: 165px;
    height: 40px;
    display: block;

    @include respond-to('mobile') {
      margin: 50px auto 20px;
      width: 290px;
    }
  }
}
