.developed-by * {
  display: block;
}

.developed-by {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  width: 100%;

  &__label {
    font-size: 12px;
    line-height: (14/12)*1em;
    font-weight: 300;
    color: #565656;
    padding-bottom: 13px;

    @include respond-to('tablet') {
      display: none;
    }

    @include respond-to('mobile') {
      display: none;
    }
  }

  &__icon {
    width: 97px;
    height: 13px;
    fill: #666;
    opacity: 1;
    will-change: opacity;
    transition: opacity .25s ease-in-out;

    &:hover {
      opacity: .75;
    }
  }
}
