extends ../layouts/default
include ../blocks/account-sale12/account-sale2

block head
  - var pageTitle = 'Катера.RU - Личный кабинет'

block contentVariables
  - var stickyHeader = true;

block content
  +account-sale2()
