extends ../layouts/default
include ../blocks/account_shop-2-page/account_shop-2-page
include ../blocks/branding/branding

block head
  - var pageTitle = 'Катера.RU - Личный кабинет'

block content
  +branding()
    +account_shop-2-page()

