extends ../layouts/default
include ../blocks/account-shop-2-page/account-shop-2-page
include ../blocks/branding/branding

block head
  - var pageTitle = 'Катера.RU - Личный кабинет'

block contentVariables
  - var stickyHeader = true;

block content
  +branding()
    +account-shop-2-page()

