extends ../layouts/default
include ../blocks/account-shop-3-page/account-shop-3-page
include ../blocks/branding/branding

block head
  - var pageTitle = 'Катера.RU - Личный кабинет'

block content
  +branding()
    +account-shop-3-page()

