extends ../layouts/default
include ../blocks/catalog-verphe-page/catalog-verphe-page
include ../blocks/branding/branding

block head
  - var pageTitle = 'Катера.RU - Каталог верфей'

block contentVariables
  - var stickyHeader = true;

block content
  +branding()
    +catalog-verphe-page()
