extends ../layouts/default
include ../blocks/catalog-yacht-1/catalog-yacht-1
include ../blocks/branding/branding

block head
  - var pageTitle = 'Катера.RU - Каталог яхт - Крейсеры'

block contentVariables
  - var stickyHeader = true;

block content
  +branding()
    +catalog-yacht-1()
