extends ../layouts/default
include ../blocks/catalog-yacht/catalog-yacht
include ../blocks/branding/branding

block head
  - var pageTitle = 'Катера.RU - Журнал - Видео'

block content
  +branding()
    +catalog-yacht()

