extends ../layouts/default
include ../blocks/create-password/create-password
include ../blocks/branding/branding

block head
  - var pageTitle = 'Катера.RU - Вход'

block content
  +branding()
    +create-password()

