extends ../layouts/default
include ../blocks/event-page/event-page
include ../blocks/branding/branding

block head
  - var pageTitle = 'Катера.RU'

block contentVariables
  - var stickyHeader = true;

block content
  +branding()
    +event-page()
