extends ../layouts/default
include ../blocks/forgot-password/forgot-password
include ../blocks/branding/branding

block head
  - var pageTitle = 'Катера.RU - Вход'

block content
  +branding()
    +forgot-password()

