extends ../layouts/default
include ../blocks/branding/branding
include ../blocks/index/index
include ../blocks/filter-engines/filter-engines

block head
  - var pageTitle = 'Катера.RU - Главная'

block contentVariables
  - var page = 'index';

block content
  div(style="width: 100vw; height: 100vh; background-color: #fff; position: fixed; top: 0; left: 0; z-index: 9999; padding: 50px 0;")
    +container()
      +filter-engines()
  +branding('index')
    +index()
