extends ../layouts/default
include ../blocks/branding/branding
include ../blocks/index/index
include ../blocks/radio/radio
include ../blocks/counter/counter
include ../blocks/checkbox/checkbox
include ../blocks/slider-range/slider-range

block head
  - var pageTitle = 'Катера.RU - Главная'

block contentVariables
  - var page = 'index';

block content
  div(style="width: 100vw; height: 100vh; background: #fff; position: fixed; top: 0; left: 0; z-index: 9999")
    +radio({name: 'radio'})
    +radio({name: 'radio'})
    +checkbox({name: '123'})

    +checkbox({name: '123'})._switcher
    div(style="width: 200px; height: 40px")
      +counter({name: '123'})
  +branding('index')
    +index()

