extends ../layouts/default
include ../blocks/branding/branding
include ../blocks/index/index

block head
  - var pageTitle = 'Катера.RU - Главная'

block contentVariables
  - var page = 'index';
  - var stickyHeader = true;

block content
  +branding('index')
    +index()
