extends ../layouts/default
include ../blocks/branding/branding
include ../blocks/index/index
include ../blocks/slider-range/slider-range

block head
  - var pageTitle = 'Катера.RU - Главная'

block contentVariables
  - var page = 'index';

block content
  //+slider-range().js-slider-range
  +branding('index')
    +index()

