extends ../layouts/default
include ../blocks/join/join
include ../blocks/branding/branding

block head
  - var pageTitle = 'Катера.RU - Регистрация'

block contentVariables
  - var stickyHeader = true;

block content
  +branding()
    +join()

