extends ../layouts/default
include ../blocks/magazine-page/magazine2
include ../blocks/branding/branding

block head
  - var pageTitle = 'Катера.RU - Журнал'

block contentVariables
  - var stickyHeader = true;

block content
  +branding()
    +magazine2()
