extends ../layouts/default
include ../blocks/magazine-page/magazine-page
include ../blocks/branding/branding

block head
  - var pageTitle = 'Катера.RU - Журнал - Видео'

block contentVariables
  - var stickyHeader = true;

block content
  +branding()
    +magazine-page()

