extends ../layouts/default
include ../blocks/magazine-razdel/magazine-razdel
include ../blocks/branding/branding

block head
  - var pageTitle = 'Катера.RU - Журнал - Раздел'

block content
  +branding()
    +magazine-razdel()

