extends ../layouts/default
include ../blocks/magazine-longrid/magazine-longrid

block head
  - var pageTitle = 'Катера.RU - Журнал - Видео-обзоры'

block contentVariables
  - var stickyHeader = true;

block content
  +magazine-longrid()

