extends ../layouts/default
include ../blocks/magazine-videos/magazine-videos
include ../blocks/branding/branding

block head
  - var pageTitle = 'Катера.RU - Журнал - Видео-обзоры'

block contentVariables
  - var stickyHeader = true;

block content
  +branding()
    +magazine-videos()

