extends ../layouts/default
include ../blocks/magazine-longrid/magazine-longrid
include ../blocks/branding/branding

block head
  - var pageTitle = 'Катера.RU - Журнал - Видео-обзоры'

block content
  +branding()
    +magazine-longrid()

