extends ../layouts/default
include ../blocks/sale12-page/sale12-page
include ../blocks/branding/branding

block head
  - var pageTitle = 'Катера.RU - Предложения'

block content
  +branding()
    +sale12-page()

