extends ../layouts/default
include ../blocks/sale-raznoe/sale-raznoe
include ../blocks/branding/branding

block head
  - var pageTitle = 'Катера.RU - Предложения (разное)'

block content
  +branding()
    +sale-raznoe()

