extends ../layouts/default
include ../blocks/branding/branding
include ../blocks/search/search

block head
  - var pageTitle = 'Катера.RU'

block contentVariables
  - var stickyHeader = true;

block content
  +branding()
    +search()
