extends ../layouts/default
include ../blocks/branding/branding
include ../blocks/shop1/shop1

block head
  - var pageTitle = 'Катера.RU - Магазины - UltraBoats'

block contentVariables
  - var stickyHeader = true;

block content
  +page-header('UltraBoats', ['Главная', 'Магазины', 'UltraBoats'])
  +branding('shop1')
    +shop1()
