extends ../layouts/default
include ../blocks/shop-s/shop-s
include ../blocks/branding/branding

block head
  - var pageTitle = 'Катера.RU - Магазины'

block contentVariables
  - var stickyHeader = true;

block content
  +branding()
    +shop-s()
