extends ../layouts/default
include ../blocks/branding/branding
include ../blocks/shop3/shop3

block head
  - var pageTitle = 'Катера.RU - Магазины - UltraBoats'

block contentVariables
  - var stickyHeader = true;

block content
  +branding()
    +shop3()
