extends ../layouts/default
include ../blocks/scrollable/scrollable

block content
  div(style='height: 1000px; background-color: lightblue;')
  +scrollable
    +scrollable-h(style='width: 300vw; height: 100vh; background-image: -moz-repeating-linear-gradient(right, #1abc9c 5vw, #16a085 10vw); background-image: -webkit-repeating-linear-gradient(right, #1abc9c 5vw, #16a085 10vw);')
    +scrollable-v(style='width: 100vw; height: 200vh; -moz-repeating-linear-gradient(top, #1abc9c 5vw, #16a085 10vw); background-image: -webkit-repeating-linear-gradient(top, #1abc9c 5vw, #16a085 10vw);')
    +scrollable-h(style='width: 170vw; height: 100vh; background-image: -moz-repeating-linear-gradient(right, #3498db 5vw, #2980b9 10vw); background-image: -webkit-repeating-linear-gradient(right, #3498db 5vw, #2980b9 10vw);')
    +scrollable-v(style='width: 100vw; height: 300vh; -moz-repeating-linear-gradient(top, #3498db 5vw, #2980b9 10vw); background-image: -webkit-repeating-linear-gradient(top, #3498db 5vw, #2980b9 10vw);')
  div(style='height: 1000px; background-color: lightblue;')
