extends ../layouts/default
include ../blocks/verphe/verphe
include ../blocks/branding/branding

block head
  - var pageTitle = 'Катера.RU - Каталог верфей - Azimut Yachts'

block contentVariables
  - var stickyHeader = true;

block content
  +branding()
    +verphe()
