extends ../layouts/default
include ../blocks/yacht-club/yacht-club

block head
  - var pageTitle = 'Катера.RU - Яхт-клубы - Grand Marine'

block contentVariables
  - var stickyHeader = true;

block content
  +yacht-club()
