include ../article-preview/article-preview
include ../button/button

mixin extra-articles(title)
  +b.extra-articles&attributes(attributes)
    +e.H2.header= title
    +e.article
      - var data = getData('article-preview_title-under-img_extra');
      - for (var i = 0; i < 8; i++)
        +e.item
          +article-preview(data[i])._title-under-img
    +e.button
      +button()._rounded._kind_red Показать еще
