mixin timeline()
  +b.timeline.swiper-container
    +e.wrapper.swiper-wrapper
      +e('a')(href="#").element.swiper-slide
        +e.year 1950
        +e.point
          +e('img').point-img(src='assets/images/yacht.png')
        +e.name 100 Leonardo
        +e.category Крейсерская яхта
      +e('a')(href="#").element.swiper-slide
        +e.year 1950
        +e.point
          +e('img').point-img(src='assets/images/yacht.png')
        +e.name 100 Leonardo
        +e.category Крейсерская яхта
      +e('a')(href="#").element.swiper-slide
        +e.year 1950
        +e.point
          +e('img').point-img(src='assets/images/yacht.png')
        +e.name 100 Leonardo
        +e.category Крейсерская яхта
      +e('a')(href="#").element.swiper-slide
          +e.year 1950
          +e.point
            +e('img').point-img(src='assets/images/yacht.png')
          +e.name 100 Leonardo
          +e.category Крейсерская яхта
      +e('a')(href="#").element.swiper-slide
        +e.year 1950
        +e.point
          +e('img').point-img(src='assets/images/yacht.png')
        +e.name 100 Leonardo
        +e.category Крейсерская яхта
      +e('a')(href="#").element.swiper-slide
        +e.year 1950
        +e.point
          +e('img').point-img(src='assets/images/yacht.png')
        +e.name 100 Leonardo
        +e.category Крейсерская яхта
      +e('a')(href="#").element.swiper-slide
        +e.year 1950
        +e.point
          +e('img').point-img(src='assets/images/yacht.png')
        +e.name 100 Leonardo
        +e.category Крейсерская яхта
      +e('a')(href="#").element.swiper-slide
        +e.year 1950
        +e.point
          +e('img').point-img(src='assets/images/yacht.png')
        +e.name 100 Leonardo
        +e.category Крейсерская яхта
    +e.swiper-pagination

    +e.SPAN.caret_prev
    +e.SPAN.caret_next

    +e.arrows
      +e.SPAN.next
        +icon('arrow-next').__arrow
      +e.SPAN.prev
        +icon('arrow-prev').__arrow
