mixin timeline()
  +b.timeline.swiper-container
    +e.wrapper.swiper-wrapper
      +e('a')(href="#").element.swiper-slide
        +e.year 1950
        +e.point
          +e('img').point-img(src='assets/images/yacht.png')
        +e.name 100 Leonardo
        +e.category Крейсерская яхта
      +e('a')(href="#").element.swiper-slide
        +e.year 1950
        +e.point
          +e('img').point-img(src='assets/images/yacht.png')
        +e.name 100 Leonardo
        +e.category Крейсерская яхта
      +e('a')(href="#").element.swiper-slide
        +e.year 1950
        +e.point
          +e('img').point-img(src='assets/images/yacht.png')
        +e.name 100 Leonardo
        +e.category Крейсерская яхта
      +e('a')(href="#").element.swiper-slide
        +e.year 1950
        +e.point
          +e('img').point-img(src='assets/images/yacht.png')
        +e.name 100 Leonardo
        +e.category Крейсерская яхта
      +e('a')(href="#").element.swiper-slide
        +e.year 1950
        +e.point
          +e('img').point-img(src='assets/images/yacht.png')
        +e.name 100 Leonardo
        +e.category Крейсерская яхта
    +e.swiper-pagination
    +e.arrows
      +icon('arrow-next').next.__arrow
      +icon('arrow-prev').prev.__arrow
