.vertical-menu, .vertical-menu__item {
  display: block;
  margin: 0;
  padding: 0;
}

.vertical-menu {
  width: 100%;

  &__item {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    & a {
      color: $color-white;
      font-size: $base-font-size;
      line-height: (36px/$base-font-size)*1em;
      text-decoration: none;
      font-weight: 300;
      opacity: 1;
      will-change: opacity;
      transition: opacity .25s ease-in-out;

      &:hover {
        opacity: .75;
      }
    }
  }

  &_font_bold {
    font-family: $NerisSemiBold;

    .vertical-menu {

      &__item {
        margin-bottom: 0;

        & a {
          font-size: 24px;
          line-height: (90px/24px)*1em;
          font-weight: 600;
        }
      }
    }
  }
}
