.scroll-slider {
  position: relative;

  &_gallery-top {

    .scroll-slider {

      &__wrapper {
        -webkit-margin-before: 0;
        -webkit-padding-start: 0;
        -webkit-margin-after: 0;
      }

      &__image {
        display: block;
        width: 100%;
        height: 473px;

        @include respond-to('mobile') {
          height: 300px;
        }
      }

      &__pagination {
        position: relative;
        padding-top: 13px;
        padding-bottom: 13px;
        z-index: 2;
        text-align: center;
        bottom: 0;

        @media (min-width: 767px) {
          display: none;
        }

        .swiper-pagination-bullet {
          width: 10px;
          height: 10px;
          border: 1px solid $color-dark-blue;
          margin: 0 21px;
          display: inline-block;
          border-radius: 100%;
          cursor: pointer;
          transition: .25s ease-in-out;
          background: transparent;

          &-active {
            border-width: 3px;
          }
        }
      }
    }
  }

  &_gallery-thumbs {

    @include respond-to('mobile') {
      display: none;
    }

    .scroll-slider {

      &__wrapper {
        -webkit-margin-before: 0;
        -webkit-padding-start: 0;
      }

      &__image {
        position: relative;
        flex: none;
        width: 98px;
        height: 69px;
        list-style: none;

        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0,0,0,0.5);
          z-index: 1;
        }

        &:hover::before {
          box-shadow: 0px 25px 157px -18px #000;
          background-color: rgba(0,0,0,0);
          cursor: pointer;
        }

        & .image-bg {
          z-index: 0;
        }
      }

      &__scrollbar {
        .swiper-scrollbar-drag {
          background-color: $color-blue;
        }
      }
    }

  }
}


