include ../image-bg/image-bg
//- Аргумент - объект scroll-slider
//- data.name - наименование
//- data.path - путь изображения
mixin scroll-slider(data)
  +b.scroll-slider
    +e.gallery.swiper-container
      ul.swiper-wrapper
        each image in data.path
          li.swiper-slide
            +image-bg()(src= image)
    +e.pagination.swiper-pagination

    +e.thumbs.swiper-container
      ul.swiper-wrapper
        each image in data.path
          li.swiper-slide
            +image-bg()(src= image)
      +e.scrollbar.swiper-scrollbar

    +e.info
      +e('b').name= data.name
      +e('span').price= data.price
      +e('span').options= data.options
