mixin scroll-slider()
  +b.scroll-slider.swiper-container
    +e.wrapper.swiper-wrapper
      +e.content.swiper-slide
        +e('img')(src="http://placehold.it/1000x200")
      +e.content.swiper-slide
        +e('img')(src="http://placehold.it/1000x200")
      +e.content.swiper-slide
        +b.scroll-slider2.swiper-container
          +e.wrapper.swiper-wrapper
            +e.content.swiper-slide
              +b('p') div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis numquam ipsam ut reiciendis est unde eos veniam, laboriosam ab, accusamus sapiente aut, vero quas animi voluptatem tenetur itaque vel sunt.
              div Ipsam perspiciatis voluptatum quia fuga. Quidem sit porro cumque consequuntur aperiam ipsam enim labore officiis laborum voluptatibus iure neque libero, rem numquam temporibus sunt autem dolorem similique magni doloribus sint.
              div Eius earum adipisci eos perferendis fugiat delectus expedita veniam cumque consequatur velit facilis, ipsum, illum deserunt neque aut ratione incidunt temporibus eaque nulla quaerat ad ipsam quod ullam. Iusto, nostrum?
              div Dolorem obcaecati maxime, et perferendis cumque illo amet commodi fugit voluptatum vitae incidunt dolores, quam harum quas rem reiciendis quidem veniam voluptates cum magni sunt placeat optio. Vel doloribus, eveniet.
              div Sit aperiam, quos blanditiis ratione ad doloremque animi eaque quam placeat illo, molestias hic deleniti debitis aliquam quidem nostrum minima mollitia at eum dolores neque! Error esse, aspernatur architecto aliquid!
              div Soluta aliquid quasi mollitia nisi cupiditate accusantium reprehenderit voluptas fugiat, maxime obcaecati qui beatae porro quidem, atque. Possimus corrupti fugit aut, similique mollitia quibusdam doloribus voluptates rerum alias eveniet. Aut.
              div Vel aspernatur, voluptatum? Doloremque, corrupti quis cumque porro maiores ipsam molestias expedita, molestiae quo quia, asperiores est placeat itaque. Explicabo maiores praesentium illum ipsam fugiat ea fugit commodi labore quas!
              div Iusto aspernatur saepe aperiam facere recusandae, omnis veniam. Molestias assumenda similique sapiente cupiditate tempore nostrum dolor. Quod soluta hic, sunt, eaque error aliquid odit vel incidunt, dolorem architecto quas fugit.
              div Laudantium earum quidem modi delectus nemo ipsa animi sapiente necessitatibus excepturi eius, suscipit, officia est reiciendis ipsum, voluptas voluptatum assumenda at, omnis hic corrupti quos. Necessitatibus, laborum! Reprehenderit, aliquam ex.
              div Ab ut totam quisquam, fuga ipsum cumque nam. Soluta voluptatum est impedit fuga magni possimus iure, laudantium dicta cupiditate, officiis accusantium suscipit voluptas, aut sunt magnam explicabo debitis reprehenderit exercitationem?
              div Eum aperiam cum tempore, veniam, officia harum sit amet dignissimos sapiente voluptatum doloribus animi libero repellendus, dolores reiciendis molestias nemo commodi corporis accusamus! Optio similique magni ipsam, culpa animi, perferendis!
              div Facere, assumenda? Sit molestiae, dolore, voluptatum expedita dicta eum facere, omnis harum earum dolorem enim animi. Omnis ad eius, saepe repellat assumenda praesentium libero, deleniti distinctio, fuga provident amet magnam.
              div Consequuntur earum inventore libero, id atque vel cumque tempora, molestiae, temporibus commodi officia delectus, nesciunt blanditiis at! Animi facere consequuntur quo molestias alias omnis, nulla eos, mollitia tenetur officia expedita.
              div At nam repellendus quas. Placeat ipsum, labore quod aspernatur illo commodi sed voluptas minus aliquam quidem numquam, ipsa quas nostrum molestiae. Possimus eveniet nostrum illum laborum delectus accusamus at ea?
              div Labore nisi dolorum possimus temporibus aut aliquam amet adipisci nihil ex, blanditiis autem quia impedit nostrum praesentium, molestiae, repellendus sunt asperiores dolorem voluptate, non repudiandae! Praesentium voluptatibus omnis tempora nisi.
              div Ea sit fugit sint officiis doloribus. Soluta assumenda fuga nulla reprehenderit eligendi quisquam repellendus expedita distinctio fugiat sed, nisi iusto omnis, nemo sit necessitatibus error? Porro eos vel recusandae aspernatur.
              div Nobis ipsa modi natus eligendi dolores omnis blanditiis, eveniet velit quo voluptate cumque officiis sunt quasi architecto. Officia incidunt inventore illo, ipsa harum officiis, laboriosam sequi earum, similique tempore alias.
              div Voluptate libero aliquid ipsa fuga dolores eveniet minus quia, ex consequuntur omnis aut rem natus tenetur error magnam maiores iste ipsum quae officia tempore deleniti dolore odio animi eos. Asperiores?
              div Officia at explicabo numquam minima. Optio commodi eum itaque ipsum ab cumque quo, magni ea adipisci reiciendis incidunt non pariatur, fugiat inventore perspiciatis dicta. Dolores saepe itaque quis, omnis excepturi!
              div Laboriosam rerum velit ipsa id hic quos consequatur cumque nostrum nam tenetur, fuga, illo commodi ut molestiae, dolorem officia omnis sunt explicabo. Perferendis distinctio asperiores nesciunt sequi! Incidunt, voluptatem, laboriosam.
