include ../image-bg/image-bg
//- Аргумент - объект scroll-slider
//- data.name - наименование
//- data.path - путь изображения
mixin scroll-slider(data)
  +b('div').scroll-slider._gallery-top.swiper-container
    +e('ul').wrapper.swiper-wrapper
      each image in data.path
        +e('li').image.swiper-slide
          +image-bg()(src= image)
    +e('div').pagination.swiper-pagination

  +b('div').scroll-slider._gallery-thumbs.swiper-container
    +e('ul').wrapper.swiper-wrapper
      each image in data.path
        +e('li').image.swiper-slide
          +image-bg()(src= image)
    +e('div').scrollbar.swiper-scrollbar
