include ../list/list

// - Модификаторы
//- ._active - показывает контент
//- ._content_left - контент слева (left: 0)
//- ._content_right - контент справа (right: 0)
mixin dotted-dropdown()
  +b.dotted-dropdown&attributes(attributes)
    +e.button
      +e.dot
      +e.dot
      +e.dot
    +e.content
      +list
        +list-item Test #1
        +list-item Test #2
        +list-item Test #3
