.dotted-dropdown {
  display: inline-block;
  position: relative;

  &_content_right {

    .dotted-dropdown__content {
      right: 0 !important;
      left: initial !important;
    }
  }

  &_content_left {
    left: 0 !important;
    right: initial !important;
  }

  &_active {

    .dotted-dropdown {

      &__dot {
        background-color: $color-red;
      }

      &__content {
        display: block;
      }
    }
  }

  &__button {
    display: block;
    cursor: pointer;
  }

  &__dot {
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #ccc;
    will-change: background-color;
    transition: background-color .25s ease-in-out;
    pointer-events: none;

    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }

  .dotted-dropdown &__content {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    margin-top: 9px;
    height: auto;
    z-index: 9999;
    width: initial;

    &.loading {
      display: block !important;
      opacity: 0 !important;
      pointer-events: none !important;
    }

    .list__item {
      white-space: nowrap;
    }
  }
}
