include ../page-header/page-header
include ../container/container
include ../main-container/main-container
include ../banner/banner
include ../filter-model/filter-model
include ../button/button
include ../text/text
include ../models/models
include ../image-bg/image-bg
include ../yacht-slider/yacht-slider
include ../select/select

mixin catalog-yacht-1()
  +b.catalog-yacht-1
    +container()
      +page-header('Крейсерские яхты со средиземноморским кокпитом', ['Главная', 'Каталог яхт', 'Крейсерские яхты со средиземноморским кокпитом'])
      +banner()
      +main-container().main-container_shadow.verphe__main-container
        +e.box-bg
          +image-bg()(src='assets/images/cruiser.jpg')
        +e.content
          +text().__text
            | Изучая различные виды яхт, вы скорее всего обратите внимание на 
            | крейсерские яхты со средиземноморским кокпитом, которые
            | запоминаются своими формами, элегантностью и, в то же время, красотой.
        +text().H2.__header  Модельный ряд
        +filter-model()._catalog
        +e.sort
          +e.found 
            | Найдено 
            +e.SPAN.sort__output 125
            |  моделей
          +e.price Сортировать
            - var filterData = getData('filter')
              +select(filterData.priceSort.name, filterData.priceSort.options).
        +models('', getData('sale-preview-item-extended'))._catalog
        +button()._rounded._kind_red.__button Показать еще
        +text().H2.__header Похожие категории
        +yacht-slider()
        +text().H2.__header Статьи по теме
        +b.none
        +button(true)(href='#')._rounded._kind_red.__button.__link Перейти в журнал
