.catalog-yacht-1 {

  .main-container {
    margin-bottom: 140px;

    @media (max-width: 1024px) {
      margin-bottom: 0;
    }
  }

  .page-header {
    padding-bottom: 3px;

    &__title {
      @media (max-width: 1024px) {
        line-height: 1.4;
        margin-bottom: 0;
      }
    }
  }

  &__content {
    @media (max-width: 1024px) {
      margin-bottom: 23px;
    }
  }

  &__text {
    color: $color-black;
    font-size: 24px;
    text-align: center;
    margin: 21px 104px 0 106px;
    line-height: 34px;

    @media (max-width: 1024px) {
      font-size: 14px;
      line-height: 20px;
      margin: 22px 20px 34px;
    }
  }

  .filter-model {
    padding-bottom: 11px;
    margin-bottom: 27px;

    &__price-text {
      margin: 0 6px 0 -5px;
      padding-bottom: 1px;
    }

    &__currency {
      transform: translateX(4px);
      z-index: 999;
    }

    .select__icon_type_caret {
      margin-left: 6px;
    }

    @media (max-width: 1024px) {
      padding-bottom: 21px;
      margin-bottom: 17px;
    }
  }

  &__categories {
    width: 100%;
    overflow: hidden;

    @media (max-width: 1024px) {
      padding: 0 15px 23px;
    }

    @include respond-to('mobile') {
      width: auto;
      margin: 0 15px 23px;
    }
  }

  .yacht-slider {
    padding-bottom: 0;

    @include respond-to('mobile') {
      width: 290px;
    }

    img {
      height: 213px;
    }

    &__description {
      margin-top: 4px;
      line-height: 24px;

      @media (max-width: 1024px) {
        margin-top: 0;
      }
    }

    &__subdesc {
      margin-top: 4px;
      line-height: 18px;

      @include respond-to('large-desktop') {
        padding: 0 43px;
      }

      @media (max-width: 1024px) {

        &:last-child {
          margin-top: 0;
        }

        &:not(:last-child) {
          display: none;
        }
      }
    }

    .yacht-slider__swiper-pagination {
      margin-top: 24px;

      @media (max-width: 1024px) {
        margin-top: 9px;
      }
    }
  }

  .models {

    &_catalog {
      border-top: none;
      padding-top: 0;

      .swiper-container {
        padding-bottom: 51px;

        @media (max-width: 1024px) {
          padding-bottom: 0;
        }
      }
    }

    &__header {
      display: none;
    }
  }

  &__box-bg {
    position: relative;
    height: 400px;
    width: 100%;
    display: block;

    @include respond-to('large-desktop') {
      height: 540px;
    }

    .image-bg {
      height: 100%;
      z-index: 1;
    }

    @media (max-width: 1024px) {
      height: 200px;
    }
  }

  &__sort {
    width: 100%;
    margin: 0 24px -2px;
    display: flex;
    justify-content: space-between;
    font-family: $NerisSemiBold;
    font-weight: 600;
    line-height: 24px;
    align-items: center;

    @media (max-width: 1024px) {
      width: auto;
      margin: 0 15px 14px;
    }

    .select {
      width: 165px;
      height: 30px;
      margin-left: 15px;
      font-size: 14px;

      &__control {
        padding-left: 11px;
        font-size: 14px;
        line-height: 24px;
      }
    }

    &__output {
      color: $color-red;
    }
  }

  &__filter__label {
    align-self: center;

    @media (max-width: 1024px) {
      display: none;
    }
  }

  &__price {
    display: flex;
  }

  &__found {
    align-self: flex-end;

    @media (max-width: 1024px) {
      align-self: center;
    }

    &_desktop {
      display: inline-block;

      @include respond-to('mobile') {
        display: none;
      }
    }

    &_mobile {
      display: none;
      font-family: $NerisLight;
      font-weight: 300;

      @include respond-to('mobile') {
        display: inline-block;
      }
    }
  }

  &__items {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 22px -15px 32px;
    width: calc(100% + 30px);

    @include respond-to('laptop') {
      justify-content: space-between;
    }

    @media (max-width: 1024px) {
      justify-content: flex-start !important;
      align-items: baseline;
      margin-right: 0;
      margin-left: 25px;
      width: auto;
    }

    @media (max-width: 768px) {
      justify-content: space-around !important;
      margin-left: 0;
      margin-right: 0;
    }

    @media (max-width: 540px) {
      flex-direction: column !important;
      align-items: center !important;
    }
  }

  &__item {
    margin: 0 15px 15px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: all .25s ease-in-out;

    @include respond-to('mobile') {
      flex-basis: 40%;
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 1px;
    }

    @media (max-width: 540px) {
      flex-basis: auto;
    }

    .sale-preview-item {
      @include respond-to('mobile') {
        flex-direction: row;

        &__img-wrap {
          margin-right: 30px;
          width: 165px;
          height: 134px;

          @include respond-to('mobile') {
            width: 107px;
            height: 93px;
            margin-right: 3px;
          }
        }

        &__name {
          letter-spacing: -.4px;
        }

        &__text {
          text-align: left;
          min-height: inherit;
        }

        &__param {
          text-align: left;

          @include respond-to('mobile') {

            &:not(:last-child)::after {
              content: ',\00a0';
            }
          }
        }
      }

      &__img-wrap {
        height: 134px;
        width: 165px;
      }

      &__params {
        @include respond-to('mobile') {
          flex-direction: column;
          align-items: flex-start;
          margin: 0;
          padding: 0;
        }
      }

      &__param {
        font-size: rem(12px);

        @include respond-to('mobile') {
          display: block;
          float: left;
          text-align: center;
        }
      }

      &__text {
        padding: 4px 5px 5px 9px;
        min-height: 130px;
      }

      &__name, &__price {
        font-size: rem(16px);
      }
    }
  }

  &__header {
    width: 100%;
    color: $color-dark-blue;
    font-size: 38px;
    font-family: $NerisSemiBold;
    font-weight: 600;
    text-align: center;
    margin-top: 81px;
    margin-bottom: 22px;

    &:nth-of-type(2) {
      margin: 72px 0 24px;
    }

    &:nth-of-type(3) {
      margin: 62px 0 24px;
    }

    @media (max-width: 1024px) {
      font-size: 22px;
      margin-bottom: 11px;
      margin-top: 0;

      &:nth-of-type(2) {
        margin-top: 0;
        margin-bottom: 16px;
      }

      &:nth-of-type(3) {
        display: none;
      }
    }
  }

  .articles-grid {
    margin-top: 0;

    @media (max-width: 1024px) {
      display: none;
    }

    .stroke:not(:first-of-type) {
      padding-top: 22px;
    }
  }

  &__button {
    width: 165px;
    height: 40px;
    margin: 0 auto;
    box-shadow: 0 0 35px rgba(9, 4, 53, .3);

    @media (max-width: 1024px) {
      margin: 29px auto;
    }

    @include respond-to('mobile') {
      width: 80%;
    }
  }

  &__link {
    padding: 9px;
    margin: 36px auto 49px;

    @media (max-width: 1024px) {
      display: none;
    }
  }

  .article-preview {
    @include respond-to('mobile') {
      min-height: inherit;
    }
  }

  .stroke {
    @include respond-to('mobile') {
      margin: 0 -15px;
    }
  }

  .stroke:not(:first-of-type) {
    @include respond-to('mobile') {
      padding-top: 0;
    }
  }
}
