

.custom-slider {
  width: 100%;

  &_full {

    @include respond-to('mobile') {
      display: none;
    }
  }

  &_mob {
    display: none;

    @include respond-to('mobile') {
      display: block;
    }

    .sale-preview-item {
      width: 100%;
      margin-bottom: 25px;

      &__img-wrap {
        height: 134px;
      }
    }
  }

  &__wrapper {
    margin-bottom: 23px;
  }

  &__slide {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &:nth-child(n+6) {
      @include respond-to('mobile') {
        display: none;
      }
    }

    &_big {
      width: 31.5% !important;

      .sale-preview-item {
        width: 100%;

        &__img-wrap {
          height: 417px;
        }
      }
    }

    &_group {
      width: 32.9% !important;

      .sale-preview-item {
        width: 165px;
        margin-bottom: 25px;

        &__img-wrap {
          height: 134px;
        }
      }
    }
  }

  &__pagination {
    position: relative;
    text-align: center;
    bottom: 0 !important;

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      border: 1px solid $color-dark-blue;
      margin: 0 10px !important;
      display: inline-block;
      border-radius: 100%;
      cursor: pointer;
      transition: .25s ease-in-out;
      background-color: $color-white;

      &-active {
        border-width: 3px;
      }
    }
  }

  .sale-preview-item {

    &__info {
      font-size: 13px;
    }

    &__name {
      font-size: 16px;
    }

    &__price {
      font-size: 16px;
    }

    &__params {
      font-size: 12px;

      @media (max-width: 991px) {
        display: none;
      }
    }
  }
}
