include ../sale-preview-item/sale-preview-item

//- На данный момент на каждый слайд выводится 9 первых фото из json
//- На разрешениях меньше десктопа group скрывается, big тянется на 100%

mixin custom-slider(data)

  - var photosPerSlide = 9;
  - var slides = (data.length - data.length % photosPerSlide) / photosPerSlide;

  +b('div').custom-slider.swiper-container
    +e.wrapper.swiper-wrapper

      - for (var i=0; i<slides; i++)

        +e('div').slide.swiper-slide

          +e('div').big
            +sale-preview-item(data[0])

          +e('div').group
            - for (var j=1; j<9; j++)
              +sale-preview-item(data[j])

    +e('div').pagination.swiper-pagination
