include ../page-header/page-header
include ../container/container
include ../main-container/main-container
include ../yacht-clubs-item/yacht-clubs-item
include ../submenu/submenu
include ../button/button
include ../select/select

mixin yacht-clubs()
  +b('div').yacht-clubs
    +container()
      +page-header('Яхт-клубы', ['Главная', 'Яхт-клубы'])
      +main-container()
        +submenu(getData('city'))
        +e('div').wrapper
          +e('div').catalog-filter
            - var filterData = getData('filter')
            +select(filterData.city.name, filterData.city.options, false, 'Местоположение')
          +e('div').yacht-clubs-row
            +yacht-clubs-item(getData('yacht-clubs-item'))
            +yacht-clubs-item(getData('yacht-clubs-item'))
            +yacht-clubs-item(getData('yacht-clubs-item'))
          +e('div').yacht-clubs-row
            +yacht-clubs-item(getData('yacht-clubs-item'))
            +yacht-clubs-item(getData('yacht-clubs-item'))
            +yacht-clubs-item(getData('yacht-clubs-item'))
          +e('div').yacht-clubs-row
            +yacht-clubs-item(getData('yacht-clubs-item'))
            +yacht-clubs-item(getData('yacht-clubs-item'))
            +yacht-clubs-item(getData('yacht-clubs-item'))
          +e('div').yacht-clubs-row
            +yacht-clubs-item(getData('yacht-clubs-item'))
            +yacht-clubs-item(getData('yacht-clubs-item'))
            +yacht-clubs-item(getData('yacht-clubs-item'))

        +button()._rounded._kind_red.__show-more Показать еще
