mixin logo(big)
  +b('a').logo(href='#')&attributes(attributes)
    if big
      +e('img').image(src='assets/images/logo.svg' alt='')
    else
      +e('img').image(src='assets/images/logo-small.svg' alt='')
