.price-list-dnld {

  &__link {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;

    @include respond-to('tablet') {
      justify-content: flex-start;
    }

    @include respond-to('mobile') {
      justify-content: flex-start;
    }
  }

  &__icon {
    margin-right: 13px;
    fill: $color-red;
    stroke: $color-red;
    width: 29px;
    height: 31px;
  }

  &__text {
    display: flex;
    flex-flow: column nowrap;
    text-align: left;
  }

  &__title {
    color: $color-red;
  }

  &__params {
    color: $color-gray;
    font-size: 12px;
  }
}
