.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #000;

  &__item,
  &__link,
  &__icon,
  &__icon * {
    display: block;
  }

  &__icon {
    fill: #fff;

    * {
      fill: #fff;
    }

    &_type {

      &_vk {
        width: 22px;
        height: 13px;
      }

      &_insta {
        width: 29px;
        height: 20px;
      }

      &_fb {
        width: 11px;
        height: 19px;
      }

      &_odnokl {
        width: 13px;
        height: 20px;
      }

      &_yt {
        width: 22px;
        height: 16px;
      }
    }
  }
}
