include ../icon/icon

mixin social()
  +b('ul').social&attributes(attributes)
    +e('li').item
      +e('a')(href='#').link
        +icon('vkontakte').icon._type_vk
    +e('li').item
      +e('a')(href='#').link
        +icon('instagram').icon._type_insta
    +e('li').item
      +e('a')(href='#').link
        +icon('facebook').icon._type_fb
    +e('li').item
      +e('a')(href='#').link
        +icon('odnoklassniki').icon._type_odnokl
    +e('li').item
      +e('a')(href='#').link
        +icon('youtube').icon._type_yt
