include ../icon/icon

mixin social()
  +b('ul').social
    +e('li').item
      +e('a')(href='#').link
        +icon('vkontakte').icon._type_vk
    +e('li').item
      +e('a')(href='#').link
        +icon('instagram').icon._type_vk
    +e('li').item
      +e('a')(href='#').link
        +icon('facebook').icon._type_vk
    +e('li').item
      +e('a')(href='#').link
        +icon('odnoklassniki').icon._type_vk
    +e('li').item
      +e('a')(href='#').link
        +icon('youtube').icon._type_vk
