.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: yellow;

  &__item, &__link, &__icon, &__icon * {
    display: block;
  }

  &__link {

    &_type {

      &_vk > * {
        width: 22px;
        height: 13px;
      }

      &_insta > * {
        width: 29px;
        height: 20px;
      }

      &_fb > * {
        width: 11px;
        height: 19px;
      }

      &_odnokl > * {
        width: 13px;
        height: 20px;
      }

      &_yt > * {
        width: 22px;
        height: 16px;
      }
    }
  }

  &__icon {
    fill: #fff;

    * {
      fill: #fff;
    }
  }
/*****************************************/
  &_join {
    .social {
      &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        /*background-color: blue;*/

        &_type {
          &_vk {
            background-color: blue;
          }

          &_insta {
            background-color: orange;
          }

          &_fb {
            background-color: cyan;
          }

          &_odnokl {
            background-color: red;
          }

          &_yt {
            background-color: darkblue;
          }
        }
      }
    }
  }
}
