.events {

  &__main-container.main-container {
    margin-bottom: 0;
  }

  &__select-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 55px;
    padding-right: 55px;
    border-bottom: 1px solid #393557;
    background-color: #130b59;

    @include respond-to('tablet') {
      height: 40px;
      border: none;
      background-color: $color-white;
      margin-bottom: 20px;
    }

    @include respond-to('mobile') {
      height: 40px;
      border: none;
      background-color: $color-white;
      margin-bottom: 20px;
    }

    .submenu {
      background-color: #130b59;
      border: none;

      @include respond-to('tablet') {
        display: none;
      }

      @include respond-to('mobile') {
        display: none;
      }

      &__title {
        color: $color-white;
      }
    }

    .select {
      @media (min-width: 992px) {
        display: none;
      }
    }

    .dotted-dropdown {
      display: none;

      @include respond-to('tablet') {
        display: inline-block;
        margin-left: 18px;
      }

      @include respond-to('mobile') {
        display: inline-block;
        margin-left: 18px;
      }
    }
  }

  &__banner-bottom {
    display: block;
    width: 100%;
    padding: 30px;

    & .banner {
      height: 90px;
    }

    @include respond-to('laptop') {
      display: none;
    }
  }

  &__inset-banner {
    height: 90px;
  }

  &__submenu.submenu {
    background-color: $color-dark-blue;
    border-bottom-color: $color-purple;
    justify-content: space-around;

    @include respond-to('laptop') {
      display: none;
    }

    span {
      color: $color-white;
    }
  }

  &__slider {
    background-color: $color-dark-blue;
    padding: 95px 30px 130px;

    @include respond-to('tablet') {
      background-color: $color-white;
    }

    @include respond-to('mobile') {
      background-color: $color-white;
    }
  }

  &__slide-inner {
    width: 390px;
    text-align: center;
  }

  &__category {
    font-family: $NerisLight;
    color: $color-light-gray;
    font-size: 13px;
    line-height: 26px;
  }

  &__name {
    font-family: $NerisBlack;
    color: $color-white;
    font-size: 20px;
    line-height: 26px;
  }

  &__slide {
    width: 420px;
    padding: 20px 0 0 68px;
    position: relative;
  }

  &__date {
    position: absolute;
    top: -30px;
    left: 0;
    color: $color-white;
    font-size: 107px;
    font-family: $NerisBlack;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0 10px 27px rgba(0, 0, 0, .7);

    span {
      font-size: 24px;
      font-family: $NerisLight;
      display: block;
    }
  }
}
