include ../main-container/main-container
include ../container/container
include ../submenu/submenu
include ../page-header/page-header

mixin events()
  +b.events&attributes(attributes)
    +container()
      +page-header('Мероприятия', ['Главная', 'Мероприятия'])
      +main-container().events__main-container
        +submenu(getData('submenu')).__submenu
        +e.slider.swiper-container
          +e.swiper-pagination._shop-slider-pagination
          +e.wrapper.swiper-wrapper
            +e.slide.swiper-slide
              +e.date 06
                +b('span') января
              +e.slide-inner
                +e('img').img(src='assets/images/events-slide.jpg')
                +e.category Яхтинг в россии
                +e.name PROyachting проведет третий этап. Конференция любителей яхт.
            +e.slide.swiper-slide
              +e.date 06
                +b('span') января
              +e.slide-inner
                +e('img').img(src='assets/images/events-slide.jpg')
                +e.category Яхтинг в россии
                +e.name PROyachting проведет третий этап. Конференция любителей яхт.
            +e.slide.swiper-slide
              +e.date 06
                +b('span') января
              +e.slide-inner
                +e('img').img(src='assets/images/events-slide.jpg')
                +e.category Яхтинг в россии
                +e.name PROyachting проведет третий этап. Конференция любителей яхт.
            +e.slide.swiper-slide
              +e.date 06
                +b('span') января
              +e.slide-inner
                +e('img').img(src='assets/images/events-slide.jpg')
                +e.category Яхтинг в россии
                +e.name PROyachting проведет третий этап. Конференция любителей яхт.
            +e.slide.swiper-slide
              +e.date 06
                +b('span') января
              +e.slide-inner
                +e('img').img(src='assets/images/events-slide.jpg')
                +e.category Яхтинг в россии
                +e.name PROyachting проведет третий этап. Конференция любителей яхт.
        +e.banner-bottom
          +banner('#', 'assets/images/banner.jpg')._overlay
            +e('img')(src='assets/images/banner-img.png').little
