include ../main-container/main-container
include ../container/container
include ../submenu/submenu
include ../select/select
include ../dotted-dropdown/dotted-dropdown
include ../mobile-slide-popup/mobile-slide-popup
include ../page-header/page-header
include ../scrollable/scrollable
include ../event-item/event-item
include ../button/button

mixin events()
  +b.events&attributes(attributes)
    +container()
      +page-header('Мероприятия', ['Главная', 'Мероприятия'])
      +main-container().events__main-container
    +e('div').submenu-wrapper
      +container()
        +e('div').select-wrapper
          +submenu(getData('submenu-events'))
          +select('item10', [{value: '1', title: 'Все'}, {value: '2', title: 'Путешествия'}, {value: '3', title: 'Видео-обзоры'}], null, 'Показать')
    +e('div').scrollable-wrapper
      +scrollable()
        +scrollable-h()
          +e.slider
            +e.wrapper
              +e.slide
                +event-item(getData('event-item1'))
              +e.slide
                +event-item(getData('event-item1'))
              +e.slide
                +event-item(getData('event-item1'))
              +e.slide
                +event-item(getData('event-item1'))
              +e.slide
                +event-item(getData('event-item1'))
              +e.slide
                +event-item(getData('event-item1'))

            +button()._rounded._kind_red.__show-more Показать еще

          +container()
            +e.banner-bottom
              +banner('#', 'assets/images/banner.jpg')._overlay
                +e('img')(src='assets/images/banner-img.png').little

    +container()
      +e.banner-bottom
        +banner('#', 'assets/images/banner.jpg')._overlay
          +e('img')(src='assets/images/banner-img.png').little
