.events {

  &__main-container.main-container {
    margin-bottom: 0;
  }

  &__select-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 55px;
    padding-right: 55px;

    @media (max-width: 1024px) {
      height: 40px;
      border: none;
      background-color: $color-white;
      margin-bottom: 10px;
      padding-left: 15px;
      padding-right: 15px;
    }

    @include respond-to('tablet') {
      height: 40px;
      border: none;
      background-color: $color-white;
      margin-bottom: 20px;
      padding-left: 15px;
      padding-right: 15px;
    }

    @include respond-to('mobile') {
      height: 40px;
      border: none;
      background-color: $color-white;
      margin-bottom: 20px;
      padding-left: 0;
      padding-right: 0;
    }

    .submenu {
      background-color: #16123a;
      border: none;

      @media (max-width: 1024px) {
        display: none;
      }

      @include respond-to('tablet') {
        display: none;
      }

      @include respond-to('mobile') {
        display: none;
      }

      &__title {
        color: $color-white;
      }
    }

    .select {
      @media (min-width: 1025px) {
        display: none;
      }
    }

    .dotted-dropdown {
      display: none;

      @include respond-to('tablet') {
        display: inline-block;
        margin-left: 18px;
      }

      @include respond-to('mobile') {
        display: inline-block;
        margin-left: 18px;
      }
    }
  }

  &__banner-bottom {
    display: block;
    width: 100%;
    padding: 30px;

    & .banner {
      height: 90px;
    }

    @media (max-width: 1024px) {
      display: none;
    }

    @include respond-to('tablet') {
      display: none;
    }

    @include respond-to('mobile') {
      display: none;
    }
  }

  &__inset-banner {
    height: 90px;
  }

  &__submenu.submenu {
    background-color: $color-dark-blue;
    border-bottom-color: $color-purple;
    justify-content: space-around;

    @include respond-to('laptop') {
      display: none;
    }

    span {
      color: $color-white;
    }
  }

  &__scrollable-wrapper {
    background-color: #16123a;
  }

  &__slider {
    //padding: 95px 30px 130px;

    @include respond-to('tablet') {
      background-color: $color-white;
    }

    @include respond-to('mobile') {
      background-color: $color-white;
    }
  }

  &__slide-inner {
    width: 390px;
    text-align: center;
  }

  &__category {
    font-family: $NerisLight;
    color: $color-light-gray;
    font-size: 13px;
    line-height: 26px;
  }

  &__name {
    font-family: $NerisBlack;
    color: $color-white;
    font-size: 20px;
    line-height: 26px;
  }

  &__slide {
    position: relative;
    white-space: initial;
    margin-right: 30px;
    padding: 30px;

    @media (max-width: 1024px) {
      margin: 0;
      padding: 0;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  &__date {
    position: absolute;
    top: -30px;
    left: 0;
    color: $color-white;
    font-size: 107px;
    font-family: $NerisBlack;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0 10px 27px rgba(0, 0, 0, .7);

    span {
      font-size: 24px;
      font-family: $NerisLight;
      display: block;
    }
  }

  &__submenu-wrapper {
    background-color: #16123a;
    border-bottom: 1px solid #393557;

    @media (max-width: 1024px) {
      border-bottom: 0;
    }

    &.fixed {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      z-index: 999;
    }

    @media (max-width: 1024px) {
      background-color: $color-white;
      padding: 0 15px;
    }

    @include respond-to('tablet') {
      background-color: $color-white;
    }

    @include respond-to('mobile') {
      background-color: $color-white;
    }
  }

  .events__wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 120px;
    margin-top: 95px;

    @media (max-width: 1024px) {
      flex-direction: column;
      margin: 0 15px;
    }
  }

  &__scrollable-wrapper {

    .button {
      display: none;
    }

    @media (max-width: 1024px) {

      .button {
        display: block;
        width: 290px;
        height: 40px;
        margin: 25px auto 40px;
      }

      .event-item {
        margin: 10px 0 0;
        min-height: 218px;

        &:first-child {
          margin: 0;
        }
      }

      .event-item-box {
        @media (max-width: 1024px) {
          width: 100%;
        }

        .event-item-box__link {
          @media (max-width: 1024px) {
            width: 100%;
          }
        }
      }
    }

    .events__banner-bottom {
      padding: 0;
      width: 1140px;
      background: #fff;

      @media (max-width: 1024px) {
        display: none;
      }

      @include respond-to('large-desktop') {
        width: 1530px;
      }
    }
  }

  .scrollable__slide_horizontal {
    flex-direction: column;

    .container {
      margin: 0;
      padding: 0;
    }

    @include respond-to('large-desktop') {
      padding-left: 185px;
    }

    @include respond-to('desktop') {
      padding-left: 90px;
    }

    @include respond-to('laptop') {
      padding-left: 15px;
    }
  }

  .scrollable__slide_vertical {
    align-items: flex-end;
  }
}
