.account-sale1, .account-sale2 {

  // .container {
  //   max-width: 1024px;
  // }

  .page-header {
    border-top: 1px solid $color-light-gray;

    @include respond-to('mobile') {
      display: none;
    }
  }

  &__previous {
    display: none;
    color: $color-red;
    border-bottom: 1px solid $color-light-gray;
    align-items: center;
    padding: 15px 0;
    margin-bottom: 19px;
    font-family: $NerisSemiBold;
    cursor: pointer;

    @include respond-to('tablet') {
      display: flex;
    }

    @include respond-to('mobile') {
      display: flex;
    }

    span {
      padding-left: 14px;
      font-size: 16px;
    }
  }

  &__prev {
    width: 24px;
    height: 16px;
    fill: $color-red;
    stroke: $color-red;
  }

  &__grid-container {
    color: $color-black;
    display: flex;

    @include respond-to('laptop') {
      overflow-x: hidden;
    }

    @include respond-to('tablet') {
      overflow-x: hidden;
    }

    @include respond-to('mobile') {
      flex-direction: column;
    }
  }

  &__col-nav {
    padding-right: 15px;
    flex: 0 0 33%;

    @include respond-to('tablet') {
      flex: none;
      padding: 0;
    }

    @include respond-to('mobile') {
      flex: none;
      padding: 0;
    }
  }

  &__col-page {
    padding-left: 13px;
    flex-grow: 1;

    @include respond-to('laptop') {
      max-width: 645px;
    }

    @include respond-to('tablet') {
      padding-right: 15px;
    }

    @include respond-to('mobile') {
      padding-right: 15px;
    }

    .text {

      p {
        color: $color-black;
        line-height: 22px;
        font-size: 16px;
        font-family: $NerisLight;
        padding-right: 90px;
        margin-top: 7px;
        margin-bottom: 23px;
      }

      @include respond-to('tablet') {
        margin: 0 0 29px;

        p {
          padding-right: 0;
        }
      }

      @include respond-to('mobile') {
        margin: 0 0 29px;

        p {
          padding-right: 0;
        }
      }
    }
  }

  &__tarif-group {
    margin-bottom: 24px;
    margin-top: -11px;
  }

  .tarif {
    margin-bottom: 29px;

    @include respond-to('laptop') {
      max-width: 640px;
      display: block;
    }

    &:last-child {
      margin-bottom: 0;

      .tarif__pros {
        margin-right: 47px;
      }

      .tarif__buy__months, .tarif__buy__price {
        transform: translateX(8px);
      }
    }

    &__wrap {
      @include respond-to('laptop') {
        padding-left: 15px;
      }

      @include respond-to('tablet') {
        padding-left: 15px;
      }
    }
  }

  .button {
    width: 165px;
    height: 40px;

    &__icon {
      margin-left: 8px;
    }
  }

  .button-slide {
    margin-bottom: 43px;
    padding: 0 3px 4px 7px;

    @include respond-to('tablet') {
      width: 100%;
    }

    @include respond-to('mobile') {
      width: 100%;
    }
  }

  &__propose-group {
    margin-bottom: 71px;

    .text {
      padding-left: 1px;
    }
  }

  .account-sale__submenu {
    overflow-x: auto;
    border: 1px solid $color-light-gray;
    border-right: none;
    border-left: none;

    @include respond-to('tablet') {
      width: calc(100% + 30px);
      margin-left: -15px;
      padding-left: 15px;
    }

    @include respond-to('mobile') {
      width: calc(100% + 30px);
      margin-left: -15px;
      padding-left: 15px;
    }
  }

  .submenu {
    border: none;
    padding: 0 21px 0 20px;
    white-space: nowrap;

    &__title {
      padding: 19px 0 21px;
    }

    @include respond-to('tablet') {
      font-size: 14px;
      //width: 100vw;
      padding-left: 2px;

      &__title {
        padding: 12px 0 11px;
        font-size: 14px;
      }
    }

    @include respond-to('mobile') {
      font-size: 14px;
      //width: 100vw;
      padding-left: 2px;

      &__item {
        padding-right: 33px;
      }

      &__title {
        padding: 12px 0 11px;
        font-size: 14px;
      }
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid $color-light-gray;

    @include respond-to('tablet') {
      flex-flow: column nowrap;
      padding: 11px 0 0;
    }

    @include respond-to('mobile') {
      flex-flow: column nowrap;
      padding: 11px 0 0;
    }
  }

  .sale-preview-item {
    width: 341px;
    //margin-right: 26px;

    &__text {
      transform: translateY(-4px);
    }

    &__img-wrap {
      margin-right: 15px !important;

      @include respond-to('tablet') {
        width: 130px;
        height: 105px;
      }

      @include respond-to('mobile') {
        width: 130px !important;
        height: 105px !important;
      }
    }

    &__header {
      margin-bottom: 9px;
    }

    &__name, &__price {
      font-size: 16px;
    }

    @include respond-to('tablet') {
      margin: 0 auto 18px;

      &__params {
        display: block;
      }

      &__param::after {
        content: '';
      }
    }

    @include respond-to('mobile') {
      margin: 0 auto 11px;
      width: 290px;

      &__params {
        display: block;
      }

      &__param::after {
        content: '';
      }
    }
  }

  &__propose {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    justify-content: space-around;
    color: $color-dark-blue;
    font-family: $NerisSemiBold;
    margin: 0 -6px 0 -5px;
    padding-top: 1px;

    &__column {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      @include respond-to('tablet') {
        margin-right: 30px;
      }
    }

    &__item {
      display: flex;
      margin-bottom: 22px;
      align-items: center;

      @include respond-to('mobile') {
        margin-bottom: 13px;
      }
    }

    @include respond-to('laptop') {
      justify-content: space-around;
    }

    @include respond-to('tablet') {
      margin: 0;
      justify-content: center;
      width: 100%;
    }

    @include respond-to('mobile') {
      justify-content: space-around;
      margin: 0;
    }
  }

  .hint {
    margin-right: 9px;

    &__content {
      padding-top: 10px;
      right: -6px;
    }
  }
}

.account-sale2 {

  &__previous {
    display: none !important;
  }

  &__tarif-group .text, &__propose-group .text {
    display: none;
  }

  &__tarif-group {
    margin-top: 0;
    margin-bottom: 15px;
  }

  .tarif {
    @include respond-to('laptop') {
      max-width: 630px;
      display: block;
    }

    @include respond-to('tablet') {
      display: none;
    }

    @include respond-to('mobile') {
      display: none;
    }
  }

  .button-slide {
    padding-right: 14px;

    @include respond-to('tablet') {
      width: 100%;
      margin-bottom: 15px;
      font-family: $NerisSemiBold;
      padding-right: 13px;
    }

    @include respond-to('mobile') {
      width: 100%;
      margin-bottom: 15px;
      font-family: $NerisSemiBold;
      padding-right: 13px;
    }
  }
}
