.account-sale1 {

  .page-header {
    border-top: 1px solid $color-light-gray;
  }

  &__grid-container {
    color: $color-black;
    display: flex;

    @include respond-to('tablet') {
      flex-direction: column;
    }

    @include respond-to('mobile') {
      flex-direction: column;
    }
  }

  &__col-nav {
    padding-right: 15px;
    flex: 0 0 33%;

    @include respond-to('tablet') {
      flex: none;
      padding: 0;
    }

    @include respond-to('mobile') {
      flex: none;
      padding: 0;
    }
  }

  &__col-page {
    padding-left: 15px;
    flex-grow: 1;

    @include respond-to('tablet') {
      padding-right: 15px;
    }

    @include respond-to('mobile') {
      padding-right: 15px;
    }

    .text {
      margin: -11px 0 23px;

      p {
        color: $color-black;
        line-height: 22px;
        font-size: 16px;
        font-family: $NerisLight;
        padding-right: 90px;
        margin-top: 7px;
      }
    }
  }

  &__tarif-group {
    margin-bottom: 0;
  }

  .tarif {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 25px;
    }
  }

  .button {
    width: 165px;
    height: 40px;

    &__icon {
      margin-left: 8px;
    }
  }

  .button-slide {
    margin-bottom: 54px;
  }

  &__propose-group {
    margin-bottom: 71px;
  }

  .submenu {
    border-bottom: 1px solid $color-light-gray;
    padding: 0 21px 0 20px;

    &__title {
      padding: 19px 0 21px;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid $color-light-gray;
  }

  .sale-preview-item {
    width: 341px;
    margin-right: 26px;

    &__img-wrap {
      margin-right: 15px !important;
    }

    &__header {
      margin-bottom: 9px;
    }

    &__name, &__price {
      font-size: 16px;
    }
  }

  &__propose {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    justify-content: space-around;
    color: $color-dark-blue;
    font-family: $NerisSemiBold;
    margin: 0 -6px 0 -5px;
    padding-top: 1px;

    &__column {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    &__item {
      display: flex;
      margin-bottom: 22px;
      align-items: center;
    }
  }

  &__icon_question {
    width: 21px;
    height: 21px;
    stroke: $color-gray;
    fill: $color-gray;
    margin-right: 9px;

    &:hover {
      fill: $color-red;
    }
  }
}
