include ../button/button
include ../page-header/page-header
include ../checkbox/checkbox
include ../account-navigation/account-navigation
include ../text-field/text-field
include ../social/social
include ../tarif/tarif
include ../icon/icon
include ../text/text
include ../submenu/submenu
include ../sale-preview-item/sale-preview-item
include ../hint/hint
include ../account-propose-popup/account-propose

mixin account-sale2()
  +b.account-sale2&attributes(attributes)
    +container()
      +page-header('Личный кабинет', ['Главная', 'Личный кабинет'])
      +e.grid-container
        +e.col-nav
          +account-navigation(getData('account-navigation'))
        +e.col-page
          +e('a').previous
            +icon('arrow-prev').__prev
            span Назад
          +e.tarif-group
            +text()
              h3 Тарифы
              p
                | Вы можете бесплатно разместить одно объявление в месяц. Для того, чтобы на сайте было 
                | размещено более одного объявления одновременно, вы можете воспользоваться наиболее
                | выгодным для Вас пакетом услуг:
            +tarif()
          +button()._rounded.button-slide
            span Тарифы
          +e.propose-group
            +text()
                h3.sale-preview-item__header Мои предложения
            +submenu(getData('submenu-account'))
            +e.items
              - for (var i = 0; i < 3; i++)
                +e.item
                  +sale-preview-item(getData('sale-preview-item-extended')[0])._image_left
                  +e.propose
                    +e.propose__column
                      +e.propose__item
                        +hint()
                          +account-propose()
                        span Выделить
                      +e.propose__item
                        +hint()
                          +account-propose()
                        span Сделать VIP
                      +e.propose__item
                        +hint()
                          +account-propose()
                        span Поднять в ТОПе
                    +e.propose__column
                      +e.propose__item
                        +hint()
                          +account-propose()
                        span Быстрая продажа
                      +e.propose__item
                        +hint()
                          +account-propose()
                        span Верификация
                      +e.propose__item
                        +hint()
                          +account-propose()
                        span Завершить
