mixin tabs(activeItem, ...items)
  +b.tabs&attributes(attributes)
    +e.content#tabs
      +e.UL.control
        li
          +division(activeItem).A(href='#tabs-1')._arrow-left._active.__division

        each item in items
        - for (var i = 2; i <= items.length; i++)
          li
            +division(item).A(href=`#tabs-${i}`)._arrow-left.__division