//- +sale-contacts(true) для страницы SALE yacht page-catalog
//- +sale-contacts() для страницы SALE yacht page-sale

include ../list/list
include ../button/button
include ../icon/icon

mixin sale-contacts(catalog)
  .sale-contacts-wrap
    +list()
      +b.sale-contacts
        +icon('close').__icon-close
        +list-item().list__item
          if catalog
            +e.img-wrap
              +e.IMG.img(src="assets/images/canados.png")
            +e.SPAN.about Верфь:
              b Canados (Италия)
            +e.SPAN.about Класс:
              b Закрытые круизные яхты с хардтопом
          else
            +e.img-wrap
              +e.IMG.img(src="assets/images/moreman.png")
            +e.SPAN.about Магазин:
              b Мореман
            +e.SPAN.about Местоположение:
              b Новороссийск
        +list-item().list__item
          if catalog
            +e.SPAN.price Цена по запросу
          else
            +e.SPAN.price 3 000 000 $
        +list-item().list__item
          if catalog
            +e.SPAN.title Контакты продавца
          else
            +e.SPAN.title Контактное лицо
          +e.SPAN.name Михаил Александрович
          +e.SPAN.tel Телефон:
            ul
              li +7 (495) 77-11-700
              li +380 (98) 977 11 11
          +e.SPAN.email E-mail:
            ul
              li sales@katera.com
          +e.A(href="#").site www.canados.com
          +button()._rounded._kind_blue.__msg-btn  Написать сообщение
          +button()._rounded._kind_red._shadow.__call-btn Заказать звонок
