.services {
  margin-bottom: 24px;

  &__items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    @include respond-to('tablet') {
      flex-flow: column wrap;
      margin: 0 15px;
    }

    @include respond-to('mobile') {
      flex-flow: column wrap;
      margin: 0 15px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    flex-basis: 340px;
    text-align: center;
    margin-bottom: 75px;

    @include respond-to('tablet') {
      flex-basis: 160px;
      margin-bottom: 28px;
      text-align: left;
    }

    @include respond-to('mobile') {
      flex-basis: 160px;
      margin-bottom: 28px;
      text-align: left;
    }
  }

  &__icon {
    width: 109px;
    height: 97px;
    margin-bottom: 19px;
    align-self: center;

    @include respond-to('tablet') {
      display: none;
    }

    @include respond-to('mobile') {
      display: none;
    }
  }

  &__title {
    font-family: $NerisBlack;
    font-size: 18px;
    line-height: 24px;
    color: $color-black;
    margin-bottom: 10px;

    @include respond-to('tablet') {
      font-size: 16px;
      margin-bottom: 5px;
      line-height: 20px;
    }

    @include respond-to('mobile') {
      font-size: 16px;
      margin-bottom: 5px;
      line-height: 20px;
    }
  }

  &__text {
    color: #666;
    margin-bottom: 29px;

    @include respond-to('tablet') {
      margin-bottom: 10px;
    }

    @include respond-to('mobile') {
      margin-bottom: 10px;
    }
  }
}
