include ../icon/icon
include ../price-list-dnld/price-list-dnld

mixin services()
  +b.services
    +e.items
      +e.item
        +icon(boat).__icon
        +e.__title Стоянка моторных и парусных яхт у понтонов
        +e.__text Новый современный комплекс, включающий здание бизнес-центра общей площадью 3300 кв. м, ресторан, апарт-отель, зрительские трибуны (4500 кв. м) и пляж. 
        +price-list-dnld('#').__download
      +e.item
        +icon(boat).__icon
        +e.__title Стоянка моторных и парусных яхт у понтонов
        +e.__text Новый современный комплекс, включающий здание бизнес-центра общей площадью 3300 кв. м, ресторан, апарт-отель, зрительские трибуны (4500 кв. м) и пляж. 
        +price-list-dnld('#').__download
      +e.item
        +icon(boat).__icon
        +e.__title Стоянка моторных и парусных яхт у понтонов
        +e.__text Новый современный комплекс, включающий здание бизнес-центра общей площадью 3300 кв. м, ресторан, апарт-отель, зрительские трибуны (4500 кв. м) и пляж. 
        +price-list-dnld('#').__download
      +e.item
        +icon(boat).__icon
        +e.__title Стоянка моторных и парусных яхт у понтонов
        +e.__text Новый современный комплекс, включающий здание бизнес-центра общей площадью 3300 кв. м, ресторан, апарт-отель, зрительские трибуны (4500 кв. м) и пляж. 
        +price-list-dnld('#').__download
      +e.item
        +icon(boat).__icon
        +e.__title Стоянка моторных и парусных яхт у понтонов
        +e.__text Новый современный комплекс, включающий здание бизнес-центра общей площадью 3300 кв. м, ресторан, апарт-отель, зрительские трибуны (4500 кв. м) и пляж. 
        +price-list-dnld('#').__download
      +e.item
        +icon(boat).__icon
        +e.__title Стоянка моторных и парусных яхт у понтонов
        +e.__text Новый современный комплекс, включающий здание бизнес-центра общей площадью 3300 кв. м, ресторан, апарт-отель, зрительские трибуны (4500 кв. м) и пляж. 
        +price-list-dnld('#').__download
