.share {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__title, &__shared {
    display: block;
    font-size: 18px;
    line-height: (24/18)*1em;
    font-family: $NerisBlack;
    color: $color-black;
  }

  &__title {
    margin-right: 21px;
  }

  &__buttons {
    margin-right: 8px;

    & > * {
      width: 232px;
    }
  }

  &__shared {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #d8dcde;
    border: 1px solid #d8dcde;
    border-radius: 50%;

    & span {
      font-size: 14px;
      text-align: center;
      display: block;
    }
  }
}
