.share {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @include respond-to('mobile') {
    flex-direction: column;
    align-items: flex-start;
  }

  &__title, &__shared {
    display: block;
    font-size: 18px;
    line-height: (24/18)*1em;
    font-family: $NerisBlack;
    color: $color-black;
  }

  &__share-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include respond-to('mobile') {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }

  &__title {
    margin-right: 21px;

    @include respond-to('mobile') {
      margin-right: 0;
      margin-bottom: 10px;
      font-size: 14px;
      width: 100%;
      text-align: center;
    }
  }

  &__buttons {
    margin-right: 10px;

    & > ul {
      width: 190px;
    }
  }

  &__shared {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #d8dcde;
    border: 1px solid #d8dcde;
    border-radius: 50%;

    & span {
      font-size: 14px;
      text-align: center;
      display: block;
    }

    &_small {
      width: 32px;
      height: 32px;
    }
  }

  &_bigger-title {

    .share__title {
      font-family: $NerisLight;
      font-size: rem(24px);
      font-weight: 400;
      margin-right: 8px;

      @include respond-to('mobile') {
        font-size: rem(20px);
        margin-right: 0;
      }
    }
  }
}
