mixin share()
  +b('div').share&attributes(attributes)
    +e('b').title Поделиться:
    +e('div').buttons
      +social('vk', 'go', 'fb', 'odnokl', 'tw')._join
    +e('div').shared
      +e('span') 1k
