include ../icon/icon
//- Аргументы
//- data - объект
//- data.name - имя чекбокса
//- data.value - значение чекбокса

mixin counter(data)
  +b.counter.js-counter&attributes(attributes)
    - var params = data || {}
    - var name = params.name || ''
    - var value = params.value || '0'

    +e.btn._kind_minus
      +icon('minus').icon._kind_minus

    +e('input')(type='text' name=name value=value readonly).control

    +e.btn._kind_plus
      +icon('plus').icon._kind_plus

