.catalog-filter {
  background-color: $color-white;
  display: flex;
  justify-content: space-between;
  padding: 25px 0 30px;
  width: 100%;

  @include respond-to('laptop') {
    flex-direction: column;
    padding: 0;
    justify-content: space-between;
    min-height: 94px;
    align-items: center;
    margin: 20px 0;
  }

  @media (max-width: 320px) {
    flex-direction: column;
    padding: 0;
    margin-bottom: 9px;
    margin-top: 9px;
  }

  &__item {
    width: 270px;
    height: 40px;

    @include respond-to('laptop') {
      width: 100%;
      padding: 0 15px;
    }

    @media (max-width: 320px) {
      width: 100%;
      margin-bottom: 13px;
    }
  }
}
