include ../select/select

mixin catalog-filter()
  +b.catalog-filter&attributes(attributes)

    - var filterData = getData('filter')
      +e.item._type
        +select(filterData.yachtType.name, filterData.yachtType.options)
      +e.item._origin
        +select(filterData.origin.name, filterData.origin.options)
