.banner {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: block;

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
    opacity: .15;
    z-index: 1;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(#fff, .5);
  }
}
