.yacht-preview-widget {
  max-width: 263px;

  &_has_btn {
    padding-bottom: 20px;

    .yacht-preview-widget__products {
      padding-bottom: 40px;
    }
  }

  &__products {
    display: flex;
    flex-direction: column;
    padding: 0 26px 10px;
  }

  &__product {
    margin: 10px 0;
  }

  &__button {
    width: 165px;
    height: 40px;
    bottom: -20px;
    left: -15px;
    position: absolute;
    z-index: 1;

    @include respond-to('laptop') {
      left: 49px;
    }

    @include respond-to('tablet') {
      left: 49px;
    }

    &_right {
      left: initial;
      right: -15px;
    }
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
