//- Блок
include ../small-article-preview/small-article-preview
include ../division/division
include ../product-preview/product-preview

mixin yacht-preview-widget(title, data)
  +b.yacht-preview-widget
    +small-article-preview
      +division(title)._active._arrow-left
      +e.__products
        each obj in data
          +product-preview(obj).__product
      +e.__button
        +button(true)(href="#")._rounded._kind_red Смотреть все
