//- Блок разворачивает массив обьектов с превью товаров
//- +yacht-preview-widget("Яхты в продаже", getData('yacht-preview')) - пример

include ../small-article-preview/small-article-preview
include ../division/division
include ../product-preview/product-preview
include ../icon/icon

mixin yacht-preview-widget(title, data, alignRight, hasNoButton)
  - var divisionModifier = alignRight ? '_arrow-right' : '_arrow-left';
  - var btnModifier = alignRight ? '__button_right' : '__button';
  - var hasBtnModifier = !hasNoButton ? '_has_btn' : '';

  +b.yacht-preview-widget(class=hasBtnModifier)&attributes(attributes)
    +small-article-preview
      +division(title)(class=divisionModifier)._active
      +e.__products
        each obj in data
          +product-preview(obj).__product
      unless hasNoButton
        +e(class=btnModifier)
          +button(true)(href="#")._rounded._shadow._kind_red
            | Смотреть все
            +icon('caret').icon._kind_caret._right
