mixin account-propose()
  +b.account-propose
    +e.info
      | Отличная возможность выделить свое предложение среди других.
      | В результате поиска ваше объявление будет привлекать больше
      | внимания, что позволит увеличить скорость продажи в разы
    +button()._rounded._kind_red.account-propose__button Подключить 780 Р
    +e.days Услуга действует 30 дней
