include ../container/container
include ../burger/burger
include ../logo/logo
include ../navbar/navbar
include ../button/button
include ../login-btn/login-btn
include ../burger-dropdown/burger-dropdown

mixin header()
  +b('header').header&attributes(attributes)
    +container()
      +e.banner
        //- block banner
    +e.container
      +container()
        +e.content
          +burger().__burger
          +logo().__logo
          +e('nav').navbar
            +navbar(getData('navbar'))
          +login-btn().__login
          +button(true)(href='#')._kind_red.__proposal-btn Создать предложение
          //+e.search
          //  //- search
    +burger-dropdown().__burger-dropdown
