include ../container/container
include ../burger/burger
include ../logo/logo
include ../navbar/navbar
include ../button/button
include ../login-btn/login-btn
include ../burger-dropdown/burger-dropdown
include ../search-bar/search-bar

mixin header()
  //- Переменная page объявлена в app/pages/index.pug,
  //- На главной странцие, в мобильной версии, header должен находится под брендингом
  - var headerModifier = page === 'index' ? 'header_index' : ''
  +b('header')(class=headerModifier).header&attributes(attributes)
    +container()
      +e.banner
        +banner('#', 'assets/images/banner.jpg')._overlay
          +e('img')(src='assets/images/banner-img.png').little
    +e.container
      +container()
        +e.content
          +e.column._left
            +burger().__burger
            +logo().__logo
          +e.column._right
            +e('nav').navbar
              +navbar(getData('navbar'))
            +login-btn().__login
            +button(true)(href='#')._kind_red.__proposal-btn Создать предложение
            +search-bar().__search-bar
    +burger-dropdown().__burger-dropdown
