.header {
  display: block;
  height: 175px;

  @include respond-to('mobile');
  @include respond-to('tablet');

  @include respond-to('laptop') {
    height: 35px;
  }

  &__banner {
    display: block;
    margin: 9px 0;
    width: 100%;
    height: 90px;
    background-color: #333;

    @include respond-to('mobile');
    @include respond-to('tablet');

    @include respond-to('laptop') {
      display: none;
    }
  }

  &__container {
    display: block;
    border-top: 1px solid $color-gray;
  }

  &__content {
    display: flex;
    align-items: center;
    height: 65px;

    @include respond-to('mobile');
    @include respond-to('tablet');

    @include respond-to('laptop') {
      height: 100%;
    }
  }

  &__column {
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;

    &_right {
      flex: 1;
      margin-left: 30px;
      @include respond-to('mobile') {
        margin-left: 0;
      }
    }
  }

  &__burger {
    width: 32px;
    height: 25px;

    @include respond-to('mobile');
    @include respond-to('tablet');

    @include respond-to('laptop') {
      width: 26px;
      height: 19px;
    }
  }

  &__logo {
    display: block;
    margin-left: 29px;
    width: 120px;
    height: 24px;

    @include respond-to('mobile');
    @include respond-to('tablet');

    @include respond-to('laptop') {
      margin-left: 15px;
      width: 76px;
      height: 15px;
    }
  }

  &__navbar {
    display: block;
    margin: 0 auto;

    @include respond-to('mobile');
    @include respond-to('tablet');

    @include respond-to('laptop') {
      display: none;
    }
  }

  &__login {
    display: block;

    @include respond-to('mobile');
    @include respond-to('tablet');

    @include respond-to('laptop') {
      display: none;
    }
  }

  &__proposal-btn {
    margin-left: 19px;
    width: 165px;
    height: 35px;

    @include respond-to('mobile') {
      font-size: 12px;
      width: 137px;
    }
  }

  &__search-bar {
    margin-left: 19px;

    @include respond-to('mobile');
    @include respond-to('tablet');

    @include respond-to('laptop') {
      display: none;
    }
  }

  .search-bar_active {
    margin: 0;
    background-color: $color-white;
  }

  &__burger-dropdown {
    position: absolute;
    top: 175px;
    left: 0;
    width: 100%;
    height: calc(100vh - 175px);

    @include respond-to('mobile');
    @include respond-to('tablet');

    @include respond-to('laptop') {
      top: 35px;
      min-height: calc(100% - 35px);
    }
  }
}
