include ../division/division

//- ГЕНЕРИРУЕТ РАЗМЕТКУ ДЛЯ ФИЛЬТРА (ВСЯ ЛОГИКА И ВЫВОД ИНФОРМАЦИИ В JS ФАЙЛЕ)
//- КОЛ-ВО ЗАГОЛОВКОВ (+e.heading-box) ВСЕГДА НА 1 МЕНЬШЕ, ЧЕМ .category-box

mixin filter-category(count)
  +b.filter-category&attributes(attributes)
    +e.headings
      - for (var i = 0; i < count-1; i++)
        +e.heading-box
          +e.heading
          +e.selected
    +e.wrapper
      - for (var i = 0; i < count; i++)
        +e.category-box
