include ../page-header/page-header
include ../container/container
include ../main-container/main-container

mixin account_shop-2-page()
  +b.account_shop-2-page
    +container()
      +page-header('Личный кабинет', ['Главная', 'Личный кабинет'])
      +main-container()
        h2 SHOP!!!
