.page-header {
  background-color: rgba(255, 255, 255, .851);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 18px 0 22px;

  @include respond-to('tablet') {
    padding: 10px 0 6px;
    background-color: $color-white;
  }

  @include respond-to('mobile') {
    padding: 10px 0 6px;
    background-color: $color-white;
  }

  &__title {
    padding: 8px 0;
    font-family: $RobotoSlab;
    font-size: 48px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    text-align: center;
    margin-bottom: 11px;

    @include respond-to('tablet') {
      font-size: 22px;
    }

    @include respond-to('mobile') {
      font-size: 22px;
    }
  }
}
