.tag-content {
  position: absolute;
  top: 13px;
  right: 0;
  z-index: 1;

  @include respond-to('mobile') {
    display: flex;
    flex-wrap: wrap;
    top: auto;
    right: auto;
    left: 0;
    bottom: 0;
  }

  &__text {
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
    padding: 0 9px 2px;
    min-width: 100px;
    display: block;
    color: #fff;
    text-decoration: none;
    background-color: #000;

    @include respond-to('mobile') {
      margin-right: 5px;
      font-size: 12px;
    }

    &_color_blue {
      background-color: #2635fa;
    }

    &_color_dark-blue {
      background-color: #1c2384;
    }

    &_color_light-blue {
      background-color: #17c2c0;
    }

    &_color_red {
      background-color: #d74040;
    }

    &_color_light-amber {
      background-color: #d4bf74;
    }
  }

  &__text + &__text {
    margin-top: 10px;

    @include respond-to('mobile') {
      margin-top: 0;
      font-size: 12px;
    }
  }
}
