mixin main-slider()
  +b.main-slider.swiper-container
    +e.swiper-pagination
    +e.wrapper.swiper-wrapper
      +e.slide.swiper-slide
        +e.overlay
          +e.slide-text Sunseeker 62 Predator, 2008
            +e('span').price 980 000 €
        +e('img').img(src='assets/images/yacht.jpg')
      +e.slide.swiper-slide
        +e.overlay
          +e.slide-text Sunseeker 62 Predator, 2008
            +e('span').price 980 000 €
        +e('img').img(src='assets/images/yacht.jpg')
