mixin main-slider()
  +b.main-slider
    +e.slide
      +e.overlay
        +e.slide-text Sunseeker 62 Predator, 2008 980 000 €
      +e('img').img(src='assets/images/yacht.jpg')
    +e.slide
      +e.overlay
        +e.slide-text Sunseeker 62 Predator, 2008 980 000 €
      +e('img').img(src='assets/images/yacht.jpg')
