include ../container/container
include ../main-container/main-container
include ../filter/filter
include ../catalog-verphe/catalog-verphe
include ../sale-preview-item/sale-preview-item

mixin catalog-verphe-page()
  +b('div').catalog-verphe-page
    +container()
      +main-container()
        +e('div').wrapper
          +e('div').catalog
            +e('div').yacht-filter Подключить фильтр яхт!
            +catalog-verphe(getData('catalog-verphe'))
          +e('div').sale-preview
            +sale-preview-item(getData('sale-preview-item'))
