.catalog-verphe-page {

  .page-header {

    &__title {
      @media (max-width: 320px) {
        margin-bottom: 0;
      }
    }
  }

  &__wrapper {
    box-sizing: border-box;
    display: flex;
    padding-left: 2.2%;
    align-items: flex-start;
    align-content: flex-start;
    margin-bottom: 30px;

    @media (max-width: 768px) {
      flex-flow: column nowrap;
      padding: 0 2.2%;
    }

    @media (max-width: 320px) {
      padding: 0 15px;
    }
  }

  &__catalog {
    width: 65%;
    margin-right: 2.8%;

    @media (max-width: 768px) {
      width: 100%;
      margin-right: 0;
    }
  }

  &__alphabet {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    padding-bottom: 18px;
    border-bottom: 1px solid rgba($color-gray, .15);
    margin: 0;

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__letter {
    flex-basis: 11.1%;
    list-style: none;
    margin-bottom: 5px;

    &_active {

      .catalog-verphe-page__letter-link {
        color: $color-gray;
      }
    }
  }

  &__letter-link {
    font-family: $NerisBlack;
    font-weight: 900;
    font-size: 16px;
    text-decoration: none;
    color: $color-red;
  }

  &__sale-preview {
    width: 32.2%;
    display: flex;
    flex-flow: column nowrap;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__banner {
    height: 161px;
    margin-bottom: 29px;

    @media (max-width: 768px) {
      height: 130px;
      margin-bottom: 17px;
    }

    &:not(:first-child) {
      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  &__preview {
    width: 100%;

    &_big {
      margin-bottom: 24px;

      & .sale-preview-item__img-wrap {
        height: 417px;
        opacity: 1;
        transition: all .25s ease-in-out;

        @media (max-width: 768px) {
          height: 208px;
        }
      }
    }

    &_group {
      display: flex;
      flex-flow: row nowrap;
      margin-bottom: 22px;
      justify-content: space-between;

      &:last-child {
        margin-bottom: 0;
      }

      @media (max-width: 768px) {
        display: none;
      }
    }

    &_col {
      display: flex;
      flex-flow: column nowrap;
      width: 46%;
    }

    &_small {
      margin-bottom: 22px;

      & .sale-preview-item__img-wrap {
        height: 134px;
        //opacity: 1;
        //transition: all .25s ease-in-out;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  .sale-preview-item {

    &__text {
      width: 100%;
    }

    &__name, &__price {
      @media (max-width: 1169px) {
        font-size: 14px;
      }
    }
  }
}
