.up-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 100;
  display: none;
  width: 50px;
  height: 50px;
  border: 1px solid $color-white;
  background-color: rgba($color-white, .35);
  box-shadow: 0 0 35px 0 rgba(9, 4, 53, .3);
  cursor: pointer;
  will-change: background-color;
  transition: background-color .25s ease-in-out;
  border-radius: 50%;

  &:hover {
    background-color: rgba($color-white, .5);
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &_dark .up-btn__caret {
    stroke: $color-dark-blue;
  }

  &__caret {
    width: 25px;
    height: 13px;
    transform: rotate(180deg);
    stroke: $color-white;
  }
}
