include ../../node_modules/bemto.pug/bemto
include ../blocks/header/header
include ../blocks/footer/footer
include ../blocks/up-btn/up-btn

doctype html
html(lang='ru')
  include head
  body
    block contentVariables
    +header()
    block content
    +up-btn()
    +footer()
