include ../icon/icon
//- Аргументы
//- data - объект
//- data.name - имя чекбокса
//- data.value - значение чекбокса
//- data.checked - состояние checked чекбокса
//- Размеры чекбокса фиксированные, если будет необходимость менять размеры, нужно добавлять модификаторы
//- _sm, _big и.т.д
mixin radio(data)
  +b('label').radio&attributes(attributes)
    - var params = data || {}
    - var name = params.name || ''
    - var value = params.value || ''
    - var checked = params.checked || false

    +e('input')(type='radio' name=name value=value checked=checked).control
    +e.box
