.radio {
  display: block;
  cursor: pointer;

  &__control {
    display: none;

    &:checked + .radio__box {
      border-color: transparent;
      background-color: $color-red;

      &::after {
        opacity: 1;
      }
    }
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 2px solid $color-dark-blue;
    will-change: border-color, background-color;
    transition: border-color .25s ease-in-out, background-color .25s ease-in-out;
    border-radius: 50%;
    background-color: transparent;

    &::after {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      border: 2px solid $color-white;
      background-color: transparent;
      border-radius: 50%;
      opacity: 0;
      will-change: opacity;
      transition: opacity .25s ease-in-out;
    }
  }
}
