include ../modal/modal
include ../image-bg/image-bg
include ../icon/icon

mixin gallery-slider-popup(images)
  +modal()#gallery-slider-popup._darken._empty
    +b.gallery-slider-popup
      +e.container.swiper-container
        +e.wrapper.swiper-wrapper
          each img in images
            +e.image.swiper-slide
              +image-bg()(src=img)

      +icon('caret').btn._prev
      +icon('caret').btn._next
