include ../icon/icon

mixin search-bar()
  +b.search-bar.js-search-bar&attributes(attributes)
    +e.box
      +icon('magnifier').magnifier
      +e('input')(type='search' name='search' placeholder='Поиск по сайту').field
    +e.button.js-search-bar__button
      +icon('magnifier').magnifier._color_red
      +icon('close').close
