//- mark   --- Текст для "Отметка" пример: +comments-mark('Нравится', '')
//- answer --- Текст для ввода даты пример: +comments-mark('', '1 декабря 2016г.')
//-time    --- Время  пример: +comments-mark('4:36')

mixin comments-mark(obj)
  +b.comments-mark&attributes(attributes)
    +e('a')(href='#').text Отметка
      +e('span').icon_quotes=  obj.text
    +e('a')(href='#').text_dot Ответить
    +e('span').icon_color=  obj.date
    +e('span').icon_time=  obj.time
