.tag-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  @include respond-to('mobile') {
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    display: block;
    font-size: 16px;
    line-height: (45/16)*1em;
    font-family: $NerisBlack;
    color: $color-black;
    margin-right: 20px;

    @include respond-to('mobile') {
      font-size: 14px;
      width: 100%;
      margin: 0;
      text-align: center;
    }
  }

  &__tags {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;

    @include respond-to('mobile') {
      font-size: 14px;
      //min-width: 480px;
      margin: 0 auto;
      flex-direction: column;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__tag {
    display: block;
    margin-right: 17px;
    padding: 0;
    border: 1px solid #e5e5e5;
    border-radius: 50px;

    @include respond-to('mobile') {
      margin: 0 0 20px;
    }
  }

  &__tag a {
    display: block;
    padding: 6px 23px;
    font-size: $base-font-size;
    line-height: em(24px);
    color: $color-dark-blue;
    text-decoration: none;

    @include respond-to('tablet') {
      font-size: 14px;
    }

    @include respond-to('mobile') {
      font-size: 14px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
