//- Список всех тегов
//-   "Новинки",
//-   "Новости",
//-   "Яхтинг в России",
//-   "Море",
//-   "Путешествия",
//-   "Активный отдых",
//-   "Рыбалка",
//-   "Юмор"

//- Аргумент - строка video - название видео
//- Аргумент - объект tag-list - список тегов
mixin tag-list(video, tags)
  +b('div').tag-list&attributes(attributes)
    +e('b').title Теги:
    +e('ul').tags
      each tag in tags[`${video}`]
        +e('li').tag
          +e('a')(href='#')= tag
