include ../image-bg/image-bg

mixin sale-preview-item(obj)
  +b.A(href=obj.path).sale-preview-item&attributes(attributes)
    +e.__img-wrap
      +image-bg()(src=obj.img)
    +b.sale-preview-text
      +e.info= obj.info
      +e.name= obj.name
      +e.price= obj.price
