include ../image-bg/image-bg

mixin sale-preview-item(obj)
  +b.A(href=obj.path).sale-preview-item&attributes(attributes)
    +e.__img-wrap
      +image-bg()(src=obj.img)
    +e.text
      +e.info= obj.info
      +e.name= obj.name
      +e.price= obj.price

    if (obj.params)
      +e('ul').params
        each param in obj.params
          +e('li').param= `${param.name}: ${param.value}`
