.text {

  div {
    display: flex;
    margin: 15px 0;

    p {
      margin: 0;
    }
  }

  &__size {
    display: block;
    margin-right: 36px;
    float: left;
    color: $color-black;

    &_big {
      font-family: $RobotoSlab;
      font-size: rem(115px);
      line-height: .8;
    }

    &_medium {
      max-width: 262px;
      font-family: $NerisBlack;
      font-size: rem(24px);
      line-height: 1.4;
    }
  }

  h1, h2, h3, h4, h5, h6, p {
    font-family: $NerisBlack;
    font-weight: 400;
    margin: 0;
    color: $color-black;
  }

  h1 {
    font-family: $RobotoSlab;
    font-size: rem(48px);
  }

  h2 {
    font-family: $NerisSemiBold;
    font-size: rem(38px);
    color: $color-dark-blue;
  }

  h3 {
    font-family: $NerisLight;
    font-size: rem(24px);
  }

  h4 {
    font-size: rem(20px);
  }

  h5 {
    font-size: rem(18px);
  }

  h6 {
    font-size: rem(16px);
  }

  p {
    margin: 15px 0;
    color: $color-dark-gray;
    font-family: $OpenSans;
    font-size: rem(14px);
    line-height: 26px;
  }
}
