.text {

  h1, h2, h3, h4, h5, h6, p {
    font-family: $NerisBlack;
    font-weight: 400;
    margin: 0;
    color: $color-black;
  }

  h1 {
    font-family: $RobotoSlab;
    font-size: rem(48px);
  }

  h2 {
    font-family: $NerisSemiBold;
    font-size: rem(38px);
    color: $color-dark-blue;
  }

  h3 {
    font-family: $NerisLight;
    font-size: rem(24px);
  }

  h4 {
    font-size: rem(20px);
  }

  h5 {
    font-size: rem(18px);
  }

  h6 {
    font-size: rem(16px);
  }

  p {
    color: $color-dark-gray;
    font-family: $OpenSans;
    font-size: rem(14px);
    line-height: 22px;
  }
}
