include ../button/button
include ../division/division
include ../select/select
include ../slider-range/slider-range
include ../text-field/text-field
include ../select-currency/select-currency

mixin filter-model()
  +b('form').filter-model&attributes(attributes)

    - var filterData = getData('filter')
    +e.items
      +e.item._vendor
        +select(filterData.shipyard.name, filterData.shipyard.options, false, 'Тип яхты')
      +e.item._range
        +e.item-info
          +e.item-label Длина
          +e.item-text-block
            +e.item-text.js-filter-model-length-min
            +e.item-text.js-filter-model-length-max
        +slider-range().js-filter-model-slider-range
      +e.item._price
        +e('span').price__text Цена
        +e.input
          +text-field(filterData.priceFrom)
        +e('span').price__text &#8212
        +e.input
          +text-field(filterData.priceTo)
        +e.currency
          +select-currency()
      +e.item._search
        +button()._kind_red.__button Найти
        +e('a')(href='#').link Расширенный фильтр
