.text-field {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: $color-white;
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  font-family: $NerisLight;
  font-weight: 300;

  &_disabled {
    pointer-events: none;
    background-color: #fbfbfb;

    * {
      pointer-events: none !important;
    }
  }

  &_error_left {

    .text-field {

      &__error {
        left: 0;
        right: initial;

        &::before {
          right: initial;
          left: 12px;
        }
      }

      &__error-icon-wrapper {
        left: 12px;
        right: initial;
      }

      &__placeholder, &__control {
        padding-left: 45px;
      }
    }
  }

  &_dashed {
    border: 2px dashed #e5e5e5;
  }

  &_placeholder_right {

    .text-field__placeholder {
      font-family: $NerisLight;
      font-weight: 300;
      font-style: italic;
      margin-left: auto;
      color: #666;
      font-size: rem(13px);
    }
  }

  &_has_error {
    border-color: $color-red;

    .text-field {

      &__error-icon-wrapper {
        display: flex;
      }

      &__control {
        color: $color-red;

        &:focus {
          box-shadow: 0 1px 7px 0 rgba($color-red, .5);
        }
      }

      &__eye-icon {
        display: none;
      }
    }

    &:hover {

      .text-field__error {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &_required .text-field__placeholder::after {
    content: '*';
    color: $color-red;
  }

  &__control {
    all: initial;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    padding: 0 12px;
    width: 100%;
    height: 100%;
    font-family: $NerisLight;
    font-weight: 300;
    font-size: rem(14px);
    color: $color-black;
    box-sizing: border-box;
    pointer-events: all;

    &:focus {
      box-shadow: 0 1px 7px 0 rgba($color-black, .16);
    }

    &:not([value='']) {
      display: block;

      & + .text-field__placeholder {
        display: none;
      }
    }
  }

  &__placeholder {
    display: block;
    padding: 0 12px;
    opacity: 1;
    font-family: $NerisLight;
    font-weight: 300;
    font-size: rem(14px);
    color: $color-dark-gray;
    white-space: nowrap;
    pointer-events: none;
  }

  &__eye-icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 24px;
    height: 13px;
    fill: #ccc;
    will-change: fill;
    transition: fill .25s ease-in-out;
    margin-right: 15px;

    &_active {
      fill: #000;
    }
  }

  &__error-icon {
    display: block;
    width: 3px;
    height: 13px;
    fill: $color-white;

    &-wrapper {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      display: none;
      justify-content: center;
      align-items: center;
      margin-right: 15px;
      width: 21px;
      height: 21px;
      border-radius: 50%;
      background-color: $color-red;
    }
  }

  &__error {
    position: absolute;
    top: 100%;
    right: 0;
    display: block;
    width: 280px;
    padding: 25px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    background-color: #fff;
    visibility: hidden;
    z-index: 800;
    transform: translateY(10px);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .15);
    opacity: 0;
    transition: opacity .25s ease-in-out;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 12px;
      transform: translateY(-100%);
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 9px 7px;
      border-color: transparent transparent $color-white transparent;
    }
  }
}
