include ../icon/icon

//- Аргументы
//- data Объект (поля, type, name, value)
//- Модификаторы
//- ._has_error - Добавляет ошибку
//- ._required - Добавляет красную звездочку placeholder'у
//- ._disabled - убирает все события с элемента и красит его в серый цвет

mixin text-field(data)
  +b.text-field&attributes(attributes)
    +e('input')(type=data.type || 'text' name=data.name value=data.value || '' readonly=data.readonly ? true : false).control
    +e('span').placeholder
      = data.placeholder
    +e.error-icon-wrapper
      +icon('exclamation-point').error-icon

    +e.error

    if data.type === 'password'
      +icon('eye').eye-icon
