.buy-magazine-form {
  display: block;

  &__fieldset {
    all: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 40px;
    padding-top: 55px;
    border-top: 1px solid #e5e5e5;
  }

  &__row {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;

    &_half {
      width: calc(50% - 15px);

      @include respond-to('mobile') {
        width: 100%;
      }
    }

    &_inverse {

      .buy-magazine-form {

        &__label {
          margin-right: 0;
          margin-left: 10px;
          order: 2;
          flex: 1;
        }

        &__field {
          flex: initial;
          width: 100px;
          order: 1;
        }
      }
    }

    &_reset {

      .buy-magazine-form {

        &__field {
          width: auto;
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__label {
    display: block;
    width: 100px;
    margin-right: 10px;
    order: 1;
  }

  &__field {
    display: block;
    flex: 1;
    order: 2;
  }

  &__text-field {
    height: 40px;
  }

  &__button {
    margin: 0 auto;
    width: 165px;
    height: 40px;
  }
}
