include ../page-header/page-header
include ../container/container
include ../main-container/main-container
include ../banner/banner
include ../button/button
include ../text/text
include ../verphe-contacts/verphe-contacts
include ../timeline/timeline
include ../models/models
include ../image-bg/image-bg

mixin verphe()
  +b.verphe
    +container()
      +page-header('Azimut Yachts', ['Главная', 'Каталог верфей', 'Azimut Yachts'])
      +banner()
      +main-container().main-container_shadow.verphe__main-container
        +e.box-bg
          +image-bg()(src='assets/images/verphe.jpg')
        +e.content
          +e.list
            +text().__text
              p
                | Azimut-Benetti — легендарное имя в судостроении, это компания,
                | которая по праву занимает первое место в мире по строительству
                | эксклюзивных моторных яхт длиной от 12 метров. Кроме того,
                | Azimut-Benetti — компания с самым крупным объемом инвестиций в этой области.
                
              p
                | Azimut-Benetti Group специализируется на яхтах длиной от 12 до 72 метров,
                | океанских круизерах Benetti. Каждая яхта, вышедшая под маркой Azimut-Benetti, —
                | настоящее произведение искусства, над которым работали итальянские виртуозы
                | кораблестроения, дизайнеры и архитекторы. Все судна оснащены по последнему слову техники.
              
              p            
                | Каждая яхта этой верфи нечто большее, чем просто яхта. Например, Azimut 105
                | выходит за пределы понятия «средство передвижения», она больше похожа на плавучий дом,
                | этот эффект достигается благодаря многоуровневым лестницам на ней. Даже мастер-каюта
                | двухуровневая: спальня находится на главной палубе, а санузел на нижней. Но главный сюрприз —
                | это рубка. На суперсовременной яхте вахту приходится нести стоя! Здесь просто не предусмотрено
                | кресло для капитана. Как говорят создатели яхты, раз судно серьезное, то и управлять им нужно всерьез.
                
              p
                | Секрет успеха компании — в её основателе. Паоло Вителли создал компанию в 1969 году и
                | превратил её в судостроительную империю. Вначале он хотел создать обычную фрахтовую компанию,
                | но затем увлекся строительством яхт, вплоть до того, что стал лидером в строительстве прогулочных
                | кораблей длиной от 24 метров, 70-метровых мегаяхт и владельцем верфей в разных частях мира.
                | Сейчас, например, он участвует в строительстве яхт-клуба в Москве. 
        +button()._rounded._kind_red.__show-more Показать еще
        +e.contacts Контакты верфи
        +e.sidebar
          +e.list
            +e.item
              +verphe-contacts()
        +e.H2.title История верфи
        +timeline().__timeline
        +e.H2.title Модельный ряд
        +models('Крейсерские яхты со средиземноморским кокпитом', getData('sale-preview-item-extended'))._verphe._cruiser
        +models('Спортивные швертботы', getData('sale-preview-item-short'))._verphe._sport
        +button(true)(href='#')._rounded._shadow._kind_red.__button Каталог верфей
