.verphe {

  @media (max-width: 1024px) {
    background-color: $color-white;

    .main-container_shadow {
      box-shadow: none;
    }
  }

  @include respond-to('mobile') {

    .page-header__title {
      margin-bottom: 0;
      padding-bottom: 7px;
    }
  }

  &__main-container {
    display: flex !important;
    flex-flow: row wrap;
    margin-bottom: 162px;

    @media (max-width: 1024px) {
      margin-bottom: 0;
    }

    @media (max-width: 991px) {
      flex-direction: column;
    }
  }

  &__box-bg {
    position: relative;
    height: 400px;
    width: 100%;
    display: block;

    @include respond-to('large-desktop') {
      height: 540px;
    }

    .image-bg {
      height: 100%;
      z-index: 1;
    }

    @include respond-to('tablet') {
      height: 200px;
    }

    @include respond-to('mobile') {
      height: 200px;
    }
  }

  &__text {
    display: block;
    padding-left: 25px;
    position: relative;

    @include respond-to('tablet') {
      //padding-right: 25px;
      padding: 0;
      width: 100%;
      margin: 0 auto;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 116px;
        background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .56) 30%, #fff 100%);
        z-index: 5;
      }
    }

    @include respond-to('mobile') {
      //padding-right: 25px;
      padding: 0;
      width: 100%;
      margin: 0 auto;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 116px;
        background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .56) 30%, #fff 100%);
        z-index: 5;
      }
    }

    p {
      font-family: $NerisSemiBold;
      font-weight: 600;
      line-height: 20px;
      font-size: 14px;
      margin: 20px 0 0;

      &:last-child {
        margin-top: 0;
      }

      @include respond-to('mobile') {

        &:first-child {
          margin-top: 15px;
        }

        &:nth-child(n+3) {
          display: none;
        }
      }
    }
  }

  &__content {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

    @include respond-to('tablet') {
      order: 1;
      flex-direction: column;
      margin-top: 7px;
    }

    @media (max-width: 768px) {
      max-width: 768px;
      align-items: center;

      .verphe__text {
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
      }
    }

    @include respond-to('mobile') {
      margin-top: 0;
      order: 1;
      flex-direction: column;
    }

    @media (max-width: 320px) {
      max-width: 320px;
      align-items: center;
    }
  }

  &__banner {
    display: block;
    width: 100%;
    height: 294px;
    border: 1px solid $color-gray;
  }

  &__sidebar {
    display: block;
    margin: 0 0 -6px 130px;

    @include respond-to('tablet') {
      order: 1;
      margin: 0 auto;
      display: none;

      .verphe-contacts {
        padding-bottom: 30px;

        &-wrap {
          box-shadow: none;
        }
      }
    }

    @include respond-to('mobile') {
      order: 1;
      margin: 0 auto;
      width: 320px;
      display: none;

      .verphe-contacts {
        padding-bottom: 30px;

        &-wrap {
          box-shadow: none;
        }
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: 60%;

    @include respond-to('laptop') {
      width: calc(52% + 2px);
    }

    @include respond-to('tablet') {
      order: 2;
      align-self: center;
      width: 100%;
      padding: 0 15px;
      max-width: 768px;
    }

    @include respond-to('mobile') {
      order: 2;
      width: 100%;
      padding: 0 15px;
    }
  }

  &__item {
    display: block;
    margin-bottom: 30px;
  }

  &__header {
    font-family: $NerisSemiBold;
    font-weight: 600;
    color: $color-dark-blue;
    font-size: 38px;
    text-align: center;

    @include respond-to('tablet') {
      display: none;
    }

    @include respond-to('mobile') {
      display: none;
    }
  }

  &__show-more {
    display: none;
    order: 2;
    height: 40px;
    width: 290px;
    margin: 0 auto 50px;

    @include respond-to('tablet') {
      display: block;
    }

    @include respond-to('mobile') {
      display: block;
      margin: 4px auto 41px;
    }
  }

  &__title {
    width: 100%;
    color: $color-dark-blue;
    font-size: 38px;
    font-family: $NerisSemiBold;
    font-weight: 600;
    text-align: center;
    margin-top: 65px;
    margin-bottom: 24px;

    &:nth-of-type(2) {
      margin: 80px 0 22px;

      @include respond-to('mobile') {
        margin: 6px 0 12px;
      }
    }

    @include respond-to('tablet') {
      order: 3;
      font-size: 22px;
      margin-top: 0;
      font-family: $NerisLight;
      font-weight: 300;
      margin-bottom: 16px;

      &:nth-of-type(2) {
        order: 5;
      }
    }

    @include respond-to('mobile') {
      order: 3;
      font-size: 22px;
      margin-top: 0;
      font-family: $NerisLight;
      font-weight: 300;
      margin-bottom: 16px;

      &:nth-of-type(2) {
        order: 5;
      }
    }
  }

  .timeline {
    margin: 26px 25px 0;
    padding-bottom: 56px;
    z-index: 5;
    width: 100%;

    @media (max-width: 991px) {
      order: 4;
      margin: 0;
    }
  }

  &__button {
    max-width: 165px;
    height: 40px;
    margin: 47px auto 51px;
    padding-top: 7px;

    @media (max-width: 1024px) {
      order: 8;
      margin: 0 auto 50px;
      max-width: 290px;
    }
  }

  .models {

    .swiper-container {
      padding-bottom: 83px;

      @include respond-to('tablet') {
        padding-top: 10px;
        padding-bottom: 10px;
      }

      @include respond-to('mobile') {
        padding-top: 10px;
        padding-bottom: 30px;
      }
    }
  }

  .models_sport, .models_yacht {
    padding-bottom: 30px;
    border-bottom: 1px solid $color-light-gray;

    @include respond-to('tablet') {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 49px;
    }

    @include respond-to('mobile') {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 9px;
      padding-top: 18px;
    }

    .models__header {
      margin-top: 4px;
      margin-bottom: 15px;
      font-size: 24px;

      @include respond-to('tablet') {
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 14px;
      }

      @include respond-to('mobile') {
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 14px;
      }
    }

    .swiper-container {
      width: 750px;
      padding-bottom: 0;

      @include respond-to('tablet') {
        width: 100%;
      }

      @include respond-to('mobile') {
        width: 100%;
      }

      &__swiper-pagination {
        display: none;
      }
    }

    .swiper-slide {
      height: auto;
    }
  }

  &__contacts {
    display: none;
    width: auto;
    font-family: $NerisSemiBold;
    font-weight: 600;
    color: $color-red;
    text-align: center;
    background-color: $color-white;
    border-bottom: 1px solid $color-light-gray;
    padding: 15px 0;
    padding-bottom: 34px;

    @include respond-to('tablet') {
      display: block;
      padding-bottom: 15px;
      width: 100%;
    }

    @include respond-to('mobile') {
      display: block;
      width: 100%;
      padding: 7px 0 10px;
    }
  }

  .sale-preview-item {
    margin-top: 10px !important;
    //box-shadow: 0 0 -20px 0 rgba(0, 0, 0, .15);
    //ransition: all .25s ease-in-out;

    &:hover {
      //box-shadow: 0 0 20px 0 rgba(0, 0, 0, .15);
    }

    @include respond-to('tablet') {
      align-items: flex-start;

      &__text {
        min-height: 107px;
      }

      &__img-wrap {
        height: 98px;
        align-self: center;
      }
    }

    @include respond-to('mobile') {
      flex-direction: row;
      min-height: 110px;
      align-items: flex-start;

      &__img-wrap {
        margin-right: 30px;
        width: 165px;
        height: 134px;

        @include respond-to('mobile') {
          width: 107px;
          height: 98px;
          margin-right: 3px;
          align-self: baseline;
        }
      }

      &__name {
        letter-spacing: -.4px;
      }

      &__text {
        text-align: left;
        min-height: inherit;
        padding-bottom: 4px;
        width: 172px;
        align-self: flex-end;
        max-height: 100px;
      }

      &__param {
        text-align: left;

        @include respond-to('mobile') {

          &:not(:last-child)::after {
            content: ',\00a0';
          }
        }
      }
    }

    &__img-wrap {
      height: 134px;
      width: 165px;
    }

    &__params {
      @include respond-to('mobile') {
        display: block !important;
        margin: 0;
        padding: 0;
        width: auto;
      }

      @include respond-to('tablet') {
        max-width: 170px;
      }
    }

    &__param {
      font-size: rem(12px);

      @include respond-to('mobile') {
        display: inline-block;
        text-align: center;
        float: none;
      }
    }

    &__text {
      padding: 1px 5px 5px 9px;
      margin-top: 0;
      min-height: 130px;
    }

    &__name, &__price {
      font-size: rem(16px);
    }
  }
}
