.account-profile-jur {

  .text {

    h3 {
      max-width: 555px;
      line-height: 1.4;
    }
  }

  .input-group {

    &__item {

      label {
        flex: 0 0 195px;
        font-size: 1rem !important;

        @include respond-to('mobile') {
          flex-basis: auto;
        }
      }
    }

    .upload-form {

      &__field {
        width: 360px;
        margin-right: 195px;

        @include respond-to('large-desktop') {
          margin-right: 48%;
          width: 400px;
        }

        @include respond-to('laptop') {
          margin-right: 100px;
        }

        @include respond-to('tablet') {
          margin-right: 80px;
        }

        @include respond-to('mobile') {
          margin-right: 0;
          width: 100%;
        }
      }
    }

    &_padded {
      padding: 35px 0 42px !important;
    }

    &_border-top {
      border-top: 1px solid $color-light-gray;
    }

    &__input-wrap {
      @include respond-to('laptop') {
        margin-right: 100px;
      }

      &_upload {
        display: flex;
      }
    }
  }
}
