include ../page-header/page-header
include ../container/container
include ../main-container/main-container
include ../button/button
include ../submenu/submenu
include ../image-bg/image-bg
include ../services/services
include ../banner/banner
include ../map/map
include ../gallery-popup/gallery-popup
include ../scrollable/scrollable

mixin yacht-club()
  +b.yacht-club
    +container()
      +page-header('Яхт-клуб Grand Marine', ['Главная', 'Яхт клубы', 'Яхт-клуб Grand Marine'])

    +e.box-bg
      +image-bg()(src='assets/images/yacht-club/yacht-club-banner.png')
      +image-bg()(src='assets/images/yacht-club/banner-shadow.png')._shadow
      +e('img')(src='assets/images/yacht-club/grand-marine-logo.png').__logo

    +e.submenu._default
      +container
        +e('span').club Grand Marine
        +submenu(getData('submenu-club'))

    +container#services
      +e.H2.title.jqcontrol Услуги
        +icon('caret').icon
      +services()

    +scrollable()
      +scrollable-h()#events
        +e.events
          +e.H2.title_events.jqcontrol-events.title
            span Мероприятия
            +icon('caret').icon

          - var data = getData('yacht-club');

          +e.slider._default
            +e.wrapper
              each item in data
                +e('a')(href='#').slide
                  +e.date= item.day
                  +b('span')= item.month
                  +e('div').slide-inner
                    +e('img').img(src= item.path)
                    +e.category= item.category
                    +e.name= item.title

          +e.slider._mob.swiper-container
            +e.wrapper.swiper-wrapper
              each item in data
                +e('a')(href='#').slide.swiper-slide
                  +e.date= item.day
                    +b('span')= item.month
                  +e('div').slide-inner
                    +e('img').img(src= item.path)
                    +e.category= item.category
                    +e.name= item.title
            +e.pagination.swiper-pagination

      +scrollable-v()#gallery
        +e.block
          +e.H2.title_gallery.jqcontrol Галерея
            +icon('caret').icon

          +e.gallery._mob.swiper-container
            +e.gallery-wrapper.swiper-wrapper
              +e.box-bg.swiper-slide.js-open-modal(data-target-modal='#gallery-popup')
                +image-bg()(src='assets/images/yacht-club/gallery-1.jpg')
              +e.box-bg.swiper-slide.js-open-modal(data-target-modal='#gallery-popup2')
                +image-bg()(src='assets/images/yacht-club/gallery-2.jpg')
              +e.box-bg.swiper-slide.js-open-modal(data-target-modal='#gallery-popup3')
                +image-bg()(src='assets/images/yacht-club/gallery-3.jpg')
            +e.pagination.swiper-pagination

          +e.gallery._default
            +e.__gallery-slider
              +e.box-bg.js-open-modal(data-target-modal='#gallery-popup')
                +image-bg()(src='assets/images/yacht-club/gallery-1.jpg')
              +e.box-bg.js-open-modal(data-target-modal='#gallery-popup2')
                +image-bg()(src='assets/images/yacht-club/gallery-2.jpg')

    +scrollable()

      +scrollable-h()
        +e.gallery._default._last
          +e.box-bg.js-open-modal(data-target-modal='#gallery-popup3')
            +image-bg()(src='assets/images/yacht-club/gallery-3.jpg')

      +scrollable-v()#contacts
        +e.block
          +container()
            +e.H2.title_contacts.jqcontrol Контакты
              +icon('caret').icon
            +b.contacts
              +e.table
                +e.item
                  +e('span').title Наш адрес:
                  +e('span').descr г.Москва, ул. Речников, д.7
                +e.item
                  +e('span').title GPS координаты:
                  +e('span').descr.__coord N 55°41’19,7” E 037°41’53,6”
                +e.item
                  +e('span').title Телефон:
                  +e('span').descr +7 (495) 568-78-32
                +e.item
                  +e('span').title Email:
                  +e('span').descr nagatino@mrpclub.ru
                +e.item
                  +e('span').title График работы:
                  +e('span').descr Круглосуточно.
              +e.map_contacts
                +map()

              +e.banner-bottom
                +banner('#', 'assets/images/banner.jpg')._overlay
                  +e('img')(src='assets/images/banner-img.png').little

  +gallery-popup()

