include ../page-header/page-header
include ../container/container
include ../main-container/main-container
include ../button/button
include ../submenu/submenu
include ../image-bg/image-bg
include ../services/services
include ../banner/banner
include ../map/map
include ../gallery-popup/gallery-popup

mixin yacht-club()
  +b.yacht-club
    +container()
      +page-header('Яхт-клуб Grand Marine', ['Главная', 'Яхт клубы', 'Яхт-клуб Grand Marine'])
      +e.box-bg
        +image-bg()(src='assets/images/yacht-club/yacht-club-banner.png')
        +image-bg()(src='assets/images/yacht-club/banner-shadow.png')._shadow
        +e('img')(src='assets/images/yacht-club/grand-marine-logo.png').__logo
      +main-container().yacht-club__main-container
        +e.submenu._default
          +container
            +e('span').club Grand Marine
            +submenu(getData('submenu-club'))
        +e.H2.title.jqcontrol Услуги
          +icon('caret').icon._kind_caret
        +services()
        +e.slider.swiper-container
          +e.H2.title_events.jqcontrol-events.title
            span Мероприятия
            +icon('caret').icon._kind_caret
          +e.wrapper.swiper-wrapper
            +e.slide.swiper-slide
              +e.date 06
                +b('span') января
              +e.slide-inner
                +e('img').img(src='assets/images/events-slide.jpg')
                +e.category Яхтинг в россии
                +e.name PROyachting проведет третий этап. Конференция любителей яхт.
            +e.slide.swiper-slide
              +e.date 06
                +b('span') января
              +e.slide-inner
                +e('img').img(src='assets/images/events-slide.jpg')
                +e.category Яхтинг в россии
                +e.name PROyachting проведет третий этап. Конференция любителей яхт.
            +e.slide.swiper-slide
              +e.date 06
                +b('span') января
              +e.slide-inner
                +e('img').img(src='assets/images/events-slide.jpg')
                +e.category Яхтинг в россии
                +e.name PROyachting проведет третий этап. Конференция любителей яхт.
            +e.slide.swiper-slide
              +e.date 06
                +b('span') января
              +e.slide-inner
                +e('img').img(src='assets/images/events-slide.jpg')
                +e.category Яхтинг в россии
                +e.name PROyachting проведет третий этап. Конференция любителей яхт.
            +e.slide.swiper-slide
              +e.date 06
                +b('span') января
              +e.slide-inner
                +e('img').img(src='assets/images/events-slide.jpg')
                +e.category Яхтинг в россии
                +e.name PROyachting проведет третий этап. Конференция любителей яхт.
          +e.events__swiper-pagination
        +e.H2.title_gallery.jqcontrol Галерея
          +icon('caret').icon._kind_caret
        +e.gallery.swiper-container
          +e.__gallery-slider
            +e.box-bg.swiper-slide.js-open-modal(data-target-modal='#gallery-popup')
              +image-bg()(src='assets/images/yacht-club/gallery-1.jpg')
            +e.box-bg.swiper-slide.js-open-modal(data-target-modal='#gallery-popup2')
              +image-bg()(src='assets/images/yacht-club/gallery-2.jpg')
            +e.box-bg.swiper-slide.js-open-modal(data-target-modal='#gallery-popup3')
              +image-bg()(src='assets/images/yacht-club/gallery-3.jpg')
          +e.swiper-pagination
        +e.H2.title_contacts.jqcontrol Контакты
          +icon('caret').icon._kind_caret
        +b.contacts
          +e.table
            +e.item
              +e('span').title Наш адрес:
              +e('span').descr г.Москва, ул. Речников, д.7
            +e.item
              +e('span').title GPS координаты:
              +e('span').descr.__coord N 55°41’19,7” E 037°41’53,6”
            +e.item
              +e('span').title Телефон:
              +e('span').descr +7 (495) 568-78-32
            +e.item
              +e('span').title Email:
              +e('span').descr nagatino@mrpclub.ru
            +e.item
              +e('span').title График работы:
              +e('span').descr Круглосуточно.
          +map()
        +e.banner-bottom
          +banner('#', 'assets/images/banner.jpg')._overlay
              +e('img')(src='assets/images/banner-img.png').little
              
  +gallery-popup()
  
