.yacht-club {
  display: block;
  flex: 1 0 auto;

  .page-header {
    background-color: $color-white;
  }

  &__main-container {
    margin-bottom: 30px;
  }

  &__box-bg {
    position: relative;
    height: 400px;
    width: 100%;
    display: block;

    .image-bg {
      height: 100%;
      z-index: 1;
    }

    .image-bg_shadow {
      opacity: .7;
    }
  }
  &__submenu {
    position: relative;

    .yacht-club__name {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 30px;
      z-index: 1;
      font-size: 24px;
    }

    .submenu {
      padding-left: 400px;
    }
  }

  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  &__title {
    color: $color-dark-blue;
    font-size: 38px;
    font-weight: 600;
    font-family: $NerisSemiBold;
    text-align: center;
    margin: 42px auto 80px;

    &_white {
      color: $color-white;
    }

    &:nth-of-type(2) {
      margin: 75px auto 49px;
    }

    &:nth-of-type(3) {
      margin: 75px auto 49px;
    }

    &:nth-of-type(4) {
      margin: 75px auto 51px;
    }
  }

  &__gallery {

    .yacht-club__box-bg {
      margin-bottom: 30px;
      height: 500px;
    }
  }

  .contacts {

    &__table {
      display: table;
      margin: 0 auto;
      border-spacing: 13px;
      margin-bottom: 24px;
    }

    &__item {
      display: table-row;
      font-size: 16px;
    }

    &__title, &__descr {
      display: table-cell;
    }

    &__title {
      color: $color-gray;
      text-align: right;
    }

    &__descr {
      font-family: $NerisBlack;
    }
  }

  &__banner-bottom {
    display: block;
    width: 100%;
    height: 90px;
    margin-top: 35px;

    @include respond-to('laptop') {
      display: none;
    }
  }
}
