.yacht-club {
  display: block;
  flex: 1 0 auto;

  .page-header {
    background-color: $color-white;
  }

  &__main-container {
    display: flex !important;
    flex-flow: row wrap;
  }

  &__box-bg {
    position: relative;
    height: 400px;
    width: 100%;
    display: block;

    .image-bg {
      height: 100%;
      z-index: 1;
    }

    .image-bg_shadow {
      opacity: 0.7;
    }
  }

  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  &__title {
    color: $color-dark-blue;
    font-size: 38px;
    font-weight: 600;
    font-family: $NerisSemiBold;
    text-align: center;
    margin: 65px auto 80px;

    &:nth-of-type(2) {
      margin: 59px auto 22px;
    }
  }
}
